@import '~tracim_frontend_lib/src/css/Variable.styl'

.filecontent
  &__form
    border 1px dashed grey
    padding standardSpacing
    cursor pointer
    &__icon
      margin-top standardSpacing
      font-size 30px
      color fileColor
    &__instruction
      font-size 20px
      color fileColor
    &__text
      margin-bottom 20px
