@import "~tracim_frontend_lib/src/css/Variable.styl"

.genericcontent
  &__close
    cursor pointer
  &__contentname
    &__icon
      font-size bigIconSize
    &__title
      font-size fontSizeTitle
      color htmlColor
  &__form
    &__input
      & > input
        border 1px solid grey
        border-radius 5px
        padding 5px
