@import "~tracim_frontend_lib/src/css/Variable.styl"

.wscontent
  &__close
    cursor pointer
  &__contentname
    &__title
      font-size fontSizeMedium
      color htmlColor
  &__form
    &__input
      & > input
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px;
        width: 353PX;
