@import "../../css/Variable.styl"

.shareLink
  display flex
  width 100%
  min-height 50px
  &:nth-child(even)
    background-color offWhite
  &__icon
    font-size 25px
    margin 5px 10px
    color grey
    &__unprotected
      margin-right 10px
  &__linkInfos
    flex-grow 2
    &__link
      font-size 14px
      color grey
