@import "../../css/Variable.styl"

.shareLink
  display flex
  height 65px
  background-color offWhite
  border-bottom 1px solid mediumGrey
  margin 0 20px
  &:last-child
    border none
  &__icon
    font-size bigIconSize
    margin auto standardSpacing
    color grey
    &__unprotected
      margin-right standardSpacing
  &__linkInfos
    margin auto 0
    flex 1
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    &__email
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    &__link
      font-size metadataFontSize
      color grey
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
