@import "../../css/Variable.styl"

.shareLink
  display flex
  width 96%
  height 65px
  background-color offWhite
  border-bottom 1px solid mediumGrey
  margin 0 auto
  &:last-child
    border none
  &__icon
    font-size 25px
    margin auto 10px
    color grey
    &__unprotected
      margin-right 10px
  &__linkInfos
    flex-grow 2
    margin auto
    &__link
      font-size 14px
      color grey
