.mention
  border-radius 5px
  background-color #dcffff
  direction ltr
  font-weight bold
  &-me
    background-color #fff1b9

.transparentButton
  cursor pointer
  border none
  background none
  &:active
    outline none
