.mention
  border-radius 5px
  background-color #dcffff
  direction ltr
  font-weight bold
  &-v2
    // TODO - MP - 2022-11-29 - I went too far, this is not required
    // but it would be dope that we can click on the mention
    cursor pointer
  &-me
    background-color #fff1b9

.transparentButton
  cursor pointer
  border none
  background none
  &:active
    outline none
