span.mention
  font-weight bold
span.mention-me
  background-color #FFEDA2


.transparentButton
  cursor pointer
  border none
  background none
  &:active
    outline none

.internal_link
  color green
    &:hover
      border-bottom 1px solid