@import "./Variable.styl"

.iconbutton
  padding 10px 15px
  margin 0 auto
  cursor pointer
  border-radius: 5px
  border-width: 0px
  height: min-content
  white-space: pre

  &:disabled
    opacity: 0.65
    cursor not-allowed

  &__dark
    color fontColor
  &__light
    color offWhite

  &__primary
    background-color: var(--primaryColor)
  &__primary:hover
    background-color: var(--primaryDarkColor)

  &__secondary
    background-color: transparent
  &__secondary:hover
    background-color: rgba(0, 0, 0, 0.1)

  &__secondary_light
    border-color: offWhite
    border-width: 1px
  &__secondary_dark
    border-color: var(--primaryDarkColor)
    border-width: 1px
  &__label
    white-space pre
