/*************************/
/**** COLOR ****/
fontColor = #252525

darkGrey = #252525
rgbGrey = rgba(25,25,25,0.3)
lightDarkGrey = #595959
mediumDarkGrey = #999
mediumGrey = #cecece
grey = #ababab
grey-hover = #e8e8e8
lightGrey = #f0f0f0
veryLightGrey = #f6f6f6
errorRed = #dc3545
warningOrange = #f2a027
lightBlue = #3F9FF7

offWhite = #fdfdfd

/*************************/
/**** SIZE ****/

headerHeight = 61px // INFO - CH - 2019-04-19 - the total header height. Used to calculate height of layout like height: "calc(100% - %s)" % headerHeight

fontSizeTitle = 25px
fontSizeMedium = 20px
fontSizeSmall = 14px
listItemHeight = 5px
popupWidth = 420px

/*************************/
/**** BOX SHADOW ****/
shadow-bottom = 0px 0px 5px 1px #606060
shadow-right = 2px 2px 5px 0px #404040
shadow-all = 1px 1px 5px 2px #ababab
shadow-half = 1px 1px 1px 1px #ababab

/***********************/
/**** MEDIA QUERIES ****/
min-xs = 0px
max-xs = 575px

min-sm = 576px
max-sm = 767px

min-md = 768px
max-md = 991px

min-lg = 992px
max-lg = 1199px

min-xl = 1200px
