/*************************/
/**** COLOR ****/
fontColor = #252525

darkGrey = #252525
rgbGrey = rgba(25,25,25,0.3)
lightDarkGrey = #595959
mediumDarkGrey = #999
mediumGrey = #cecece
grey = #ababab
grey-hover = #e8e8e8
lightGrey = #f0f0f0
veryLightGrey = #f6f6f6
errorRed = #dc3545
warningOrange = #f2a027
lightBlue = #3F9FF7
bootstrapLinkColor = #007bff // This color comes from bootstrap

offWhite = #fdfdfd

/*************************/
/**** SIZE ****/

headerHeight = 61px // INFO - CH - 2019-04-19 - the total header height. Used to calculate height of layout like height: "calc(100% - %s)" % headerHeight

fontSizeTitle = 25px
fontSizeMedium = 20px
fontSizeSmall = 14px
listItemHeight = 5px
popupWidth = 420px
bigIconSize = 30px

/*************************/
/**** BOX SHADOW ****/
shadow-bottom = 0px 0px 5px 1px #606060
shadow-right = 2px 2px 5px 0px #404040
shadow-all = 1px 1px 5px 2px #ababab
shadow-half = 1px 1px 1px 1px #ababab

/***********************/
/**** MEDIA QUERIES ****/

json('../screenSizes.json')

min-xs = unit(MIN_XS, px)
max-xs = unit(MAX_XS, px)

min-sm = unit(MIN_SM, px)
max-sm = unit(MAX_SM, px)

min-md = unit(MIN_MD, px)
max-md = unit(MAX_MD, px)

min-lg = unit(MIN_LG, px)
max-lg = unit(MAX_LG, px)

min-xl = unit(MIN_XL, px)
