@import '../../css/Variable.styl'

.AddFileToCommentButton
  background-color transparent
  border none
  margin-inline-end 8px
  font-size fontSizeTitle
  cursor pointer
  &.iconbutton
    padding 3px 6px
