@import '../../css/Variable.styl'

.AddFileToCommentButton
  background-color transparent
  font-size titleFontSize
  &.iconbutton
    margin-inline-end textSpacing
    padding textSpacing
    & > .iconbutton__icon
      margin 0
