@import '../../css/Variable.styl'

.comment
  &.sent
    padding-left 5%
    margin-left auto
  &.received
    padding-right 5%
    margin-right auto
  &__body
    border-radius 5px
    padding 15px 15px 15px 20px
    border 1px solid darkGrey
    background-color offWhite
    display flex
    flex-direction column
    &__content
      flex 1
      display flex
      &__text
        margin-top 10px
        width calc(100% - 50px) // 50px is the avatar size
      &__textAndPreview
        margin-left 20px
        width calc(100% - 50px) // 50px is the avatar size
      &__actions
        padding 0
        color grey
        &::after
          display none
        &:hover
          color fontColor
    &__date
      font-size 12px
    &__text
      margin-top 10px
    img
      max-width 100%
      height auto
  &__footer
    display flex
    justify-content space-between
