@import '../../css/Variable.styl'

.comment
  &.sent
    padding-left 5%
    margin-left auto
  &.received
    padding-right 5%
    margin-right auto
  &__body
    border-radius 5px
    padding 15px 15px 15px 20px
    border 1px solid darkGrey
    background-color offWhite
    display flex
    flex-direction column
    &__content
      display flex
      &__text
        width calc(100% - 44px) // 44px is the avatar size
    &__author
      margin-left 20px
    &__date
      margin-left 20px
      font-size 12px
    &__text
      margin-left 20px
      margin-top 10px
    p img
      max-width 100%
      height auto
