@import '../../css/Variable.styl'

.comment
  &.sent
    padding-left 5%
  &.received
    padding-right 5%
  p
    margin 0
  &__header
    &__text
      display flex
      justify-content space-between
      width 100%
      color grey
    &__avatar
      position absolute
      top 5px
    ^[0].received ^[1] // renders .comment.received .comment__header
      &__avatar
        left -20px
        top 5px
      &__text
        padding-left calc(5% + 16px)
        padding-right 15px
    ^[0].sent ^[1] // .comment.sent .comment__header
      &__text
        padding-right calc(5% + 15px)
        padding-left 15px
      &__avatar
        display block
        top 5px
        left auto
        right -20px
  &__body
    border-radius 5px
    padding 15px 15px 15px 20px


/*** MEDIA XS ***/

@media(max-width: max-xs)

  .comment
    &.received
      .comment__header__text
        padding-left calc(5% + 16px)
        padding-right 15px
    &.sent
      .comment__header__text
        padding-right calc(5% + 16px)
        padding-left 15px
