@import '../../css/Variable.styl'

.DisplayFileToUpload
  width max-content
  &:hover
    color fontColor
    .DisplayFileToUpload__message__text
      text-decoration underline
  &__message
    display flex
    align-items center
    padding-inline-start 8px
    cursor pointer
    font-size metadataFontSize
    & > &__iconFile, & > &__text
      margin-inline-end 5px
    & > &__iconFile, & > &__listIcon
      font-size standardFontSize
    &__listIcon
      color darkGrey1
  &__popover__item
    display flex
    align-items center
    padding-top standardSpacing
    & > &__iconFile, & > &__text
      margin-inline-end 5px
    &__iconFile.inError
      color errorRed
    &__text
      flex-grow 1
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
    &__deleteBtn
      cursor pointer

.popoverFileToUploadList
  & .popover-body
    padding 0
