@import '../../css/Variable.styl'

.editCommentPopup
  & .cardPopup__container
    width auto
  & .cardPopup__body
    flex-direction column
  &__title
    font-size titleFontSize
    margin-inline-end auto
    margin-bottom standardSpacing
  &__buttons
    display flex
    justify-content flex-end
    width 100%
    margin-top standardSpacing
    & .iconbutton
      margin-inline-start standardSpacing
  & .autocomplete
    width auto
    left unset
