@import '../../css/Variable.styl'

.editCommentPopup
  & .cardPopup__container
    width auto
  & .cardPopup__body
    flex-direction column
  &__title
    font-size fontSizeMedium
    margin-right auto
    margin-bottom 10px
  &__buttons
    display flex
    justify-content flex-end
    width 100%
    margin-top 10px
    & .iconbutton
      margin-left 10px
  & .autocomplete
    width auto
    left unset
