@import '../../css/Variable.styl'

.RevisionGroup
  display flex
  flex-direction row
  justify-content flex-start
  align-items center
  width 100%
  margin 0 auto
  padding 10px
  height 65px
  background-color offWhite
  &__icon
    width 20px
    margin-inline-start 25px
  &__label
    margin-inline-start 15px
  &__date
    flex-grow 1
    text-align right
    font-size 14px
