@import '../../css/Variable.styl'

.revision
  align-items center
  margin-top 20px
  padding 10px 15px
  width 100%
  background-color offWhite
  &__data
    display flex
    align-items center
    &__nb
      display inline-block
      min-width 20px
      text-align right
      margin-right 5px
      font-weight bold
    &__icon
      margin-right 5px
    &__created
      margin-left auto
      text-align right
  &__date
    color grey
    font-size 17px
    margin auto 15px auto auto
