@import '../../css/Variable.styl'

.revision
  width 100%
  background-color offWhite
  margin 0 auto
  border-top 1px solid mediumGrey
  height 65px
  display flex
  flex-direction column
  &:first-child
    border none
  &__data
    display flex
    align-items center
    margin auto standardSpacing
    &__nb
      display inline-block
      min-width 20px
      text-align right
      margin-right 5px
    &__icon
      margin-right 5px
    &__infos
      width 100%
      padding-left 15px
      &__created
        margin-left auto
        text-align right
        font-size fontSizeMetadata
      &__author
        font-size fontSizeMetadata
