@import '../../css/Variable.styl'

.timeline
  display flex
  flex-direction column
  width calc(100% - 65px) // 65px is the width of the rightPart header
  height 100%
  & a
    color #007bff
    &:hover
      color #007bff
      text-decoration underline
  & p
    margin 0
    padding 0
  &__title
    margin 10px 15px
    padding 10px
    font-size 20px
  &__body
    display flex
    flex-direction column
    width 100%
    height 100%
    &__messagelist
      flex 1 1 auto
      margin-bottom 0
      padding 5px
      border-bottom 1px solid grey
      overflow-y auto
      list-style none
      &__item
        position relative
        margin 10px 0
        width 100%
        & + .revision
          border none
    &__texteditor
      flex 0 1 auto
      margin 20px
      &__textinput
        width 100%
        & > textarea
          border-radius 5px
          border 1.5px solid grey
          padding 5px
          height 80px
          width 100%
      &__wrapper
        display flex
        align-items center
        justify-content flex-end
        margin-top 10px
      &__advancedtext
        margin-right 15px
      &__submit
        &__btn
          display inline-block
          cursor pointer
          &__icon
            display inline-block
            margin-left 20px
    &__warning
      position absolute
      width calc(100% - 20px)
      padding-left 5px
      z-index 1

.mce-btn-group:not(:first-child)
  border-left none!important //remove the left borders of the wysiwyg for a better aesthetic result

// MEDIAQUERIES

columnTimeline()
  .timeline
    display flex
    flex-direction column
    margin 0
    height calc(100% - 65px) // 65px is the width of the rightPart header
    width 100%
    &__header
      flex-direction row
      width 100%
      height 50px
      cursor auto
      &__icon
        display none
      &__title
        display flex
        justify-content center
        align-items center
        transform none
        width 100%


@media (min-width: min-lg) and (max-width: max-lg)
  columnTimeline()

@media (min-width: min-md) and (max-width: max-md)
  columnTimeline()

@media (min-width: min-sm) and (max-width: max-sm)
  columnTimeline()

@media (max-width: max-xs)
  columnTimeline()
  .timeline
    height 100%
    &__body
      &__messagelist
        &__version__date
          font-size 15px
      &__texteditor__advancedtext__btn
        display none

