@import '../../css/Variable.styl'

.timeline
  display flex
  flex-direction column
  width calc(100% - 65px) // 65px is the width of the rightPart header
  height 100%
  & p:first-child
    margin-top 0
    padding-top 0
  & p:last-child
    margin-bottom 0
    padding-bottom 0
  &__title
    margin standardSpacing 15px
    padding standardSpacing
    font-size titleFontSize
  &__messagelist
    flex 1 1 auto
    margin-bottom 0
    padding standardSpacing
    overflow-y auto
    overflow-x visible
    > .ScrollToBottomContents
      display flex
      flex-direction column
    &__showMoreButton
      margin-inline-start auto
      margin-inline-end auto
      margin-block-end standardSpacing
    &__item
      position relative
      margin standardSpacing 0
      width 100%
      & + .revision
        border none
  &__warning
      position absolute
      width calc(100% - 20px)
      padding-left 5px
      z-index 1
  &__texteditor
    position relative
    flex 0 1 auto
    margin standardSpacing
    &__mentions
      font-weight bold
      margin standardSpacing 0
    &__autocomplete
      position absolute
      width 100%
      background-color offWhite
      border-radius 5px
      font-size metadataFontSize
      &__delimiter
        height 2px
        margin 5px 20px
        background-color grey
      &__item
        padding 1px standardSpacing
        cursor pointer
        &__active
          background-color grey-hover
    &__textinput
      width 100%
      & > textarea
        border-radius 5px
        border 1.5px solid grey
        padding 5px
        height 80px
        width 100%
    &__wrapper
      display flex
      align-items flex-start
      justify-content flex-end
      margin-top standardSpacing
      height 42px
    &__advancedtext
      width 100%
      margin-right 15px
      &__btn
        width max-content
        border none
        background-color transparent
        color mediumDarkGrey
        cursor pointer
        font-size metadataFontSize
        &:hover
          color darkGrey
          text-decoration underline
        &:disabled
          cursor not-allowed
          &:hover
            color mediumDarkGrey
    &__submit
      display flex
      &__btn
        display inline-block
        cursor pointer
        &__icon
          display inline-block
          margin-left 20px

.mce-btn-group:not(:first-child)
  border-left none!important //remove the left borders of the wysiwyg for a better aesthetic result

// INFO - CH - 2020-05-12 - this overrides the "height: auto" of tinymce to fix responsive issue https://github.com/tracim/tracim/issues/3026
.mce-container:not(.mce-fullscreen) .mce-edit-area
  height 100px

// MEDIAQUERIES

columnTimeline()
  .timeline
    display flex
    flex-direction column
    margin 0
    height calc(100% - 65px) // 65px is the width of the rightPart header
    width 100%
    &__header
      flex-direction row
      width 100%
      height 50px
      cursor auto
      &__icon
        display none
      &__title
        display flex
        justify-content center
        align-items center
        transform none
        width 100%


@media (min-width: min-lg) and (max-width: max-lg)
  columnTimeline()

@media (min-width: min-md) and (max-width: max-md)
  columnTimeline()

@media (min-width: min-sm) and (max-width: max-sm)
  columnTimeline()

@media (max-width: max-xs)
  columnTimeline()
  .timeline
    height 100%
    &__messagelist
      &__version__date
        font-size metadataFontSize
    &__texteditor__advancedtext__btn
      display none
