@import '../../css/Variable.styl'

.popupCreateContentOverlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index zIndexOverHeader
  background-color rgba(240, 240, 240, 0.2)
.popupCreateContent
  position fixed
  left 0
  display flex
  justify-content center
  width 100%
  .cardPopup__container
    border 0
    border-radius 10px
    width popupWidth
    background lightGrey
    box-shadow shadow-all
  &__header
    border-top-right-radius 10px
    border-top-left-radius 10px
    width 100%
    height 8px
  .createcontent
    width 100%
    &__close
      cursor pointer
    &__contentname
      display flex
      align-items baseline
      &__icon
        font-size bigIconSize
      &__title
        font-size fontSizeTitle
    &__form
      &__input
        width 100%
        border 1px solid grey
        border-radius 5px
        margin-bottom 25px
        padding 5px
      &__button
        display flex
        justify-content flex-end
        & > button
          cursor pointer
        &:disabled
          cursor not-allowed

.createcontent
  &__contentname
    margin-bottom 1.5rem
    &__icon
      margin-right 1rem
      margin-left 0.25rem

// MEDIAQUERIES

@media (max-width: max-xs)
  .popupCreateContent
    padding 15px
