@import '../../css/Variable.styl'

.cardPopup
  position fixed
  top calc(50% - 113px)
  left 0
  display flex
  justify-content center
  width 100%
  z-index 32
  &__container
    border 0
    border-radius standardBorderRadius
    width 800px
    background lightGrey
    box-shadow shadow-all
  &__border
    border-top-right-radius standardBorderRadius
    border-top-left-radius standardBorderRadius
    width 100%
    height standardSpacing
  &__header
    display flex
    justify-content space-between
    padding pageSpacing
    align-items center
    &__title
      display flex
      font-size titleFontSize
      &__icon
        margin-inline-end standardSpacing
    &__close
      margin-inline-start auto
  &__body
    display flex
    overflow auto
    flex 1
    align-items center
    padding 0 pageSpacing pageSpacing
    &__close_btn
      margin-inline-start auto

.callpopup
  width 300px
  &__text
    margin-bottom standardSpacing
  &__body
    width 100%
    &__btn
      margin textSpacing standardSpacing
      display flex
      justify-content flex-end
      & > .iconbutton
        margin-inline-start standardSpacing

.openCallButton
  margin-inline-start standardSpacing
  // FIXME - MB - 2022-01-05 - this should be removed when a LinkButton is created
  // see https://github.com/tracim/tracim/issues/5242

@media (max-width: max-xs)
  .cardPopup
    &__header
      padding standardSpacing
    &__body
      padding 0 standardSpacing standardSpacing
