@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"
.messagelistOpen
  .timeline__messagelist
    flex 0
    min-height 0

.received
  .timeline__messagelist__item__content
    background-color htmlColor
