[uwsgi]
plugins = python3
chdir = /tracim/backend/
module = wsgi.web:application
env = TRACIM_CONF_PATH=/etc/tracim/development.ini
# uwsgi protocol socket, only enabled for tracim_web
#socket = :8081
http-socket = :8080
socket-timeout = 360
#workers = 4
#threads = 4
logto = /var/tracim/logs/tracim_web.log
for-readline = /var/tracim/data/tracim_env_variables
  env = %(_)
endfor =
