@import "../../../css/Variable.styl"

.noHoverListItem
  display flex
  justify-content space-between
  background-color offWhite
  height 65px
  border-bottom 1px solid #cecece
  margin 0 20px
  align-items center
  padding 5px
  &:last-child
    border none
