@import "../../../css/Variable.styl"

.noHoverListItem
  display flex
  justify-content space-between
  background-color offWhite
  height 60px
  border-bottom 1px solid #cecece
  margin 0 standardSpacing
  align-items center
  padding standardSpacing
  &:last-child
    border none
