@import '../../css/Variable.styl'

.promptMessage
  display flex
  align-items center
  justify-content space-between
  margin 0 standardSpacing standardSpacing
  padding textSpacing
  background-color #fee498
  border-radius standardBorderRadius
  &__msg > i
    margin-right textSpacing
  &__btn
    cursor pointer
    padding 0 standardSpacing
    &.link
      border none
      background-color transparent
  & > i
    margin-right 8px
  &.link
    color #453d9b
    &:hover
      color #1a0dab
      text-decoration underline
