<VirtualHost *:80>

    Alias "/assets" "/tracim/frontend/dist/assets"
    Alias "/favicon.ico" "/tracim/frontend/dist/assets/favicon.ico"
    <Directory "/tracim/frontend/dist/assets">
        Require all granted
    </Directory>

    Alias "/app" "/tracim/frontend/dist/app"
    <Directory "/tracim/frontend/dist/app">
        Require all granted
    </Directory>

    #<Directory "/">
    #    Require all granted
    #    Dav On
    #</Directory>

    ProxyPreserveHost On

    #ProxyPass /webdav http://127.0.0.1:3030/webdav
    #ProxyPassReverse /webdav http://127.0.0.1:3030/webdav

    ProxyPass /ui http://127.0.0.1:8080/ui
    ProxyPassReverse /ui http://127.0.0.1:8080/ui

    ProxyPass /api http://127.0.0.1:8080/api
    ProxyPassReverse /api http://127.0.0.1:8080/api

    ProxyPassMatch ^/$ http://localhost:8080
    ProxyPassReverse ^/$ http://127.0.0.1:8080

    CustomLog /var/tracim/logs/apache2-access.log combined
    ErrorLog /var/tracim/logs/apache2-error.log

</VirtualHost>
