<VirtualHost *:80>

    Alias "/assets" "/tracim/frontend/dist/assets"
    Alias "/favicon.ico" "/tracim/frontend/dist/assets/favicon.ico"
    <Directory "/tracim/frontend/dist/assets">
        Require all granted
        RequestHeader edit "If-None-Match" '^"((.*)-(gzip|br))"$' '"$1", "$2"'
        <IfModule mod_expires.c>
            ExpiresActive On
            ExpiresDefault "access plus 1 months"
        </IfModule>
    </Directory>

    Alias "/app" "/tracim/frontend/dist/app"
    <Directory "/tracim/frontend/dist/app">
        Require all granted
        RequestHeader edit "If-None-Match" '^"((.*)-(gzip|br))"$' '"$1", "$2"'
        <IfModule mod_expires.c>
            ExpiresActive On
            ExpiresDefault "access plus 1 months"
        </IfModule>
    </Directory>

    SetEnv proxy-sendcl

    # Proxying Webdav
    <Location /webdav>
        # Setting Destination header from https to http in proxy
        # is needed for working move/copy in webdav
        RequestHeader edit Destination ^https http early
        # Preserving host is needed for working move/copy in webdav
        ProxyPreserveHost On
        #ProxyPass http://127.0.0.1:3030/webdav
        #ProxyPassReverse http://127.0.0.1:3030/webdav
    </Location>

    # Proxying Caldav
    #ProxyPass /agenda http://127.0.0.1:8080/agenda
    #ProxyPassReverse /agenda http://127.0.0.1:8080/agenda

    # Proxying Frontend
    ProxyPass /ui http://127.0.0.1:8080/ui
    ProxyPassReverse /ui http://127.0.0.1:8080/ui

    # Proxying Tracim Live Message to Pushpin
    ProxyPassMatch /api/users/(.*/live_messages)$ http://127.0.0.1:7999/api/users/$1
    ProxyPassReverse /api/users/(.*/live_messages)$ http://127.0.0.1:7999/api/users/$1

    # Proxying Backend API
    ProxyPass /api http://127.0.0.1:8080/api
    ProxyPassReverse /api http://127.0.0.1:8080/api

    ProxyPass /custom_toolbox-assets http://127.0.0.1:8080/custom_toolbox-assets
    ProxyPassReverse /custom_toolbox-assets http://127.0.0.1:8080/custom_toolbox-assets

    ProxyPassMatch ^/$ http://localhost:8080
    ProxyPassReverse ^/$ http://127.0.0.1:8080

    CustomLog /var/tracim/logs/apache2-access.log combined
    ErrorLog /var/tracim/logs/apache2-error.log

</VirtualHost>
