[uwsgi]
plugins = python3
chdir = /tracim/backend/
module = wsgi.web:application
env = TRACIM_CONF_PATH=/etc/tracim/development.ini
http-socket = :8080
socket-timeout = 360
#workers = 1
#threads = 8
logto = /var/tracim/logs/tracim_web.log
for-readline = /var/tracim/data/tracim_env_variable
  env = %(_)
endfor =
