import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  ...defaultDebug,
  config: {
    ...defaultDebug.config,
    slug: 'collaborative_document_edition',
    faIcon: 'paperclip',
    hexcolor: '#ffa500',
    creationLabel: 'Upload a file',
    label: 'File',
    system: {
      ...defaultDebug.config.system,
      config: {
        ...defaultDebug.config.system.config,
        collaborative_document_edition: {
          software: 'collabora'
        }
      }
    },
    PAGE: {
      WORKSPACE: {
        CONTENT_EDITION: (workspaceId, contentId) => `/workspaces/${workspaceId}/content/file/${contentId}`
      }
    }
  },
  content: {
    ...defaultDebug.content,
    content_id: 0,
    content_type: 'file',
    workspace_id: 0
  },
  folderId: 0
}
