@import "../../css/Variable.styl"

.pageWrapperGeneric
  &__header
    display flex
  &__content
    margin standardSpacing standardSpacing 120px standardSpacing

.pageTitleGeneric
  position relative
  padding-left pageSpacing
  padding-inline-end pageSpacing
  width 100%
  background-color offWhite
  border-bottom borderStyle
  min-height headerHeight
  display flex
  flex-direction column
  justify-content center
  &__title
    display flex
    align-items center
    font-size titleFontSize
    &__icon > i
      margin-right standardSpacing
    &__label
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
  &__subtitle
    margin-top 15px

.pageContentGeneric
  padding pageSpacing
  width 100%
  height 100%

@media (min-width: min-md) and (max-width: max-md)
  .pageWrapperGeneric
    display block
    &__header
      margin-top 95px
      margin-inline-end 0
      margin-bottom textSpacing
      margin-inline-start pageSpacing
    &__content
      margin 0

@media (min-width: min-sm) and (max-width: max-sm)
  .pageWrapperGeneric
    display block
    &__header
      margin 95px 0 35px 0
      &__title
        display inline-block
        margin-left 0
    &__content
      margin 0

@media (max-width: max-xs)
  .pageWrapperGeneric
    display block
    &__header
      display block
      margin-top 60px
    &__content
      margin 0
  .pageContentGeneric
    padding standardSpacing

#appFullscreenContainer > div[data-radium="true"] > .pageWrapperGeneric
  width auto
  height auto
  overflow-y auto
