@import "~tracim_frontend_lib/src/css/Variable.styl"

#agendaIframe
  width 100%
  height 100%
  border none

.pageWrapperGeneric.agendaPage
  height 100%
.pageContentGeneric.agendaPage
  height "calc(100% - %s)" % headerHeight

.agendaPage
  &__warningMessage
    position absolute
    right 100px
    top 80px

@media (max-width: max-lg)
  .agendaPage
    &__warningMessage
      top 20px

@media (max-width: max-sm)
  .pageContentGeneric.agendaPage
    padding standardSpacing
