@import "../../css/Variable.styl"

.html-content
  font-size fontSizeSmall
  overflow-wrap anywhere

.html-content--translated
  border-left-width 2px
  border-left-style solid
  padding-left 5px
  color lightDarkGrey
