@import "../../css/Variable.styl"

.html-content
  font-size standardFontSize
  overflow-wrap anywhere
  & > *
    white-space inherit
  &--translated
    border-inline-start-width 2px
    border-inline-start-style solid
    padding-inline-start textSpacing
    color lightDarkGrey
    overflow-wrap anywhere
  & p
    unicode-bidi plaintext
