
@import "~tracim_frontend_lib/src/css/Variable.styl"

.thread
  .comment
    &.received
      .comment__header__text
        padding-left calc(5% + 4px)
        padding-right 0
    &.sent
      .comment__header__text
        padding-right calc(5% + 4px)
        padding-left 0
  &__header
    &__editionmode
      display none
  .timeline
    margin 0
    width 100%
    height "calc(100% - %s)" % headerHeight
  .thread
    &__contentpage
      width 100%
      &__top
        display flex
        justify-content space-between
        padding 10px
      &__content
        width 100%
        height "calc(100% - %s)" % headerHeight
      &__texteditor
        flex 0 0 auto

@media (min-width: min-sm) and (max-width: max-lg)
  .thread
    .thread__contentpage__content
      height calc(100% - 145px)
