@import "~tracim_frontend_lib/src/css/Variable.styl"

.thread
  .comment
    &.received
      .comment__header__text
        padding-inline-start calc(5% + 4px)
        padding-inline-end 0
    &.sent
      .comment__header__text
        padding-inline-end calc(5% + 4px)
        padding-inline-start 0
  &__header
    &__editionmode
      display none
  .timeline
    margin 0
  .thread
    &__contentpage
      width 100%
      height calc(100% - 25px) // INFO - 2021-08-08 - GB - 25px is the thread__contentpage__top height
      & .timeline__texteditor
        margin 0
      & .commentArea
        &__textinput > textarea
          height 80px
      &__top
        display flex
        justify-content flex-end
        padding standardSpacing pageSpacing 0
      &__messagelist
        padding-inline-start pageSpacing
        padding-inline-end pageSpacing
      &__content
        width 100%
      &__texteditor
        margin standardSpacing pageSpacing
      &__header
        & .favoriteButton .iconbutton__icon
          margin-inline-end standardSpacing
        & .wsContentGeneric__header__actions .fa-fw
          margin 0

@media (max-width: max-xs)
  .thread .timeline
    height "calc(100vh - %s)" % (headerHeight * 2 + 25px) // INFO - 2021-08-08 - GB - 25px is the thread__contentpage__top height
  .thread .thread__contentpage .timeline__texteditor
    padding-bottom 60px // INFO - 2022-02-10 - MB - This is a workaround, not a fix
