frontend/node_modules
frontend_app_admin_workspace_user/node_modules
frontend_app_agenda/node_modules
frontend_app_collaborative_document_edition/node_modules
frontend_app_custom-form/node_modules
frontend_app_file/node_modules
frontend_app_folder_advanced/node_modules
frontend_app_gallery/node_modules
frontend_app_html-document/node_modules
frontend_app_share_folder_advanced/node_modules
frontend_app_thread/node_modules
frontend_app_workspace/node_modules
frontend_app_workspace_advanced/node_modules
frontend_lib/node_modules
frontend_vendors/node_modules
backend/*
!backend/tracim_backend
!backend/update_i18n_json_file.sh
!backend/requirements*.txt
functionnal_tests
!functionnal_tests/*.sample
node_modules
tools_Docker
.*
