{
  "primary": "#7d4e24",
  "sidebar": "#333",
  "contents/html-document": "#00CC00",
  "contents/thread": "#428BCA",
  "contents/file": "#ffa500",
  "contents/folder": "#414548",
  "agenda": "#ff4b3a",
  "gallery": "#999999"
}
