@import '~tracim_frontend_lib/src/css/Variable.styl'

feedWidth = 800px
smallScreenFeedWidth = 100%
previewHeight = 400px

.activityList
  background-color veryLightGrey
  display flex
  flex-direction column
  align-items center
  width feedWidth
  padding-bottom standardSpacing

  &__refresh
    margin-right 0
    margin-bottom standardSpacing

  &__list
    display flex
    width 100%
    flex-direction column

  &__placeholder
    font-size fontSizeMedium
    text-align center

  & .feedItem__preview
    box-sizing content-box
    overflow hidden
    max-height previewHeight

    &__overflowOverlay
      background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent),
        radial-gradient(ellipse at bottom, rgba(0, 0, 0, 0.1), transparent)
      background-repeat no-repeat
      background-position bottom
      position absolute
      bottom 40px
      height 25%
      width 100%

@media (max-width: max-sm)
  .activityList
    width smallScreenFeedWidth
