@import '~tracim_frontend_lib/src/css/Variable.styl'

.contentActivityHeader
  display flex
  flex-direction row
  justify-content space-between

  &__icon
    font-size bigIconSize
    margin-right 10px
  &__title
    margin-right auto
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  &__label
    color fontColor
    text-decoration underline fontColor

  &__right
    margin-left 10px
    text-align right
    align-items flex-end
    display flex
    flex-direction column
  &__actionMenu
    padding 0
    margin-left 10px
    &::after
      display none
    &__item
      padding 10px
      border none

  & .breadcrumbs
    position relative
    top 0
    left 0

@media (max-width max-sm)
  .contentActivityHeader
    & .breadcrumbs
      display none
    &__actionMenu
      display none
