@import '~tracim_frontend_lib/src/css/Variable.styl'

.contentActivityHeader
  display flex
  flex-direction row
  justify-content space-between

  &__icon
    font-size bigIconSize
    margin-right 10px
  &__title
    margin-right auto
    white-space nowrap
    overflow hidden
    align-self start
    text-overflow ellipsis
  &__label
    color fontColor
    font-size fontSizeMedium
    text-decoration underline fontColor

  &__right
    font-size fontSizeSmall
    margin-left 10px
    text-align right
    white-space nowrap
  &__author
    font-weight bold
    text-overflow ellipsis

  & .breadcrumbs
    position relative
    top 0
    left 0

@media (max-width max-sm)
  .content_activity_header
    & .breadcrumbs
      display none
     &__operation
      display none
