@import '~tracim_frontend_lib/src/css/Variable.styl'

.memberActivity
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  & .avatar
    margin-inline-end standardSpacing
  &__title
    margin-inline-end auto
    overflow hidden
    text-overflow ellipsis
  &__text
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  &__user
    font-weight bold
  &__workspace
    text-decoration underline
    color fontColor
    &:hover
      color fontColor
      text-decoration underline
  &__right
    margin-left standardSpacing
    margin-inline-end standardSpacing
    font-size metadataFontSize
    text-align end
    white-space nowrap
    align-items flex-end
