@import "~tracim_frontend_lib/src/css/Variable.styl"

previewBorderColor = mediumGrey
previewHeight = 300px
linkColor = #007bff // This color comes from bootstrap

.activityFeed__preview
  box-sizing content-box
  position relative
  overflow hidden
  border 1px solid previewBorderColor
  background-color offWhite
  max-height previewHeight
  margin 10px 0

  &__overflow
    background-image:
      linear-gradient(to top, rgba(0, 0, 0, 0.125), white),
      radial-gradient(ellipse at bottom, rgba(0, 0, 0, 0.25), transparent)

    background-size 100% 25%
    background-repeat no-repeat
    background-position bottom

  & > a
    display flex
    min-height 100%
    color inherit
    overflow hidden

    & > *
      display flex
      flex 1
      align-items center
      justify-content center
      flex-direction column
      overflow hidden

  &__html
    text-align justify

    a-in-preview
      color linkColor

  &__unavailable
    display block
    text-align center

    & > a
      display block

    .fa
      font-size previewIconFontSize

    .fa, span
      display inline-block
      padding 10px
      vertical-align middle

  &__image > img
    max-width 100%
