@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.fileProperties
  width calc(100% - 65px) // 65px is the width of the rightPart header
  padding 10px
  &__title
    margin 10px 15px
    font-size 20px
  &__content
      width 100%
      overflow-X hidden
      &__detail
        display flex
        flex-direction column
        padding 15px
        &__item
          margin-bottom 20px
        &__description
          font-weight bold
          &__text
            margin 10px 0
          &__editiondesc
            margin 20px 0
            textarea
              width 100%
              height 120px
            &__btn
              display flex
              justify-content flex-end
              &__cancel
                margin 0 15px 0 0
                &:hover
                  color white
              &__validate:hover
                color white
        &__btndesc
          margin-top 10px
          margin-left auto

// MEDIAQUERIES

@media (min-width: min-xs) and (max-width: max-lg)
  .fileProperties
    height calc(100% - 65px) // 65px is the width of the rightPart header
    width 100%
