@import "~tracim_frontend_lib/src/css/Variable.styl"

.fileProperties
  &__content
      width 100%
      overflow-x hidden
      &__detail
        display flex
        flex-direction column
        padding 0px standardSpacing
        &__item
          margin-bottom standardSpacing
        &__description
          font-weight bold
          &__text
            margin-top standardSpacing
            &:empty
              display none
          &__editiondesc
            margin standardSpacing 0
            textarea
              width 100%
              height 120px
              border-radius standardBorderRadius
            &__btn
              display flex
              justify-content flex-end
              margin-top standardSpacing
              &__cancel
                margin-inline-end standardSpacing
                &:hover
                  color offWhite
              &__validate:hover
                color offWhite
        &__btndesc
          margin-top standardSpacing
          margin-left auto
