@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.fileProperties
  width 100%
  padding 10px
  &__title
    border-bottom 2px solid lightGrey
    margin 10px 15px
    font-size 20px
  &__content
      width 100%
      overflow-X hidden
      &__detail
        padding 20px
        &__item
          margin-bottom 20px
        &__description
          &__editiondesc
            margin 20px 0
            textarea
              width 100%
              height 160px
            &__btn
              display flex
              justify-content flex-end
              &__cancel
                margin 0 15px 0 0
