@import '~tracim_frontend_lib/src/css/Variable.styl'

.file__contentpage__statewrapper__kanban
  display flex
  flex-direction column
  height 100%

  &.fullscreen
    position fixed
    top headerHeight
    left 0
    width 100%
    height calc(100% - 61px)
    z-index 1
    background offWhite

  &__wrapper
    flex 1
    overflow auto

    .react-kanban-board
      overflow-y visible !important
      overflow-x visible

  &__toolbar
    background #eff0f1

    button
      font-size small
      padding 3px 5px
      border none
      border-radius 0

    [disabled]
      display none

    .iconbutton:not(last-child)
      border-right 1px solid gray

    &__title
      display inline-block
      padding-left 1em
      color darkGrey

  .react-kanban-column-header
    display flex
    flex-direction row
    > :first-child
      flex 1
    > :last-child
      display inline-block
      border-radius 2px
      cursor default

      &:hover
        transform scale(1.2)
        color red
        background #FCC

  .react-kanban-column
    padding 5px

  &__columnHeader
    display flex
    flex-direction row
    border-bottom 1px solid gray

    > strong
      flex 1
      text-align center
      display block
      cursor pointer
      overflow hidden
      text-overflow ellipsis

    button
      font-size small
      padding 3px 5px
      border none
      border-radius 0

  &__card
    margin 5px
    width 30ex
    background white
    border 1px solid back
    box-shadow 0 0 3px black
    border-radius 3px
    background: rgba(0, 0, 0, 0.1)

    &__title
      text-align center
      border-bottom 1px solid gray
      display flex
      flex-direction row
      text-overflow elipsis

      strong
        flex 1
        text-align center

      button
        font-size small
        padding 3px 5px
        border none
        border-radius 0

    &__description
      padding 5px
      background white
      overflow hidden
      word-break break-word
      overflow-wrap break-word
      hyphens auto
      min-height 1.5em

  &__KanbanCardEditor
    width 100%

    [type=checkbox]
        margin-right 1ex

    textarea
        resize both

    label
        white-space pre

    input
        vertical-align middle

    &__title
      margin-top -26px
      margin-bottom 10px
      font-size 1.2rem
      font-weight bold

      &__icon
        padding-right 1ex

    &__form__fields
      display table


      > p
        display table-row

        > span
          display table-cell
          padding-right 1ex
          vertical-align top

          &:last-child
            width 100%

    &__form_buttons
      margin-bottom 0
      padding-bottom 0
      text-align right

      button:last-child, input:last-child
        margin-left 10px
