@import "~tracim_frontend_lib/src/css/Variable.styl"

.ril__caption
  display flex
  flex-direction row-reverse

.previewcomponent
  position relative
  height 100%
  overflow-x hidden
  &__state
    display flex
    align-items center
    justify-content space-between
    margin 15px 10px
    padding 5px 15px
    background-color #fee498
    border-radius 10px
    &__msg > i
      margin-right 8px
    &__btnrestore
      cursor pointer
      & > i
        margin-right 8px
  &__dloption
    display flex
    justify-content space-evenly
    margin 0 auto
    padding-top 10px
    width 250px
    &__icon
      font-size 20px
      cursor pointer
      color fontColor
  &__fileimg
    height calc(100% - 53px) // 53px => height of dloption
    display flex
    flex-direction column
    justify-content center
    width 100%
    &__img
      margin auto
      max-height 100%
      max-width 100%
    &__text
      text-align center
      &-icon
        font-size bigIconSize
      &-msg
        margin-top 10px
        word-break break-word
    &.previewAvailable
      cursor pointer
  &__navigationButton
    margin 0 5px
    font-size 20px
    cursor pointer
    &:focus
      box-shadow 0 0 0 0
      outline 0
  &__pagecount
    position absolute
    right 5px
    bottom 5px
    font-size 13px
  &__filepreview
    display flex
    height calc(100% - 53px) // 53px => height of dloption
