@import '../../css/Variable.styl'

.appProperty
  padding standardSpacing
  display flex
  flex-direction column
  &__item
    display flex
    margin-bottom standardSpacing
    gap standardSpacing
    &__value
      font-weight bold
