@import "~tracim_frontend_lib/src/css/Variable.styl"

.callpopup
  width 300px
  &__text
    margin-bottom standardSpacing
  &__body
    width 100%
    &__btn
      margin textSpacing standardSpacing
      display flex
      justify-content flex-end
      & > .iconbutton
        margin-inline-start standardSpacing

.openCallButton
  margin-inline-start standardSpacing

// FIXME - MB - 2022-01-05 - this should be removed when a LinkButton is created
// see https://github.com/tracim/tracim/issues/5242
