@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.file
  width 1200px
  height calc(100% - 85px)
  &__header
    &__editionmode
      display none
    .fa-file-image-o
      color white
  &__option
    &__menu
      &__addversion
        padding 8px 15px
        border-width 1px
        border-style solid
        border-radius 5px
        background-color transparent
        cursor pointer
        & > i
          margin-left 10px
  &__contentpage
    display flex
    height 100%
    &__content
      height calc(100% - 130px)
    &__statewrapper
      height 100%
      &.displayState ^[1]__preview // render .file__contentpage__statewrapper.displayState .file__contentpage__preview
        height calc(100% - 68px) // 100% - file__contentpage__preview__state height
    &__preview
      position relative
      margin 10px
      border-radius 10px
      // height calc(100% - 150px) // margin + height of header and option
      height 100%
      background-color off-white
      &__state
        display flex
        align-items center
        justify-content space-between
        margin 15px 10px
        padding 5px 15px
        background-color #fee498
        border-radius 10px
        &__msg > i
          margin-right 8px
        &__btnrestore
          cursor pointer
          & > i
            margin-right 8px
      &__sidebar
        display flex
        position absolute
        top 0
        right 0
        height 100%
        &__button
          display flex
          flex-direction column
          align-items center
          width 50px
          height 100%
          background-color grey
          cursor pointer
          &__icon
            justify-content flex-start
            font-size 30px
            color white
          &__title
            margin-top 45px
            color white
            transform rotate(-90deg)
        &__property
          width 0
          overflow-X hidden
          background-color off-white
          transition width 0.5s
          &__detail
            padding 20px
            &__size
              margin-bottom 20px
            &__description
              &__editiondesc
                margin 20px 0
                textarea
                  width 100%
                  height 200px
                &__btn
                  display flex
                  justify-content flex-end
                  &__cancel
                    margin 0 15px 0 0
            &__btndesc
              display block
              margin 15px 0
              width 200px
      &__dloption
        display flex
        justify-content space-evenly
        margin 0 auto
        padding 10px 50px 0 0
        width 250px
        &__icon
          font-size 20px
          cursor pointer
      &__slider
        display flex
        align-items center
        width calc(100% - 50px) // 50px => width of sidebar
        height calc(100% - 40px) // 40px => height of dloption
        &__fileimg
          display flex
          flex-direction column
          justify-content center
          padding 30px
          width 100%
          height 100%
          & > img
            max-height 100%
            max-width 100%
        &__icon
          margin 0 5px
          font-size 20px
          cursor pointer
    &__wrapper
      width 40%
      height calc(100% - 150px) // margin + height of header and option
      overflow-Y auto
      .timeline
        &__messagelist
          min-height 300px
    &__dropzone
      padding 20px 15px 20px 20px
      &__btn
        display flex
        justify-content flex-end
        &__cancel
          margin-right 15px

.activesidebar
  .file__contentpage__preview
    &__sidebar
      width 100%
      border-radius 0 10px 10px 0
      &__property
        width 100%
        overflow-Y auto

.activeEditionTitle
  .file__header
    &__editionmode
      display block
    &__title
      display none

.activeEditionDesc
  .file__contentpage__preview__sidebar__property__detail
    &__description
      &__editiondesc
        display block
    &__btndesc
      display none

@media (min-width: max-xs) and (max-width: max-lg)
  .file
    overflow-Y auto
    &__contentpage
      display block
      &__preview
        display flex
        flex-direction column
        width calc(100% - 30px) // 30px => margin
      &__wrapper
        width calc(100% - 30px) // 30px => margin
        .timeline
          &__texteditor
            &__simpletext
              display inline-flex
              width 60%
            &__submit
              display inline-flex
              margin 10px 0
              &__btn
                display flex
                margin-left 35px
                &__icon
                  margin-left 15px

@media (min-width: min-lg) and (max-width: max-lg)
  .file
    width 900px
    overflow-Y auto

@media (min-width: min-md) and (max-width: max-md)
  .file
    width 100%

@media (min-width: min-sm) and (max-width: max-sm)
  .file
    top 69px
    width 100%
    height calc(100% - 69px) // 69px => top rules
    overflow-Y scroll

@media (max-width: max-xs)
  .activesidebar
    .file__contentpage__preview
      &__sidebar
        &__property
          width 300px

  .file
    top 69px
    width 100%
    height calc(100% - 69px) // 69px => top rules
    overflow-Y scroll
    &__option__menu__addversion
      padding 8px 5px
      & > i
        display none
    &__contentpage
      display block
      &__preview
        display flex
        flex-direction column
        width calc(100% - 30px) // 30px => margin
      &__wrapper
        width calc(100% - 30px) // 30px => margin
        .timeline
          &__texteditor
            &__simpletext
              display inline-flex
              width 60%
              margin-right 0
            &__submit
              display inline-flex
              margin 10px 0
              &__btn
                display flex
                margin-left 10px
                &__icon
                  margin-left 15px
