@import "~tracim_frontend_lib/src/css/Variable.styl"

.file
  &__header
    &__editionmode
      display none
    .fa-file-image
      color white
  &__lastversionbtn
    cursor pointer
    margin-right standardSpacing
  &__option
    &__menu
      &__addversion
        padding 8px 15px
        border-width 1px
        border-style solid
        border-radius standardBorderRadius
        background-color transparent
        cursor pointer
        & > i
          margin-left standardSpacing
  &__contentpage
    width 100%
    &__option
      display flex
      justify-content flex-end
    &__content
      &__left
        background-color offWhite
    &__statewrapper
      height 100%
      overflow-y auto
      &.promptMessageWrapper > .previewcomponent // render .file__contentpage__statewrapper.promptMessageWrapper .file__contentpage__preview
        height calc(100% - 68px) // 100% - file__contentpage__preview__state height
    &__wrapper
      width 40%
      height calc(100% - 150px) // margin + height of header and option
      overflow-Y auto
      .timeline
        &__messagelist
          min-height 300px
    &__dropzone
      padding 20px 15px 20px 20px
      &__btn
        display flex
        justify-content flex-end
        &__cancel
          margin-right 15px
    &__rightContent
      width 100%
    &__messagelist
      padding 0 standardSpacing standardSpacing
  &__previewVideo
    position fixed
    top 0
    left 0
    display flex
    justify-content center
    flex-direction column
    align-items center
    width 100%
    height 100%
    color #fff
    line-height 28px
    background-color rgba(10, 10, 10, 0.9)
    opacity 0
    transition opacity 0.3s
    z-index 1000
    &.open
      opacity 1
    &__error
      margin 25px 15px
      font-weight bold
      font-style italic

.activeEditionTitle
  .file__header
    &__editionmode
      display block
    &__title
      display none

.activeEditionDesc
  .file__contentpage__preview__content__detail
    &__description
      &__editiondesc
        display block
    &__btndesc
      display none

// MEDIAQUERIES

@media (min-width: max-xs) and (max-width: max-lg)
  .file
    &__contentpage
      display block
      &__preview
        display flex
        flex-direction column
        width calc(100% - 30px) // 30px => margin
      &__wrapper
        width calc(100% - 30px) // 30px => margin
        .commentArea
          &__simpletext
            display inline-flex
            width 60%
          &__submit
            display inline-flex
            margin standardSpacing 0
            &__btn
              display flex
              margin-left 35px
              &__icon
                margin-left 15px
      &__statewrapper
        padding 0

@media (min-width: min-lg) and (max-width: max-lg)
  .file
    &__contentpage__content__left
      min-height 250px

@media (min-width: min-md) and (max-width: max-md)
  .file
    &__contentpage__content__left
      min-height 250px

@media (min-width: min-sm) and (max-width: max-sm)
  .file
    height "calc(100% - %s)" % headerHeight
    &__contentpage__content__left
      min-height 250px

@media (max-width: max-xs)
  .file
    height "calc(100% - %s)" % headerHeight
    &__lastversionbtn
      > span
        display none
      > i
        margin 0
    &__option__menu
      &__addversion
        padding 8px 5px
        & > i
          display none
      &__editBtn
        & > .genericButton__icon
          margin 0
        & > .genericButton__label
          display none
    &__contentpage
      display block
      &__content
        &__left
          width 100%
          min-height 250px
        &__right
          width 100%
          .CustomFormManager
            margin-left standardSpacing
      &__statewrapper
        width 100%
      &__wrapper
        width calc(100% - 30px) // 30px => margin
        .commentArea
          &__simpletext
            display inline-flex
            width 60%
            margin-right 0
          &__submit
            display inline-flex
            margin standardSpacing 0
            &__btn
              display flex
              margin-left standardSpacing
              &__icon
                margin-left 15px
