# Easy startup of Tracim backend services needed for testing with pytest.
# Also useful for local development.
# By default the mysql & mariadb databases will be lost when the container is exited (see TMPFS_DIR).
# WARNING: This file is meant for testing only and mustn't be used as-is for production environments.
# Production-ready docker-compose examples are available in the "tools_docker" directory of the Tracim repository.
version: '3'
services:
  pushpin:
    build: ../tools_docker/pushpin
    network_mode: host
    volumes:
      - ${PUSHPIN_CONFIG_DIR}:/etc/pushpin
  minio:
    image: minio/minio:RELEASE.2020-12-16T05-05-17Z
    ports:
      - "9000:9000"
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    command: server /data
  elasticsearch:
    build: ../tools_docker/elasticsearch_ingest
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      discovery.type: single-node
      cluster.routing.allocation.disk.threshold_enabled: "false"
      ES_JAVA_OPTS: "-Xms4g -Xmx4g"
  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "1025:1025"
      - "8025:8025"
  openldap:
    image: rroemhild/test-openldap:1.1
    ports:
      - "3890:389"
  postgresql:
    image: postgres:9.6
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
    command: postgres -c fsync=off -c full_page_writes=off -c synchronous_commit=OFF -c shared_preload_libraries=pg_stat_statements
  redis:
    image: redis:alpine3.12
    ports:
      - "6379:6379"
