# Test requirements
WebTest==2.0.34
pytest==5.3.5
pytest-dotenv==0.4.0
pytest-pyramid-server==1.7.0
pytest-services==2.0.1
pytest-timeout==1.4.2
responses==0.10.11
mock==3.0.5
Pillow==5.3.0
freezegun==0.3.12
sseclient-py==1.7
