# VTK (3D)
vtk==9.0.1                # via preview-generator
# Scribus,drawio
xvfbwrapper==0.2.9        # via preview-generator
# CairoSVG (disabled for now)
# cairocffi==1.2.0          via cairosvg
# cairosvg==2.5.2           via preview-generator
# cffi==1.14.5              via cairocffi
# pycparser==2.20           via cffi
# cssselect2==0.4.1         via cairosvg
# tinycss2==1.1.0           via cairosvg, cssselect2
# webencodings==0.5.1       via cssselect2, tinycss2
# defusedxml==0.5.0         via cairosvg, wsgidav: already installed
# pillow==5.3.0             via cairosvg, preview-generator: already installed
# FFMPEG (vidéo)
ffmpeg-python==0.2.0      # via preview-generator
future==0.18.2            # via ffmpeg-python
