# Devtools
# ⚠️ WARNING : some of those tools are used in pre-commit an MUST be kept in sync
#    see /.pre-commit-config.yaml
flake8==6.1.0
isort==6.0.0
mypy==1.18.2
pre-commit==4.6.2
black==24.10.0
flake8-black==0.3.7
flake8-isort==6.1.2
pip-tools==7.5.2
