{
  "entityid": "http://localhost:7999/saml/metadata",
  "metadata": {
    "local": [],
    "remote": [{"url": "https://samltest.id/saml/idp"},{"url": "https://idp.ssocircle.com"}]
  },
  "service": {
    "sp": {
      "endpoints": {
        "assertion_consumer_service": [
          ["http://localhost:7999/saml/acs","urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"]
        ],
        "single_logout_service": [
          ["http://localhost:7999/saml/slo/redirect","urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"],
          ["http://localhost:7999/saml/slo/post","urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"]
        ]
      },
      "name_id_format": "urn:oasis:names:tc:SAML:2.0:nameid-format:transient",
      "sp_type_in_metadata": false,
      "sp_type": "private",
      "encrypt_assertion": false,
      "allow_unsolicited": true,
      "allow_unknown_attributes": false,
      "authn_requests_signed": false,
      "logout_requests_signed": false,
      "logout_responses_signed": false,
      "want_assertions_signed": false,
      "want_response_signed": false,
      "name_id_format_allow_create": true,
      "want_name_id": true,
      "validate_certificate": false,
      "required_attributes": [
        "eduPersonPrincipalName",
        "eduPersonPrimaryAffiliation",
        "email",
        "displayName"
      ]
    }
  },
  "allow_unknown_attributes": true,
  "key_file": "/<absolute_path_to_tracim_repo>/backend/saml/cert.key",
  "cert_file": "/<absolute_path_to_tracim_repo>/backend/saml/cert.crt",
  "encryption_keypairs": [
    {
      "key_file": "/<absolute_path_to_tracim_repo>/backend/saml/cert.key",
      "cert_file": "/<absolute_path_to_tracim_repo>/backend/saml/cert.crt"
    }
  ],
  "verify_ssl_cert": false,
  "generate_cert_info": false,
  "additional_cert_files": ["/<absolute_path_to_tracim_repo>/backend/saml/intermediate_chain.bundle.crt"],
  "xmlsec_binary": "/usr/bin/xmlsec1",
  "metadata_cache_duration": {
    "default": 86400
  },
  "virtual_organization": {
    "https://samltest.id/saml/idp": {
      "common_identifier": "saml_test"
    },
    "https://idp.ssocircle.com": {
      "common_identifier": "sso_circle",
      "logo_url": "https://idp.ssocircle.com/logo.png",
      "displayed_name": "[Test] SSO Circle",
      "attribute_map": {
        "username": "${UserID}",
        "user_id": "${UserID}",
        "email": "${EmailAddress}",
        "public_name": "${FirstName} ${LastName}"
      },
      "profile_map": {
        "trusted-users": {
          "value": "${UserID}",
          "match": "any_regex_pattern"
        },
        "administrators": {
          "value": "${UserID}",
          "match": "value|other_value"
        }
      }
    }
  }
}
