import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  ...defaultDebug,
  config: {
    ...defaultDebug.config,
    slug: 'thread',
    faIcon: 'comments-o',
    hexcolor: '#428BCA',
    creationLabel: 'Start a topic',
    label: 'Thread'
  },
  content: {
    ...defaultDebug.content,
    content_id: 1,
    content_type: 'thread',
    workspace_id: 1
  }
}
