import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  config: {
    ...defaultDebug.config,
    apiUrl: '',
    slug: 'thread',
    faIcon: 'comments-o',
    hexcolor: '#428BCA',
    creationLabel: 'Start a topic',
    label: 'Thread'
  },
  content: {
    ...defaultDebug.content,
    content_id: 0,
    content_type: 'thread',
    workspace_id: 0
  },
  loggedUser: {
    ...defaultDebug.loggedUser
  }
}
