@import "~tracim_frontend_lib/src/css/Variable.styl"

.PopoverHelperBody
  display flex
  flex-direction column
  font-size metadataFontSize
  max-height 500px
  overflow auto
  &__section
    display flex
    flex-direction column
    padding-bottom standardSpacing
    border-bottom 1px solid darkGrey1
    margin-bottom standardSpacing
    &:last-child
      padding-bottom 0
      border-bottom none
      margin-bottom 0
    &__label
      font-weight bold
    &__description
      padding-top 10px
      &__details
        padding-top 5px
