
@import '~tracim_frontend_lib/src/css/Variable.styl'

backgroundColor = grey-hover
spacingSize = 10px

.feedItem
  background-color backgroundColor
  border 1px solid grey
  border-radius 5px
  padding spacingSize
  margin-bottom spacingSize
