@import '~tracim_frontend_lib/src/css/Variable.styl'

.feedItemHeader
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  height 40px
  &__icon
    font-size bigIconSize
    margin-inline-end standardSpacing
  &__title
    margin-inline-end auto
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    color fontColor
    & > a
      color inherit
      &:hover
        text-decoration underline fontColor
  &__right
    margin-inline-start standardSpacing
    text-align right
    align-items flex-end
  &__unavailable
    font-style italic
    padding-inline-end standardSpacing
  &__actionMenu
    &.dropdownMenuButton
      padding 0 (standardSpacing * 2)
      & i
        width auto
        margin 0
    &::after
      display none
    &__item
      padding standardSpacing
      border none
      & .iconbutton__text
        padding 0

  & .breadcrumbs
    position relative
    top 0
    left 0

@media (max-width max-sm)
  .feedItemHeader
    &__right
      max-width 40%
    & .breadcrumbs
      display none
    &__actionMenu
      display none
