@import '~tracim_frontend_lib/src/css/Variable.styl'

.feedItemFooter
  display flex
  &__left
    display flex
    align-items center
    flex 1
    & .translateButton .iconbutton
      padding-top standardSpacing
      padding-inline-end 0
      padding-bottom standardSpacing
      padding-inline-start standardSpacing
  &__right
    display flex
    align-items center
    & .buttonComments
      margin-top 0px
      margin-inline-end standardSpacing
      margin-bottom standardSpacing
      margin-inline-start 0px
    & .EmojiReactionButton__buttonpicker
      padding-top standardSpacing
      padding-inline-end textSpacing
      padding-bottom standardSpacing
      padding-inline-start 0
      margin-bottom standardSpacing
  &__comments
    margin-inline-start standardSpacing

.EmojiReactionButton__buttonpicker:focus
  outline none
