@import '~tracim_frontend_lib/src/css/Variable.styl'

.feedItemFooter
  display flex
  &__left
    display flex
    align-items center
    flex 1
    & .translateButton .iconbutton
      padding standardSpacing 0 standardSpacing standardSpacing
  &__right
    display flex
    align-items center
    & .EmojiReactionButton__buttonpicker
      padding standardSpacing
  &__comments
    margin-inline-start standardSpacing
