@import "~tracim_frontend_lib/src/css/Variable.styl"

previewBorderColor = mediumGrey
linkColor = #007bff // This color comes from bootstrap

.feedItem__preview
  & > a
    display flex
    min-height 100%
    color inherit
    overflow hidden

    & > *
      display flex
      flex 1
      align-items center
      justify-content center
      flex-direction column
      overflow hidden

  &__html
    text-align justify
    margin 10px

    a-in-preview
      color linkColor

    > .html-content
      align-self stretch

  &__unavailable
    display block
    text-align center

    & > a
      display block

    .far, span
      display inline-block
      padding 10px 10px 10px 0
      vertical-align middle

  &__image > img
    max-width 100%
