@import '../../css/Variable.styl'

.composedIcon
  margin-right standardSpacing
  position relative
  &__subIcon
    position absolute
    bottom 0
    right 0
    height 80%
    width 50%
    transform translate(50%, 50%)
    font-size fontSizeMetadata
