@import '../../css/Variable.styl'


[dir=ltr] .composedIcon__subIcon
  left 50%

[dir=rtl] .composedIcon__subIcon
  left -50%

.composedIcon
  margin-inline-end standardSpacing
  position relative
  &__subIcon
    position absolute
    bottom -50%
    height 100%
    width 100%
    font-size metadataFontSize
