.displaystate
    display flex
    align-items center
    justify-content space-between
    margin 5px 0px 15px 0px
    padding 5px 15px
    background-color #fee498
    border-radius 10px
    &__msg > i
          margin-right 8px
    &__btnrestore
        cursor pointer
        & > i
        margin-right 8px
        &.link
        color #453d9b
        &:hover
            color #1a0dab
            text-decoration underline
