# Created by .ignore support plugin (hsz.mobi)
.idea/
.git/
node_modules/
dist/tracim_frontend_lib.full.js
dist/tracim_frontend_lib.lib.js
dist/tracim_frontend_lib.style.js
dist/tracim_frontend_lib.optimized.lib.js
dist/tracim_frontend_lib.optimized.style.js
dist/tracim_frontend_lib.test_utils.js
dist/tracim_frontend_lib.optimized.test_utils.js
