@import "~tracim_frontend_lib/src/css/Variable.styl"

// -----------------------------------------------------
// border management for Workspace container
border-style = 1px solid grey
.folder__header
  border border-style
.folder + .content, .content + .content
  border-bottom 0
.folder__content > .content, .folder__content > .folder
  border-bottom 0
.folder:not(.active).item-last
  border-bottom border-style
.content
  border border-style
  border-bottom 0px
  background-color offWhite
  &.item-last
    border-bottom border-style
// @Info: the very last line of file or folder has it's border bottom added in js
// -----------------------------------------------------

// .folder > .folder__content > .file, .folder > .folder__content > .extandedaction
//   padding-right 7px

folderclose()
  height 0
  visibility hidden
  opacity 0

folderopen()
  height 100%
  opacity 1
  visibility visible
  transition opacity 0.3s

.folder
  padding-left 30px
  & > .folder__header
    folderopen()
    &:hover
      background-color grey-hover
  & > .folder__content
    folderclose()
    & > .file, > .folder
      folderclose()
  &.active
    & > .folder__header
      .folder__header__triangleborder
        display block
        &__triangle
          display block
    & > .folder__content
      folderopen()
      & > .file, > .folder
        folderopen()
  &__header
    position relative
    display flex
    align-items center
    margin-left -30px
    border-bottom 0
    padding standardSpacing 0
    background-color lightGrey
    cursor pointer
    &:hover
      .folder__header__triangleborder
        border-top-color inherit
        &__triangle
          // INFO - CH - 2019-08-07 - In the HTML, the .folder__header__triangleborder__triangle class also has .primaryColorFontLighten
          // So it always has it's font in the primary color but only uses it as border color on mousehover through "currentColor"
          border-top-color currentColor
          color grey-hover
    &__triangleborder
      display none
      position absolute
      bottom -25px
      left -1px
      border-style solid
      border-width 25px 30px 0 30px
      border-color grey transparent transparent transparent
      z-index 1
      &__triangle
        display none
        position absolute
        top -26px
        left -30px
        border-style solid
        border-width 25px 30px 0 30px
        border-color lightGrey transparent transparent transparent
    &__dragHandle
      position absolute
      padding 0 standardSpacing
    & .dragHandle
      display none
    &:hover > .dragHandle
      display block
    &__dragPreview
      display flex
      align-items center
      flex 1
      width 0 // INFO - CH - 2019-06-06 - this allows the text-overflow ellipsis
    &__icon
      flex-grow 0
      padding 0 25px
      font-size bigIconSize
      color darkGrey
      text-align center
    &__name
      flex 1
      width 0 // INFO - CH - 2019-07-04 - this allows the text-overflow ellipsis
      margin 0 standardSpacing 0 0
      padding 5px
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      color darkGrey
      font-weight bold
      ^[0].read > ^[1] & // renders .folder.read > .folder__header .folder__header__name
        font-weight normal
    &__content
      position relative
    &__button
      flex-grow 0
      &__advancedbtn
        position relative
      &__addbtn
        display flex
        margin auto 0
        cursor pointer
        &:hover > .folder__header__name__addbtn__text
          color white
        &__text
          margin-right 40px
          &::after
            margin-left 20px
          &-desktop
            display inline
          &-responsive
            display none
      .addbtn__subdropdown
        padding 0
    &__status
      flex-grow 0
      padding 0 standardSpacing
      width 180px

@media (min-width: min-sm) and (max-width: max-sm)
  .folder
    &__header
      &__button__addbtn__text
        margin-right standardSpacing
      &__status
        display none

@media (max-width: max-xs)
  .folder
    &__header
      &__button__addbtn__text
        margin-right standardSpacing
      &__status
        display none
      &__button__addbtn__text
        &-desktop
          display none
        &-responsive
          display inline
        &::after
          display none // hide the dropdown triangle
