@import '../../../css/Variable.styl'

&__status
  margin-right 20px
  .current
    color blue
  .check
    color green
  .invalid
    color red
  .ban
    color grey
  &__dropdownbtn
    border 1px solid grey
    width 150px
    background-color transparent
    cursor pointer
    &::after
      color fontColor
    &:hover
      background-color transparent
    &__icon
      display inline-block
      margin 0 15px
  &__submenu
    &__item
      display flex
      justify-content space-between
      margin 5px 0
      cursor pointer
      &:active
        background-color transparent
