@import "~tracim_frontend_lib/src/css/Variable.styl"

.advancedSearchContent
  color fontColor
  &:hover
    color fontColor
  &__wrapper
    height 60px
    width 100%
    display flex
    align-items center
  &__typeAndTitle
    display none
  &__type
    &__content
      font-size titleFontSize
      display flex
      flex-direction column
      align-items center
      width 75px
      place-content center
      & > span
        font-size metadataFontSize
    &__header
      margin standardSpacing 20px
      text-align center
      align-self center
  &__name_path
    flex 2
    text-overflow ellipsis
    overflow hidden
    width 0
    white-space nowrap
  &__title
    padding 0 textSpacing
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    color fontColor
    align-self center
    flex 2
    width 0
  &__modification
    align-self center
    flex 1
    &.timedEvent
      margin-inline-start standardSpacing
      margin-inline-end standardSpacing
      overflow hidden
  &__information
    color fontColor
    align-self center
    margin-inline-end 5px
    width 160px
    display flex
    align-items center
    &__comments
      display inline-block
      min-width 5em // RJ - 2020-02-23 - needed for alignment. should allow hundreds of comments
      padding-right standardSpacing
    & > *
      font-size metadataFontSize
    & > i
      margin-inline-end 5px
      margin-inline-start 2px

.advancedSearch__openMenu
  & .advancedSearchContent .advancedSearchContent__title
    padding-bottom 0

@media (max-width: max-lg)
  .advancedSearchContent
    &__type
      &__header
        margin standardSpacing standardSpacing
      &__content
        width 50px
        & > span
          display none
    &__modification
      overflow hidden
      text-overflow ellipsis
    &__name_path
      padding-inline-start standardSpacing
  .timedEvent.advancedSearchContent__modification
    & .timedEvent__operation
      display none
  .advancedSearch__openMenu
    & .advancedSearchContent
      &__information
        display none

@media (max-width: max-md)
  .advancedSearchContent
    &__information
      display none

@media (max-width: max-sm)
  .advancedSearchContent
    & .advancedSearchContent
      &__type__content
        width 50px
      &__title
        padding 0 5px
    &__modification
      display none
    &__typeAndTitle
      display unset
      padding standardSpacing 5px
      flex 2
  .content__header
    & .advancedSearchContent
      &__title
        display none
  .advancedSearch__content .content .breadcrumbs
      display none
