@import "~tracim_frontend_lib/src/css/Variable.styl"

.checkboxFilter
  &__title
    background-color veryLightGrey
    height 40px
    align-items center
    display flex
    padding 10px
    & > button
      padding 0
      margin-inline-end 10px
  &__checkbox
    padding 0px 5px
    & > *
      cursor pointer
    & > input[type='checkbox']
          margin 0px 10px
