@import "~tracim_frontend_lib/src/css/Variable.styl"

.checkboxFilter
  &__title
    background-color veryLightGrey
    height 40px
    align-items center
    display flex
    padding standardSpacing
    & > button
      padding 0
      margin-inline-end standardSpacing
  &__checkbox
    padding 0px 5px
    display flex
    align-items center
    & > *
      cursor pointer
    & > input[type='checkbox']
          margin 0px standardSpacing
    &__label
      overflow hidden
      flex 1
      text-overflow ellipsis
