@import "~tracim_frontend_lib/src/css/Variable.styl"

.content
  &__name.searchResultPage
    flex 1
    width 0
  &__path
    flex 2
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin-right standardSpacing
    color fontColor
    padding 5px
  &__lastModification
    flex 1
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin-right standardSpacing
    color fontColor
    padding 5px

