@import "~tracim_frontend_lib/src/css/Variable.styl"

.content
  &__name.searchResultPage
    flex 8
    width 0
  &__path
    flex 7
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin-inline-end standardSpacing
    color fontColor
    padding textSpacing
  &__search
    &__lastModification
      flex 7
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      margin-inline-end standardSpacing
      color fontColor
      padding textSpacing

@media (max-width: max-md)
  .content
    &__search
      &__lastModification
        display none
