.form-attendee {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-gap: 0.25rem;
}

.time-div {
    display: flex;
}

.form[name="event"]:has(#event-edit-allday:checked) .event-edit-not-allday {
    visibility: hidden;
}

.form[name="event"]:is(.event-edit-create) button[name="delete"] {
    visibility: hidden;
}