import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  config: {
    ...defaultDebug.config,
    apiUrl: '',
    slug: 'gallery',
    faIcon: 'paperclip',
    hexcolor: '#ffa500',
    label: 'Gallery',
    appConfig: {
      forceShowSidebar: false,
      workspaceId: '1'
    }
  },
  content: {
    ...defaultDebug.content,
    content_type: 'file',
    workspace_id: 0
  },
  loggedUser: {
    ...defaultDebug.loggedUser
  }
}
