@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.share_folder_advanced
  width 1000px
  height 100%
  overflow-y auto
  overflow-x hidden
  &__content
    width 1000px
    padding 10px 10px 0 10px
    &__title
      display flex
      justify-content space-between
      padding 10px 0 10px 10px
      border-bottom 1px solid grey
      font-size 20px
      font-weight 400
    &__btnupload
      margin auto 0
    &__empty
      margin 50px 10px

.share_folder
  &__contentpage
    &__content
      width 100%

.newUpload
  padding 10px
  width 100%
  &__title
    padding-bottom 22px
  &__email
    margin-top 10px
    padding 5px 0px
    display flex
    &__icon
      background-color transparent
      border none
      cursor pointer
      margin auto
      &:focus
        box-shadow 0 0 0 0
        border 0 none
        outline 0
    &__input
      resize none
  &__password
    padding 5px 0px
    display flex
    &__wrapper
      display flex
      flex-grow 2
      border-width 1px
      border-style solid
      border-radius .25rem
      border-color lightgray
      background-color white
      padding-left 5px
      color grey
      & > i
        margin auto
    &__input
      border none
    &__icon
      background-color transparent
      border none
      cursor pointer
      &:focus
        box-shadow 0 0 0 0
        border 0 none
        outline 0
  &__btnNew
    margin-top 15px
  &__btnCancel
    display flex
    margin 15px 15px 0 auto
