@import "~tracim_frontend_lib/src/css/Variable.styl"

.share_folder_advanced
  height "calc(100% - %s)" % headerHeight
  &__content
    width 100%
    padding standardSpacing 0
    overflow auto
    &__title
      display flex
      justify-content space-between
      align-items center
      margin standardSpacing 20px
      padding-bottom standardSpacing
      border-bottom borderStyle
      font-size titleFontSize
    &__btnupload
      margin auto 0
    &__empty
      margin 50px 20px

.share_folder
  &__contentpage
    &__content
      width 100%
      height calc(100% - 63px) // 63px = app header height
      overflow-y auto
      overflow-x hidden

.newUpload
  padding standardSpacing
  width 100%
  &__title
    padding-bottom 22px
  &__email
    margin 0 15px
    padding standardSpacing
    display flex
    &__input
      border-radius standardBorderRadius
    &__icon
      background-color transparent
      border none
      cursor pointer
      margin auto
      color mediumDarkGrey
      &:focus
        box-shadow 0 0 0 0
        border 0 none
        outline 0
  &__password
    margin 0 15px
    padding standardSpacing
    display flex
    flex-direction column
    &__active
      display flex
    &__wrapper
      display flex
      flex-grow 2
      border-width 1px
      border-style solid
      border-radius standardBorderRadius
      border-color lightgray
      background-color white
      padding-inline-start textSpacing
      color grey
      & > i
        margin auto
    &__input
      border none
    &__icon
      background-color transparent
      border none
      cursor pointer
      &:focus
        box-shadow 0 0 0 0
        border 0 none
        outline 0
    &__link
      color grey
      text-decoration underline
      margin-inline-start auto
      padding-inline-end 36px
      cursor pointer
      &:hover
        color fontColor
  &__newBtn
    margin-top 15px
    margin-inline-end 55px
  &__btnCancel
    margin 15px 15px 0 auto
  &__emailWarning
    margin 25px
