@import "~tracim_frontend_lib/src/css/Variable.styl"

.newSpace
  top 15%
  max-height 80%
  &__menu
    width 100%
  & .cardPopup
    &__container
      width 32rem
      overflow hidden
    &__body
      max-height calc(100% - 32px)
      overflow auto
      align-items baseline
  &__title
    display flex
    align-items baseline
    margin-bottom 1.5rem
    &__icon
      font-size bigIconSize
      margin-inline-start 0.25rem
      margin-inline-end 1rem
    &__name
      font-size titleFontSize
  &__input
    width 100%
    border borderStyle
    border-radius standardBorderRadius
    min-height 38px
    &[type='text']
      padding-inline-start standardSpacing
    &>div
      margin 0
      border none
      cursor text
    &:focus
      border 1px solid lightBlue
      outline none
  &__label
    font-weight bold
    margin standardSpacing 0
    display flex
    &__info
      margin-inline-start textSpacing
      color grey
      padding 0
  &__button
    display flex
    justify-content flex-end
    margin-top 20px
    &__back
      margin-inline-end auto
  &__icon
    &__right
      margin-inline-start textSpacing
    &__left
      margin-inline-end textSpacing
  &__warningMessage
    font-size metadataFontSize
    margin 5px 0

@media (max-width: max-xs)
  .newSpace
    top "calc(5px + %s)" % headerHeight
    max-height "calc(100% - %s)" % headerHeight
    & .cardPopup
      &__container
        width 100%
