@import "~tracim_frontend_lib/src/css/Variable.styl"

.newSpace
  top 15%
  & .cardPopup__container
    width popupWidth
  &__title
    display flex
    align-items baseline
    margin-bottom 1.5rem
    &__icon
      font-size 30px
      margin-left 0.25rem
      margin-right 1rem
    &__name
      font-size 20px
  &__input
    width 100%
    border 1px solid grey
    border-radius 5px
    min-height 38px
    &[type='text']
      padding-left 10px
    &>div
      margin 0
      border none
      cursor text
    &:focus
      border 1px solid lightBlue
      outline none
  &__label
    font-weight bold
    margin 10px 0
  &__button
    display flex
    justify-content flex-end
    margin-top 15px
    &__icon
      margin-left 10px
