.adminlink
  &__btn
    font-size 14px
    &::after
      margin-left 15px
    & .fa
      margin-right 8px
  &__setting
    padding 0
    &__link
      padding 10px
      font-size 14px
      &:hover
        color offWhite
