@import "../../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.adminlink
  &__btn
    font-size 14px
    &::after
      margin-left 15px
    & .fa
      margin-right 8px
  &__setting
    padding 0
    &__link
      padding 10px
      font-size 14px
      &:hover
        background-color grey-hover
