@import "~tracim_frontend_lib/src/css/Variable.styl"

.dropdownlang
  &__dropdown
    &__subdropdown
      &__link
        &__flag
          width 20px
          height 15px
          align-self center
          margin-inline-end textSpacing
