@import "../../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.menuprofil
  &__dropdown
    &__name
      &.outlineTextBtn
        border 0
        padding 0 5px
      &::after //bootstrap overrides
        vertical-align middle
        color darkGrey
      &__imgprofil
        display inline-block
        margin-right 10px
        width 40px
        height 40px
      &__text
        display inline-block
        margin-right 10px
        font-size 14px
    &__sub
      color darkGrey
      cursor pointer
      &:focus
        box-shadow none
    &__setting
      padding 0
      left inherit
      right 0
      width 100%
      cursor pointer
      &__link
        padding 10px
        font-size 14px

@media (min-width: min-xs) and (max-width: max-lg)
  .menuprofil
    &__dropdown
      &__name
        &__text
          display none
