@import "~tracim_frontend_lib/src/css/Variable.styl"

.menuprofil
  margin auto 0
  &__dropdown
    &__name
      font-size smallTitle
      padding 0 5px 0 0
      & > *
        margin-right 5px
        display inline-block
    &__sub
      color darkGrey
      cursor pointer
      &:focus
        box-shadow none
    &__setting
      left inherit
      right 0

@media (min-width: min-xs) and (max-width: max-lg)
  .menuprofil
    &__dropdown
      &__name
        &__text
          display none
