@import "~tracim_frontend_lib/src/css/Variable.styl"

.notificationButton // TODO GIULIA Review
  &__btn
    position relative
  &__notification
    height notificationCircleSize
    width notificationCircleSize
    line-height 20px
    border-radius 50%
    background-color lightBlue
  &__mention
    height mentionCircleSize
    width mentionCircleSize
    line-height 20px
    border-radius 50%
    font-size metadataFontSize
    font-weight bold
    background-color errorRed
    color white
