@import "~tracim_frontend_lib/src/css/Variable.styl"

.notificationButton
  &__btn
    position relative
  &__count
    position absolute
    top -7px
    right -7px
    height 20px
    width 20px
    line-height 20px
    border-radius 50%
    font-size metadataFontSize
    background-color lightBlue
    color white
    font-weight bold
