@import "~tracim_frontend_lib/src/css/Variable.styl"

.notificationButton
  &__btn
    position relative
  &__notification
    position absolute
    top -5px
    right -7px
    height notificationCircleSize
    width notificationCircleSize
    line-height 20px
    border-radius 50%
    background-color lightBlue
  &__mention
    position absolute
    top -7px
    right -7px
    height mentionCircleSize
    width mentionCircleSize
    line-height 20px
    border-radius 50%
    font-size metadataFontSize
    font-weight bold
    background-color errorRed
    color white
