@import '../../css/Variable.styl'

.tracimTable
  &__header
    display flex
    flex-direction column
    &__btn
      padding 0
      display flex
      justify-content center
      align-items center
      &:focus
        box-shadow none
    &__row
      display flex
      flex-direction row
      white-space nowrap
      padding standardSpacing 0
      margin standardSpacing 0
      &__cell
        display flex
        overflow hidden
        text-overflow ellipsis
        margin-inline-start standardSpacing
        margin-inline-end standardSpacing
      &__cell *
        overflow hidden
        text-overflow ellipsis
  &__body
    display flex
    flex-direction column
    &__row
      display flex
      flex-direction row
      white-space nowrap
      padding standardSpacing 0
      &__cell
        display flex
        overflow hidden
        text-overflow ellipsis
        margin-inline-start standardSpacing
        margin-inline-end standardSpacing
      &__cell *
        overflow hidden
        text-overflow ellipsis

.tracimTable__body__colored .tracimTable__body__row:nth-child(even)
  background-color lightGrey2
