@import "~tracim_frontend_lib/src/css/Variable.styl"

.menusubcomponent
  display flex
  flex-direction column
  align-items flex-start
  justify-content flex-start
  margin-right 30px
  border-radius 10px
  padding 0
  width 20%
  min-height 600px
  background-color offWhite
  &__menutitle
    padding 25px 20px 20px 16px
    font-size 18px
  &__list
    width 100%
    margin-bottom 20px
    &__close
      display none
      justify-content flex-end
      margin standardSpacing 0 borderSpacing 0
      font-size mediumTitle
      cursor pointer
    &__item
      margin-top standardSpacing
      font-weight 500
      font-size 18px
      cursor pointer
      &:hover:not(.active)
        background-color grey-hover
      &.active
        color white
