@import "../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.menusubcomponent
  margin-right 30px
  border-radius 10px
  padding 0
  width 20%
  min-height 600px
  background-color off-white
  &__responsive
    font-size 20px
  &__list
    width 100%
    margin-bottom 20px
    &__close
      display none
      justify-content flex-end
      margin 10px 0 15px 0
      font-size 20px
      cursor pointer
    &__disabled
      padding 25px 20px 20px 16px
      color grey
      font-size 18px
    &__item
      margin-top 10px
      font-weight 500
      font-size 18px
      cursor pointer
      &:hover:not(.active)
        background-color lightGrey
      &.active
        color white
