@import "~tracim_frontend_lib/src/css/Variable.styl"

.personaldata
  &__form
    & .dropdownlang
      margin-bottom standardSpacing
    &__txtinput
      width 300px
      border-width 1px
      border-style solid
      border-radius standardBorderRadius
      &[placeholder]
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      &:disabled
        cursor not-allowed
      &.withAdminMsg
        margin-inline-end standardSpacing
      &__info
        margin textSpacing
        &__icon
          margin-inline-end textSpacing
      &__msgerror
        width 300px
        font-size metadataFontSize
        text-align end
        color errorRed
        &__icon
          margin-inline-end textSpacing
      &__msginfo
        width 300px
        font-size metadataFontSize
        text-align end
    &__button
      vertical-align top
      border-width 1px
      border-style solid
      border-radius standardBorderRadius
