@import "~tracim_frontend_lib/src/css/Variable.styl"

.personaldata
  &__form
    margin 25px 0
    &__txtinput
      width 300px
      border-width 1px
      border-style solid
      border-radius 5px
      &[placeholder]
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      &:disabled
        cursor not-allowed
      &.withAdminMsg
        margin-right 20px
      &__info
        margin 5px
        &__icon
          margin-right 5px
      &__msgerror
        width 300px
        font-size fontSizeMetadata
        text-align right
        color errorRed
        &__icon
          margin-right 5px
      &__msginfo
        width 300px
        font-size fontSizeMetadata
        text-align right
    &__button
      vertical-align top
      border-width 1px
      border-style solid
      border-radius 5px
