.personaldata
  &__text
    margin 15px 0
    font-size 18px
  &__form
    margin 25px 0
    &__txtinput
      display block
      width 300px
      border-width 1px
      border-style solid
      border-radius 5px
      &[placeholder]
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      &:disabled
        cursor not-allowed
      &.withAdminMsg
        margin-right 20px
      &__info
        margin-left 15px
        &__icon
          margin-right 8px
    &__button
      vertical-align top
      border-width 1px
      border-style solid
      border-radius 5px
