@import "~tracim_frontend_lib/src/css/Variable.styl"

.userinfo
  display flex
  justify-content center
  align-items center
  flex-wrap wrap
  padding 20px
  font-size 18px
  &__wrapper
    flex-direction column
  &__avatar
    margin-right 50px
    img
      width 100px
      height 100px
  &__name
    font-size fontSizeTitle
    font-weight bold
  &__email > a
    color fontColor
    &:hover
      text-decoration underline

@media (max-width: max-xs)
  .hamburger-box
    width 45px
    height 22px

  .userinfo
    &__avatar
      margin 0 0 20px 0
    &__wrapper
      text-align center
