@import "~tracim_frontend_lib/src/css/Variable.styl"

.userinfo
  display flex
  justify-content center
  align-items center
  margin-bottom standardSpacing
  &__avatar
    margin-inline-end standardSpacing
  &__name
    overflow hidden
    text-overflow ellipsis
    font-size fontSizeTitle
    font-weight bold
  &__email
    margin textSpacing 0
    & > a
      overflow hidden
      text-overflow ellipsis
      color fontColor
      &:hover
        text-decoration underline
    & > i
      margin-inline-end textSpacing
  &__username
    overflow hidden
    text-overflow ellipsis
  &__profile > i
      margin-inline-end textSpacing
