@import '~tracim_frontend_lib/src/css/Variable.styl'

cardWidth = 280px
fieldSpacing = 8px

.kanban
  &__contentpage
    &__content
      &__left
        background-color offWhite
        display flex
        flex-direction column
        &__top--left
          flex-grow 1
          margin-right 15px
          & .filterBar
            margin 0
            padding 0
    &__wrapper
      display flex
      flex-direction column
      // INFO - GB - 2021-12-20 - 38px is the wsContentGeneric__content__left__top height
      height "calc(100% - %s)" % (headerHeight + 38px)
      &.fullscreen
        position fixed
        width "calc(100% - %s)" % closedSidebarWidth
        height 100%
        // INFO - GB - 2022-08-09 - .kanban.fullscreen has z-index 3 to be above TinyMCE (.tox .tox-editor-header)
        // In case advanced edition is enabled at the moment the user goes into fullscreen mode.
        z-index 3
        background offWhite

      &__options
        display flex
        justify-content flex-end
        align-items center
        gap standardSpacing
        margin-inline standardSpacing
        &__error
          flex 1

      &__board
        flex 1
        overflow-x auto
        overflow-y hidden

        &.hidden
          display none

        &__column
          display flex
          flex-direction row
          border-bottom 3px solid
          padding-bottom standardSpacing
          margin-bottom standardSpacing
          align-items baseline
          justify-content space-evenly
          text-align start
          &.darkText
            color fontColor
            & .btn.kanban_addCard,
            & .btn.kanban__contentpage__wrapper__board__column__title__actions
              color fontColor
          &.lightText
            color offWhite
            & .btn.kanban_addCard,
            & .btn.kanban__contentpage__wrapper__board__column__title__actions
              color offWhite
          &__title
            width 180px
            text-overflow ellipsis
            overflow hidden
            white-space nowrap
            flex 1
            unicode-bidi plaintext
            & > strong
              font-size titleFontSize
              flex 1
              cursor pointer
              overflow hidden
              text-overflow ellipsis
            &__actions.dropdownMenuButton
              color fontColor
              padding 3px
              &.btn i
                margin-inline-end 0
              &::after
                display none
          &__cardNumber
            background-color lightBlue
            color offWhite
            display inline-block
            font-family monospace
            font-size metadataFontSize
            margin 0 textSpacing
            padding-top 0
            padding-bottom 0
            border-radius 20px
            box-sizing border-box
            padding-left 8px
            padding-right 8px
          & button:hover
            background-color lightGrey1
          &.buttonHidden
            .dropdown, .kanban_addCard
              display none
          &.readOnly
            strong
              cursor auto

        & .react-kanban-board
          direction ltr
          height 100%
          overflow-x visible
          padding standardSpacing
          & > div
            height 100%

      &__toolbar
        position absolute
        top standardSpacing
        z-index 1
        & .iconbutton
          background-color offWhite
          &:hover
            background-color lightGrey2
        &:empty
          display none

      & .react-kanban-column-header
        display flex
        flex-direction row
        > :first-child
          flex 1
        > :last-child
          display inline-block
          border-radius standardBorderRadius
          cursor default

      & .react-kanban-column
        padding standardSpacing
        background-color lightGrey2
        border-radius standardBorderRadius
        margin 0 textSpacing
        min-width 315px
        text-align center
        & > :last-child
          overflow hidden
          // INFO - GB - 2021-12-20 - The css rule below is !important because it overrides the library style
          height calc(100% - 43px) !important
          &:hover
            overflow-y auto
  &__KanbanPopup
    max-height 90%
    &.hidden
      display none
    &__inline
      display flex
      flex-wrap wrap
      justify-content flex-start
      align-items center
      gap 5px 25px
      &__column
        display flex
        flex 1
        flex-direction column
        gap fieldSpacing
    & .inlineInput
      display flex
      flex-direction row
      align-items baseline
      gap spacingBetweenListItem
      & label
        min-width 100px
    &__bgColor
      min-width 75px // INFO - CH - 2025-06-06 - label 100px - 25px row gap
    &__assignment, &__kickoff, &__deadline, &__freeInput, &__duration, &__progress, &__depends
      flex 1
    &__bgColor, &__deadline
      display flex
      flex-direction column
    & .textInputComponent, & .select
      flex-grow 1
    & .linebreak
      flex-basis 100%
      height 0

    & .cardPopup
      &__container
        width 100%
        display flex
        flex-direction column
        overflow auto
      &__body
        flex-direction column
        flex unset
        align-items unset
        height unset
        overflow auto
        & div[class$="MenuList"] // INFO - 2025-06-24 - .MenuList is part of react-select dom tree
          max-height 150px

    & [type=checkbox]
      margin textSpacing

    & [type=text], textarea
      width 100%

    & [type=color]
      margin textSpacing 0

    & label
      white-space pre
      font-weight bold

    & input
      vertical-align middle
      &.number
        text-align right

    &__description
      > div
        height 200px

    &__progress
      & .iconbutton
        padding 6px
      > div, button
        flex 1

    &__revert
      display flex
      align-items center
      padding 0 textSpacing
      gap textSpacing
      > span
        flex-grow 1
        text-align right

    &__finished, &__revert__button
      border borderStyle
    &__finished
      background-color lightGrey1
      > i
        color lightGreen
    &__revert__button
      border-color transparent // Hack to avoid a resizing when switching status

    &__form
      display flex
      flex-direction column
      gap 15px
      &__fields
        display flex
        flex-direction column
        gap fieldSpacing

        label
          padding-inline-end textSpacing

        & .form-control
          color unset
          font-size standardFontSize
          padding-inline-start textSpacing
          border none
          &.dateInput
            flex-grow 1
            width auto

      &_buttons
        margin-bottom 0
        padding-bottom 0
        text-align end
        button:last-child, input:last-child
          margin-inline-start standardSpacing

    &__confirm
      display flex
      width 100%
      justify-content flex-end
      & > .iconbutton
        margin-inline-start standardSpacing

  &__columnAdder
    border 1px lightGrey1 dashed
    min-width cardWidth
    max-height 70px
    margin 0 textSpacing
    text-align-last center
    display flex
    border-radius standardBorderRadius
    flex-direction column
    cursor pointer
    &.disabled
      cursor not-allowed
      opacity 0.5

    &:hover
      background-color lightGrey2
    & > *
      margin auto

.fullscreen
  // INFO - ML - 2024-04-26 - 40px is the size of the fullscreen button
  & .kanban__contentpage__wrapper
    &__options
      position relative
      top 10px
      margin-inline-end "calc(40px + %s)" % standardSpacing
    &__board
      margin-inline-end "calc(40px + %s)" % standardSpacing

[dir=ltr] .kanban
  &__contentpage
    &__wrapper
      &.fullscreen
        left closedSidebarWidth
      &__toolbar
        right standardSpacing

[dir=rtl] .kanban
  &__contentpage
    &__wrapper
      &.fullscreen
        right closedSidebarWidth
      &__toolbar
        left standardSpacing

.CustomReactSelectOption
  display flex
  flex-direction row
  gap 5px
  background-color transparent
  color inherit
  cursor default
  font-size inherit
  padding 8px 12px
  width 100%
  user-select none
  box-sizing border-box
  &:hover
    background-color #deebff
  &__avatar__img
    border-radius 50%
  &__username
    color darkGrey1

@media (min-width: max-xs) and (max-width: max-lg)
  .kanban
    &__contentpage
      display block
      &__content__left
        min-height 250px
      &__wrapper
        width 100%
        .commentArea
          &__simpletext
            display inline-flex
            width 60%
          &__submit
            display inline-flex
            margin standardSpacing 0

@media (max-width: max-xs)
  body:not(.tox-fullscreen) .kanban__KanbanPopup
    transform translate(-50%, 0%) !important

  .kanban__KanbanPopup
    position absolute
    top 10%
    max-height "calc(100% - %s)" % listIconWidth

    & .cardPopup__container
      min-width 100%
      max-height 100%
      overflow auto
      & .cardPopup__body
        height 100%
        & .kanban__KanbanPopup__form
          height "calc(100% - %s)" % standardSpacing
  .kanban__contentpage__header__isEditing
    padding-bottom 60px
