@import '~tracim_frontend_lib/src/css/Variable.styl'

cardWidth = 280px

.kanban
  &__contentpage
    &__content
      &__left
        background-color offWhite
        display flex
        flex-direction column
    &__wrapper
      display flex
      flex-direction column
      height calc(100% - 77px)
      &.fullscreen
        position fixed
        top headerHeight
        left 0
        width 100%
        height "calc(100% - %s)" % headerHeight
        z-index 1
        background offWhite

      &__options
        display flex
        justify-content flex-end
        & button
          margin-inline-end standardSpacing

      &__board
        flex 1
        overflow auto
        &__column
          display flex
          flex-direction row
          border-bottom 3px solid
          padding-bottom standardSpacing
          margin-bottom standardSpacing
          align-items baseline
          justify-content space-evenly
          &__title
            width 180px
            text-overflow ellipsis
            overflow hidden
            white-space nowrap
            flex 1
            & > strong
              font-size titleFontSize
              flex 1
              cursor pointer
              overflow hidden
              text-overflow ellipsis

            & > button
              font-size standardFontSize
              padding-left textSpacing

            &__actions.dropdownMenuButton
              padding 0
              &::after
                display none

        & .react-kanban-board
          overflow-y visible !important
          overflow-x visible
          height 100%
          padding standardSpacing

      &__toolbar
        display flex
        justify-content space-between
        align-items center
        padding standardSpacing

      & .react-kanban-column-header
        display flex
        flex-direction row
        > :first-child
          flex 1
        > :last-child
          display inline-block
          border-radius standardBorderRadius
          cursor default

      & .react-kanban-column
        padding standardSpacing
        background-color lightGrey
        border-radius standardBorderRadius
        margin 0 textSpacing

  &__KanbanPopup
    width 100%
    top 15%
    &__bgColor, &__deadline
      display flex
      flex-direction column
      &__inline
        flex-direction row

    & .cardPopup__container
      width unset
      min-width 500px

    & [type=checkbox]
      margin textSpacing

    & [type=text], textarea
      width 100%

    & label
      white-space pre
      font-weight bold

    & input
      vertical-align middle

    &__description, &__title, &__duration
      margin-bottom standardSpacing

    &__form
      width 100%
      &__fields
        & label
          padding-right textSpacing
      &_buttons
        margin-bottom 0
        padding-bottom 0
        text-align right
        button:last-child, input:last-child
          margin-left standardSpacing

    &__confirm
      display flex
      width 100%
      justify-content flex-end
      & > .iconbutton
        margin-inline-start standardSpacing

  &__columnAdder
    border 1px mediumGrey dashed
    min-width cardWidth
    height 70px
    margin 0 textSpacing
    text-align-last center
    display flex
    border-radius standardBorderRadius
    flex-direction column
    cursor pointer
    &:hover
      background-color veryLightGrey
    & > *
      margin auto

@media (min-width: max-xs) and (max-width: max-lg)
  .kanban
    &__contentpage
      display block
      &__content__left
        min-height 250px
      &__wrapper
        width 100%
        .commentArea
          &__simpletext
            display inline-flex
            width 60%
          &__submit
            display inline-flex
            margin standardSpacing 0
