@import '../../css/Variable.styl'

.linkButton
  background-color transparent
  border none
  cursor pointer
  padding 0
  &:hover
    text-decoration underline
  &-light
    color darkGrey2
    &:hover
      color offBlack
  &-dark
    color fontColor
    &:hover
      color black
