.editiontitle
  width 100%

.editionmode
  display flex
  flex-direction column
  align-items center
  width 100%
  height calc(100% - 50px) // 50px => buttons margin
  &__text
    margin-bottom 25px
    width 100%
    height calc(100% - 50px) // 50px => buttons margin
  &__button
    margin 25px 0
    width 100%
    text-align end
    &__cancel
      cursor pointer
    &__submit
      cursor pointer
