@import "~tracim_frontend_lib/src/css/Variable.styl"

.adminWorkspace
  &__createworkspace
    &__btncreate
      margin 25px 15px
  &__description
    margin 25px 0
    font-size 20px
  &__delimiter
    margin 65px auto
  &__table
    margin 25px 15px
    &__delete
      display flex
      align-items center
      flex-wrap wrap
  &__workspaceTable
    table-layout fixed
    &__tr
      &:hover, &:nth-child(even):hover
        background-color grey-hover
      &__td-link
        max-width 0
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        cursor pointer
        &:not(:hover)
          color inherit
      &__td-description
        max-width 0
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

.adminUser
  & .table
    table-layout fixed
    & td
      text-overflow ellipsis
      overflow hidden
    & th
      height 75px
      vertical-align middle
  &__description
    margin-bottom 40px
  &__adduser
    display flex
    align-items center
    margin 25px 0
    &__emailstate
      margin-left 15px
      color fontColor
    &__form
      border 1px solid grey
      border-radius 5px
      padding 20px
      &__userData
        .userData
          &__text
            font-weight bold
            margin-top 10px
            margin-bottom 0px
          &__input
            width 300px
            &__username
              &__errorMsg
                width 300px
                font-size small
                text-align right
                color errorRed
              &__errorIcon
                margin-right 5px
              &__errorInfo
                width 300px
                font-size small
                text-align right
          &__info
            color grey
            &__icon
              margin 0 5px
          &__email
            &__info
              background-color transparent
              border none
              color grey
              cursor pointer
              &:focus
                box-shadow 0 0 0 0
                border 0 none
                outline 0
      &__profile
        .profile
          &__text
            margin 20px 0
            font-weight bold
          &__list
            margin 25px 0
            &__item
              display flex
              align-items center
              margin-bottom 0px
              margin-top 10px
              cursor pointer
              &__content
                &__description
                  color grey
                & > input
                  cursor pointer
  &__delimiter
    margin 50px auto
  &__table
    margin-bottom 100px
    &__tr
      &:hover, &:nth-child(even):hover
        background-color grey-hover
      &.user-deactivated
        color #bbb
      &__td-link
        & > a
          color fontColor
          width 100%
          display block
        &:not(:hover)
          color inherit
        & > i
          margin-right 5px
    &__active
      width 17%
    &__profile
      width 70px // 70px it's the size of avatar's profile
    &__fullName
      width 18%
    &__useername
      width 17%
    &__email
      width 18%
    &__canCreate
      width 15%
    &__administrator
      width 15%

.adminWorkspace
  &__workspaceTable
    & .table
      &__id
        width 5%
        text-align center
      &__type
        width 10%
        text-align left
        & i
          margin-right 5px
      &__sharedSpace
        width 15%
      &__description
        width 60%
      &__memberCount
        width 10%
        text-align right
      &__delete
        width 10%

.adminUser
  &__right
    width 35%
    display inline
    float right
  &__left
    width 60%
    display inline
    float left

.formInfo > span
  margin-right 0.5%
  margin-left 0.5%

.formInfo > button
  margin-left 2%

.fieldInfo
  & input
    width 100%
  & textarea
    width 100%

@media (min-width: min-sm) and (max-width: max-md)
  .adminWorkspace
    &__workspaceTable
      & .table
        &__description
          width 50%
        &__memberCount
          width 15%
        &__delete
          width 15%

@media (max-width: max-xs)
  .adminWorkspace
    &__workspaceTable
      & .table
        &__id
          width 10%
        &__sharedSpace
          width 30%
        &__description
          width 0%
          display none
        &__memberCount
          width 30%
        &__delete
          width 30%
