@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.table th
  vertical-align middle

.adminWorkspacePage
  &__createworkspace
    &__btncreate
      margin 25px 15px
  &__description
    margin 25px 0
    font-size 20px
  &__delimiter
    margin 65px auto
  &__workspaceTable
    margin 25px 15px
    &__deleteworkspace
      display flex
      align-items center
      flex-wrap wrap
      cursor pointer
