@import '~tracim_frontend_lib/src/css/Variable.styl'

barRadius = 3px

// HACK - ALU - 2026-07-31 - Use the full-width with the Gantt container
// Since the Gantt page do not have the right menu (with the timeline or tasks),
// the following modification is mandatory to have a full-width content.
.kanban__gantt__contentpage__content
  width auto
  &__left
    flex 1
  &__left__top
    min-height auto

.kanban__contentpage__wrapper__board
  & > div
    height 100% !important

.gantt-wrapper
  margin standardSpacing

.gantt-container
  height 100% !important
  margin 0 auto

  & .popup-wrapper
    & .title, .subtitle, .details
      margin-bottom 0
    & .gantt-popup-date
      margin textSpacing 0
    & .gantt-popup-progress
      font-size small
      font-weight 600
      margin-bottom standardSpacing

  svg
    background-color var(--g-row-color)
    g.bar-group
      & rect.bar, rect.bar-progress
        border-radius barRadius
        rx barRadius
        ry barRadius
    g.gantt-section
      & rect.bar
        x 0
        rx 0
        ry 0
        width 100%
      & text.bar-label
        font-weight bold
        font-size larger
        text-transform uppercase

@media (min-width: max-xs) and (max-width: max-lg)
  .gantt-wrapper
    width auto !important
