@import '~tracim_frontend_lib/src/css/Variable.styl'

cardWidth = 280px

.kanban
  &__contentpage__wrapper__board__card
    margin-bottom standardSpacing
    width cardWidth
    background-color offWhite
    border 1px solid
    border-radius standardBorderRadius
    padding standardSpacing

    &__title
      display flex

      & strong
        flex 1
        overflow-wrap anywhere
        hyphens auto
        margin-bottom textSpacing

      & > button
        font-size metadataFontSize
        padding textSpacing
        border none
        border-radius 0
        display flex

        &.iconbutton__icon
          margin 0

      &__actions.dropdownMenuButton
        padding 0
        &::after
          display none

    &__description
      overflow-wrap break-word
      &__overflow__button
        display none
      & > div
        line-height standardFontSize
      &.kanban__contentpage__wrapper__board__card__description__overflow
        display flex
        flex-direction column
        & > div
          max-height 75px
          overflow hidden
        & .kanban__contentpage__wrapper__board__card__description__overflow__button
          display unset
          align-self flex-end
          font-size metadataFontSize
          font-weight bold
          margin-top textSpacing
