@import '../../../css/Variable.styl'

.radio_btn_group
  display flex
  justify-content space-evenly
  margin-bottom 25px
  &__btn_img
    display flex
    align-items center
    padding 2px
    &__checked
      border-radius 4px
      border 1px solid black
    &__label
      text-transform: capitalize