@import '../../../css/Variable.styl'

.radio_btn_group
  display flex
  justify-content space-evenly
  margin-bottom 25px
  &__btn__img
    background-color offWhite
    border-radius standardBorderRadius
    display flex
    align-items center
    min-width 90px
    padding 2px
    margin 5px
    cursor pointer
    &__img
      margin standardSpacing
    &__checked
      border 2px solid
      padding 0
    &__label
      font-size metadataFontSize
      margin 5px
