@import "../../css/Variable.styl"

.EmojiPickerPopover .popover
  max-width unset

.EmojiReactionButtons
  display flex
  align-items center
  justify-content flex-end
  flex 1

.ReactionButton__button, .ReactionButton__buttonpicker
  background transparent
  cursor pointer
  border-radius 3px
  margin 2px

.ReactionButton__button
  border 1px solid lightDarkGrey
  &__value
    font-family 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji', 'Android Emoji', sans-serif
  &__count
    padding-left 4px
    display inline-block
    text-align left
    min-width 2ex // prevent the button from resizing when the count changes

.ReactionButton__buttonpicker
  border 1px solid transparent
  &.active
    background-color mediumDarkGrey
    border 1px solid mediumDarkGrey

.ReactionButton__button:hover, .ReactionButton__buttonpicker:hover:not(.active)
  background-color grey-hover
  border 1px solid mediumGrey

.highlighted
  &.ReactionButton__button
    background-color lighten(primaryColor, 85%)
    border 1px solid primaryColor

    &:hover
      background-color lighten(primaryColor, 75%)
      border 1px solid primaryColor
