@import "../../css/Variable.styl"

.EmojiPickerPopover .popover
  max-width unset

.EmojiReactions
  display flex
  align-items center
  justify-content flex-end
  flex 1
  flex-wrap wrap
  overflow auto
  height 100%

.EmojiReactionButton__button, .EmojiReactionButton__buttonpicker
  background transparent
  border-radius standardBorderRadius
  white-space pre
  &:not(:disabled)
    cursor pointer

.EmojiReactionButton__button
  border-width 1px
  border-style solid
  font-size metadataFontSize
  padding 1px 4px

  &:not(.highlighted)
    border-color mediumGrey

  &:hover:not(:disabled)
    border 1px solid lightDarkGrey

  &__value
    font-family 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji', 'Android Emoji', sans-serif
  &__count
    display inline-block
    text-align right

    @media (min-width: min-lg)
      min-width 1.5ex // INFO - RJ - 2021-03-17 - prevent the button from resizing when the count changes

  > *
    color fontColor

.EmojiReactionButton__buttonpicker
  color grey
  border 1px solid transparent
  &.active
    color fontColor
    border 1px solid mediumDarkGrey

.EmojiReactionButton__button:hover:not(.highlighted):not(:disabled), .EmojiReactionButton__buttonpicker:hover:not(.active):not(:disabled)
  color fontColor

.emoji-mart button, .emoji-mart-category button.emoji-mart-emoji span
  // INFO - RJ - 2021-03-18 - This class is intentionally specific to overwrite emoji-mart's own CSS rule
  cursor pointer
