@import "../../css/Variable.styl"

.confirm_popup
  z-index 21
  .cardPopup__container
    width 400px
  &__body
    width 100%
    &__msg
      margin-bottom 1ex
    &__btn
      display flex
      justify-content flex-end
      &__item:not(:last-child)
        margin-right standardSpacing
