.confirm_popup
  .cardPopup__container
    width 400px
  &__body
    width 100%
    &__msg
      margin-bottom 1ex
    &__btn
      display flex
      justify-content flex-end
      .btn:first-child
        margin-right 15px
