@import '../../css/Variable.styl'

.wsContentGeneric
  position fixed
  top headerHeight
  right 0
  width 100%
  height 100%
  background-color lightGrey
  z-index 9
  &.sidebarVisible
    max-width "calc(100% - %s)" % sidebarWidth
  &.visible
    visibility visible
  &__header
    display flex
    align-items center
    margin 5px 5px 5px 40px
    height 60px
    border-bottom 1px solid mediumGrey
    & > *
      margin-right 5px
    &__actions
      &::after
        display none
    &__icon
      margin-right 10px
      font-size fontSizeTitle
    &__title
      margin-right 10px
      border-radius 5px
      width 100%
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
      font-size fontSizeMedium
      & > input
        padding-left 5px
    &__close
      border-radius 5px
      padding 3px 7px
      & > i
        font-size fontSizeMedium
  &__option
    border-bottom 1px solid grey
    padding 6px 10px
    height 58px
    background-color offWhite
    &__menu
      height 100%
      & > div
        display flex
        flex-flow row
        justify-content space-between
        align-items center
        height 100%
      &__addversion
        display flex
        align-items center
        cursor pointer
      &__lastversion
        display flex
        align-items center
        margin-left 15px
        border-width 1px
        border-style solid
        & > i
          margin-right 10px
          color darkGrey
          font-size fontSizeMedium
      &__action
        font-size fontSizeMedium
        background-color transparent
        border none
        cursor pointer
        &:hover , &:focus
          color blue
  &__content
    display flex
    flex-wrap wrap
    // 209 = wsContentGeneric:top wsContentGeneric__header:height - wsContentGeneric__option:height
    width 200% // to allow transform translateX of right part
    height calc(100% - 209px)
    &__state
      width 100%
      padding 5px 15px
      border-radius 10px
      background-color #fbe294
    &__left
      transition width 0.4s ease
      width 25%
      height 100%
      &__top
        display flex
        align-items center
        color lightDarkGrey
        font-size fontSizeSmall
        padding 5px 10px
        & .breadcrumbs
          margin-inline-end auto
          overflow auto
        &__version
          margin-left auto
          display flex
        &__lastversion
          margin-left 15px
          font-weight bold
    &__right
      display flex
      transition width 0.4s ease
      width 25%
      height 100%
      &__content
        width calc(100% - 65px) // 65px is the width of the rightPart header
        overflow-y auto
        &__title
          margin 10px 15px
          padding 10px
          font-size fontSizeMedium
      &__header
        display flex
        flex-direction column
        width 65px
        background-color mediumGrey
        font-size fontSizeMedium
        cursor pointer
        &__icon
          cursor pointer
          border none
          height 65px
          background-color mediumGrey
          border-left 5px solid transparent
          &:focus
            border-color transparent
            outline 0
          &.active
            background-color lightGrey
          &__close
            text-align center
            cursor pointer
            margin auto 0 15px

.rightPartClose
  .wsContentGeneric__content
    &__left
      width calc(50% - 65px) // 65px is the width of the rightPart header
    &__right__header__icon.active
      background-color mediumGrey
      border none

responsiveColumnStyle()
  .wsContentGeneric__content__right
    display flex
    flex-direction column
    margin 0
    &__header
      flex-direction row
      width 100%
      height 65px
      justify-content flex-end
      &__icon
        transform none
        border-left-width 0
        margin-left 5px
        padding 10px
        width 65px
        border-top 5px solid
        & > i
          margin auto
        &__close
          display none
    &__content
      width 100%
  .rightPartClose
    .wsContentGeneric__content__right__header__icon.active
      border-top 5px solid

@media (max-width: max-lg)
  .rightPartClose
    .wsContentGeneric__content__left
      width 100%

@media (min-width: min-lg) and (max-width: max-lg)
  .wsContentGeneric
    &__content
      overflow-Y auto
      width 100%
      &__left
        width 100%
        height auto
      &__right
        width 100%
        height auto
  responsiveColumnStyle()

@media (min-width: min-md) and (max-width: max-md)
  .wsContentGeneric
    &__content
      overflow-Y auto
      width 100%
      &__left
        width 100%
        height auto
        &__textnote
          height auto
          overflow-y hidden
      &__right
        width 100%
        height auto
  responsiveColumnStyle()

@media (min-width: min-sm) and (max-width: max-sm)
  .wsContentGeneric
    width 100%
    max-width 100%
    top headerHeight
    &__content
      overflow-Y auto
      width 100%
      &__left
        width 100%
        height auto
        &__textnote
          height auto
          overflow-y hidden
      &__right
        width 100%
        height auto
  responsiveColumnStyle()

@media (max-width: max-xs)
  .wsContentGeneric
    width 100%
    max-width 100%
    top headerHeight
    &__option
      display none
    &__content
      overflow-Y auto
      width 100%
      &__left
        width 100%
        height auto
        &__textnote
          height auto
          overflow-y hidden
      &__right
        width 100%
        height auto
  responsiveColumnStyle()
