@import '~tracim_frontend_lib/src/css/Variable.styl'

.nomarginlabel
  margin-bottom 0

.table tr:nth-child(even) // @fixme Côme - 2018/09/13 - refactor this rule, it should not impact the whole project
  background-color lightGrey

.account
  &__delimiter
    margin auto
  &__userpreference
    display flex
    padding-top standardSpacing
    &__setting
      border-radius borderRadiusStandard
      padding standardSpacing
      width 80%
      min-height 500px
      background-color offWhite
      .spaceconfig
        &__table
          &__role
            display flex
            align-items center
            &__icon
              margin-inline-end textSpacing
      & .agendaInfo__header
        font-weight normal
        font-size fontSizeTitle
        margin 0


@media (max-width: max-md)
  .account
    &__userpreference
      flex-direction column
      .menusubcomponent
        margin-inline-end 0
        margin-bottom standardSpacing
        width 100%
        min-height auto
      &__setting
        width 100%
