@import '~tracim_frontend_lib/src/css/Variable.styl'

.activity_feed
    background-color lightgrey
    &__list
        margin: auto
        margin-top: 50px
        width: 800px
        display: flex
        flex-direction: column
    &__item
        background-color: white
        border: 1px solid grey
        border-radius: 5px
        padding: 10px
        margin-bottom: 10px
