.adminWorkspacePage
  &__createworkspace
    &__btncreate
      margin 25px 15px
  &__description
    margin 25px 15px
    font-size 20px
  &__delimiter
    margin 25px auto 65px auto
  &__workspaceTable
    margin 25px 15px
