.advancedSearch
  overflow-x hidden

  &__page
    display flex
    flex 1

  & .search
    width 100%

  &__input
    display flex
    &__type
      display inline-flex
      align-items center
      & > *
        cursor pointer
      & > label
        margin 0px standardSpacing
  &__content
    flex 1
    width 100%

    &__detail
      align-items center
      color darkGrey2
      display flex
      height 45px
      margin-top standardSpacing

      &__filter_button
        margin-inline-start auto

    &__empty
      margin-top 50px
      font-weight bold
    &__btnSeeMore
      text-align center
      padding 25px

@media (max-width: max-md)
  .advancedSearch__openMenu
    padding 0px
    & > .advancedSearch__input
      display none
    & .advancedSearch__content
      display none

@media (max-width: max-sm)
  .advancedSearch
    &__content__detail__filter
      & > .iconbutton__text
        display none
    &__input
      flex-direction column-reverse
      margin-inline-end 30px
      &__type
        margin-top 15px
