@import "~tracim_frontend_lib/src/css/Variable.styl"

.advancedSearch
  padding-right 0px
  overflow-x hidden
  &__page
    display flex
  & .search
    margin-right 30px
  &__content
    flex 1
    margin-right 30px
    &__detail
      display flex
      margin-top 15px
      margin-left 25px
      color lightDarkGrey
      height 45px
      align-items center
      &__filter
        margin-right 0px
    &__empty
      margin-top 50px
      font-weight bold
    &__btnSeeMore
      text-align center
      padding 25px

@media (max-width: max-md)
  .advancedSearch__openMenu
    padding 0px
    & > .search
      display none
    & .advancedSearch__content
      display none

@media (max-width: max-sm)
  .advancedSearch__content__detail__filter
    & > .iconbutton__text
      display none
