@import "~tracim_frontend_lib/src/css/Variable.styl"

.conditions
  &__main
    &__wrapper
      display flex
      flex-direction column
      width 80%
      margin-block-start 40px
      margin-inline-start 40px
      margin-inline-end auto
    &__title
      font-size mainTitle
      margin-bottom 15%
    &__checkbox
      display flex
      align-items center
      margin-bottom standardSpacing
      & > a
        overflow hidden
        text-overflow ellipsis
    &__label
      margin 0px standardSpacing
      white-space nowrap
    &__buttons
      display flex
      justify-content space-between
      margin-top 20px

@media (max-width: max-md)
  .conditions
    &__main
      &__wrapper
        margin-inline-start auto
        margin-top standardSpacing
