.content
  position relative
  border borderStyle
  border-bottom 0px
  background-color offWhite
  &.item-last
    border-bottom borderStyle
    margin-bottom standardSpacing
  &__item
    padding standardSpacing 0
  &__type
    padding 0 standardSpacing
    font-size bigIconSize
    text-align center
  &__dragPreview
    display flex
    align-items center
    flex 1
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  &__name
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    color fontColor
  &__status
    flex-grow 0
    width 140px
    padding 0 standardSpacing
    display flex
    color fontColor
    align-items center
    &__icon
      font-size bigIconSize
  & .dragHandle
    display none
  &:hover > .dragHandle
    display block

@media (max-width: max-xs)
  .content
    &__header__status
      display none
    &__status
      width auto
      &__text
        display none
