@import '~tracim_frontend_lib/src/css/Variable.styl'

.content__header
  display flex
  &__type
    flex-grow 0
    padding standardSpacing
    text-align center
  &__name
    flex-grow 2
    padding standardSpacing
  &__status
    flex-grow 0
    padding standardSpacing
    width 165px
    text-align center
  &__search
    display flex
    flex-grow 5
    &__path
      flex 2
      padding 15px 5px
    &__modif
      flex 1
      padding 15px 5px

@media (max-width: max-xs)
  .content__header__status
    width 70px
    text-align right
