@import "~tracim_frontend_lib/src/css/Variable.styl"

.dashboard
  width 100%
  min-height 100%
  &__header
    &__title
      width auto
      &__text
        margin 0
  &__workspace
    display flex
    justify-content space-around
    &__subtitle
      font-size fontSizeMedium
      font-weight bold
      margin-left 10px
    &__content
      width 70%
      & .activityList
        max-width 100%
    &__detail
      background offWhite
      border 1px solid grey
      border-radius 5px
      padding 10px
      margin 10px 30px 10px 0px
      &__buttons
        text-align end
        margin-top 10px
        font-size fontSizeSmall
      &__title
        margin 0 30px 20px 30px
        font-size 70px
        font-weight 500
        display flex
        justify-content space-between
      &__description
        overflow hidden
        text-overflow ellipsis
        &__missing
          color mediumDarkGrey
          font-style italic
    &__rightMenu
      width 30%
      background-color offWhite
      border 1px solid grey
      border-radius 5px
      padding 10px
      & .iconbutton
        margin-top 10px
        width 240px
        text-align start
  &__workspaceInfo
    display flex
    flex-wrap wrap
    padding 30px
    min-height 100%
    justify-content space-around
    .subTitle
      margin-bottom 10px

@media (min-width: min-lg) and (max-width: max-lg)
  .dashboard__workspace__rightMenu
    width 25%

@media (max-width: max-md)
  .dashboard__section
    padding 0px
    margin-top 10px

@media (max-width: max-xs)
  .dashboard .pageContentGeneric
    margin 10px 0 0 0

  .dashboard
    .memberlist
      &__list__item__delete
        display none
      &__btnadd
        display none
