.dashboard
  width 100%
  min-height 100%
  &__header
    &__title
      width auto
      &__text
        margin 0
  &__workspace
    display flex
    justify-content space-around
    &__subtitle
      font-size titleFontSize
      font-weight bold
      margin-left standardSpacing
    &__content
      width 70%
      & .activityList
        max-width 100%
    &__detail
      background offWhite
      border borderStyle
      padding standardSpacing
      margin-bottom standardSpacing
      border-radius standardBorderRadius
      &__buttons
        text-align end
        margin-top standardSpacing
        font-size metadataFontSize
      &__description
        overflow hidden
        text-overflow ellipsis
        &__missing
          color mediumDarkGrey
          font-style italic
    &__rightMenu
      width 30%
      background-color offWhite
      border borderStyle
      border-radius standardBorderRadius
      padding standardSpacing
      margin-inline-start standardSpacing
      &__contents
        display flex
        flex-direction column
      & .iconbutton
        margin-top standardSpacing
        width 252px
        text-align start
        margin-left auto
        margin-right auto
        max-width 100%
        text-overflow ellipsis
        overflow hidden
  &__workspaceInfo
    display flex
    flex-wrap wrap
    padding 30px
    min-height 100%
    justify-content space-around
    .subTitle
      text-align center

  &__section
    padding standardSpacing 0

.workspaceRecentActivities__header
  font-size titleFontSize
  font-weight bold
  margin-top standardSpacing

@media (min-width: min-lg) and (max-width: max-lg)
  .dashboard__workspace__rightMenu
    width 25%

@media (max-width: max-md)
  .dashboard__section
    padding 0px
    margin-top standardSpacing
    overflow-wrap anywhere

@media (max-width: max-sm)
  .dashboard
    & .pageContentGeneric
      padding standardSpacing
    &__workspace
      flex-direction column
      &__subtitle
        font-size unset
      &__content
        width 100%
        & .activityList
          width 100%
        & .workspaceRecentActivities__header
          font-size unset
          margin 0px auto standardSpacing standardSpacing
      &__rightMenu
        width 100%
        margin 0

@media (max-width: max-xs)
  .dashboard
    .memberlist
      margin standardSpacing 0
      &__list__item__delete
        display none
      &__btnadd
        display none
    &__workspace__rightMenu__contents
      flex-flow row wrap
      & .iconbutton
        width auto
        margin-inline-end standardSpacing
        margin-inline-start 0px
        &__icon
          margin 0
        &__text_with_icon
          display none
