.extandedaction
  &__subdropdown
    margin 0
    padding 0
    z-index 2
    .subdropdown
      &__item
        padding 10px
        &:hover
          color off-white


@media (min-width: min-sm) and (max-width: max-md)

  .extandedaction
    display none

@media (max-width: max-xs)

  .extandedaction
    display none
