@import "~tracim_frontend_lib/src/css/Variable.styl"

// NOTE - S.G. - 2021-04-01 - The positioning properties (flex/sizes) of the "columns"
// should be kept in sync with ContentListItem.styl
// Or a better solution (flex-grid?) be implemented.
.favoritesHeader
  display flex
  width 100%
  height 65px
  justify-content space-between
  align-items center

  &__type
    width 90px
    text-align center
  &__title
    flex 2
  &__title-max-sm
    flex 2
    display none
  &__modification
    flex 1
  &__information
    flex 1
  &__favoriteButton
    text-align center
    width 90px

.unavailableContent
  &__name_warning
    display flex
    flex-direction column
  &__warning
    font-size fontSizeSmall

.favorites
  cursor auto
  &__no_favorite
    margin-inline-start 40px
    font-size fontSizeTitle
  &__item
    &__favoriteButton
      font-size fontSizeTitle
      text-align center
      width 90px
    &__link
      width 50%

@media (max-width: max-lg)
  .favoritesHeader
    &__type
      width 50px
  .favorites
    &__item__link
    // NOTE S.G. - 2021-03-31 - Leave space for the favorite button
    // 50px == favorite button column width
      width calc(50% - 50px)

@media (max-width: max-md)
  .favoritesHeader
    &__information
      display none

@media (max-width: max-sm)
  .favoritesHeader
    &__modification
      display none
    &__title
      display none
    &__title-max-sm
      display unset
