
@import '~tracim_frontend_lib/src/css/Variable.styl'

backgroundColor = grey-hover
spacingSize = 10px
feedWidth = 800px
smallScreenFeedWidth = 400px

.feedItem
  background-color backgroundColor
  border 1px solid grey
  border-radius 5px
  padding spacingSize
  margin-bottom spacingSize
  margin-inline-end auto
  margin-inline-start auto
  width feedWidth
  max-width 100%
  &__content
    position relative
    background-color offWhite
    margin spacingSize 0
    border-radius 5px
  & .timeline
    width 100%
    height unset
  &__timeline
    &__texteditor
      margin 0
    &__messagelist
      padding 0
  &__publication
    &.comment.sent, &.comment.received
      margin 0
    &__body
      border 0
    &__messagelist__item
      margin-bottom 0

@media (max-width: max-sm)
  .feedItem__timeline__texteditor__advancedtext
    display none
