// file deprecated since footer is now in sidebar
.footer
  border-top borderStyle
  width 100%
  background-color lightGrey
  &__text
    display none
    vertical-align middle
    margin-top 5px
  &__logo
    display inline-block
    vertical-align middle
    margin 0 2% 0 35px
    width 120px

// MEDIAQUERIES

@media (min-width: min-lg)
  .footer
    &__text
      display inline-block
