.forgotpassword
  &__card__body
    &__title
      margin-bottom standardSpacing
    &__grouplogin
      margin-bottom standardSpacing
    &__submsg
      margin-bottom standardSpacing
      font-size metadataFontSize
    &__btn
      display flex
      justify-content space-between
      &-no-email
        display flex
        justify-content flex-end
        & .btnSubmit
          width auto
