@import "~tracim_frontend_lib/src/css/Variable.styl"

a
  &:hover, &:link, &:visited
    text-decoration none

.fullWidthFullHeight
  flex 1

.table td
  vertical-align middle

.outlineTextBtn
  padding standardSpacing
  background-color transparent
  cursor pointer
  &:disabled
    cursor not-allowed
  &:hover
    color offWhite
  &.nohover
    &:hover
      color inherit

.highlightBtn
  padding standardSpacing
  color offWhite
  cursor pointer
  &:disabled
    cursor not-allowed

.iconBtn
  border-color transparent
  background-color transparent
  padding 5px
  cursor pointer
  &:disabled
    cursor not-allowed

div.mce-fullscreen
  z-index 1050
  &.mce-container
    top headerHeight
// INFO - GM - 2020/03/20 - Custom css to make TinyMCE fill its 100% height container
// Solution inspired originally by these answers: https://stackoverflow.com/questions/19861838/tinymce-4-and-100-height-within-containing-element?answertab=votes#tab-top
/*Editing container*/
#content .mce-tinymce:not(.mce-fullscreen), #content .mce-container-body
  min-height 100%
.mce-container-body.mce-stack-layout
  height 100%
  display flex
  flex-flow column
/*Editor header*/
div.mce-top-part
  flex 0 1 auto
/*Editor body*/
div.mce-edit-area
  flex 1 1 auto
/*Editor footer*/
div.mce-statusbar
  flex 0 1 31px

.sidebarpagecontainer
  display flex

.nopadding
  padding 0

.dropdownCreateBtn
  margin-left standardSpacing
  &__label
    display flex
    margin-left auto
    align-items center
    &__text
      display inline-block
      color offWhite
    &::after //bootstrap override
      display inline-block
      margin-left 30px
      color offWhite
    &:hover
      color offWhite
  &__setting
    padding 0
    cursor pointer
    .setting__link
      padding standardSpacing
      cursor pointer

.subTitle
  font-size titleFontSize
  margin-bottom standardSpacing

.genericBtnInfoDashboard
  &__btn
    display flex
    margin-bottom 30px
    border-width 1px
    border-style solid
    border-radius standardBorderRadius
    padding standardSpacing 25px
    cursor pointer
    &:hover
      color offWhite
    &__icon
      margin-right 20px
      font-size bigIconSize
  &__info
    border borderStyle
    border-radius standardBorderRadius
    padding 15px 25px
    &__text
      margin-bottom 35px
    &__link
      display inline-block
      margin-bottom 15px
      border borderStyle
      border-radius standardBorderRadius
      padding 15px

.notched // Côme - 2018/09/27 - this class requires a border-color to be defined (eg. with primaryColorBorder)
  &::before
    content ''
    position absolute
    width 28px
    height 25px
    border-style solid
    top 0
    right 0
    border-width 6px 6px 0 0
    border-color inherit
  &::after
    content ''
    position absolute
    width 28px
    height 25px
    border-style solid
    bottom 0
    left 0
    border-width 0 0 6px 6px
    border-color inherit

#appFullscreenContainer
  height "calc(100vh - %s)" % headerHeight
  overflow hidden
  & > div[data-radium="true"]
    width 100%
    height 100%
    overflow-y auto
    & > .pageWrapperGeneric
      width auto
      height auto
      overflow-y auto

.popover-body
  font-family Quicksand
