a
  color fontColor
  &:hover, &:link, &:visited
    color fontColor
    text-decoration none

.tracim
  height 100%
  &__content
    height 100%

.btn-primary
  background-color thirdColor
  border-color secondColor
  cursor pointer
  &:hover, &:focus, &:active, &:visited, &:focus-within
    background-color hover-button
    border-color hover-button
    box-shadow none
    outline none

.btn-outline-primary
  color fontColor
  border-color secondColor
  cursor pointer
  &:hover, &:focus, &:active, &:visited, &:focus-within
    background-color hover-button
    border-color hover-button
    box-shadow none
    outline none

.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle
  background-color hover-button
  border-color hover-button
  box-shadow none

.btn-outline-primary.active, .btn-outline-primary:active, .show>.btn-outline-primary.dropdown-toggle
  background-color hover-button
  border-color hover-button
  box-shadow none
  outline none

.dropdown-item
  &:hover, &:focus
    background-color thirdColor
    color off-white
    box-shadow none
    outline none

.btn-primary.disabled, .btn-primary:disabled
  background-color thirdColor
  border-color transparent
  color off-white

.btn-outline-primary.disabled, .btn-outline-primary:disabled
  color fontColor

.btn.disabled, .btn:disabled
  cursor not-allowed

.sidebarpagecontainer
  display flex
  padding-top 88px
  min-height 100%

.pageWrapperGeneric
  width 100%
  &__header
    display flex
  &__content
    margin 10px 10px 120px 10px
@media (min-width: min-md) and (max-width: max-md)
  .pageWrapperGeneric
    display block
    &__header
      margin 95px 0 5px 30px
    &__content
      margin 0
@media (min-width: min-sm) and (max-width: max-sm)
  .pageWrapperGeneric
    display block
    &__header
      margin 95px 0 35px 0
      &__title
        display inline-block
        margin-left 0
    &__content
      margin 0
@media (max-width: max-xs)
  .pageWrapperGeneric
    display block
    &__header
      display block
      margin-top 60px
    &__content
      margin 0

.nopadding
  padding 0

.pageTitleGeneric
  margin 45px 0
  width 100%
  &__title
    margin-left 10px
    font-size 30px
    color darkGrey
@media (max-width: max-xs)
  .pageTitleGeneric
    display block


.pageContentGeneric
  margin 10px 15px 0 15px
  width 100%
  height 100%

.dropdownCreateBtn
  margin-left 10px
  &__label
    padding 10px 65px
    background-color thirdColor
    cursor pointer
    &__text
      display inline-block
      color white
    &::after //bootstrap override
      display inline-block
      margin-left 30px
      color white
  &__setting
    padding 0
    cursor pointer
    .setting__link
      padding 10px
      cursor pointer

.fileColor
  color fileColor

.threadColor
  color threadColor

.taskColor
  color taskColor

.markdownColor
  color markdownColor

.htmlColor
  color htmlColor

.issueColor
  color issueColor

// .fa-comments-o
//   color threadColor

// .fa-list-ul
//   color taskColor

// .fa-file-code-o
//   color markdownColor

// .fa-file-text-o
//   color htmlColor

// .fa-ticket
//   color issueColor


.gestionnaire
  color gestionnaire

.contributeur
  color contributeur

.responsable
  color responsable

.lecteur
  color lecteur

// .fa-graduation-cap
//   color gestionnaire

// .fa-pencil
//   color contributeur

// .fa-gavel
//   color responsable

// .fa-eye
//   color lecteur

.subTitle
  font-size 20px
  font-weight 500
  color thirdColor

.genericBtnInfoDashboard
  &__btn
    display flex
    margin-bottom 30px
    border-width 1px
    border-style solid
    border-radius 10px
    padding 15px 25px
    cursor pointer
    &:hover, &:focus
      background-color thirdColor
      color white
    &__icon
      margin-right 20px
      font-size 30px
  &__info
    border 1px solid grey
    border-radius 10px
    padding 15px 25px
    &__text
      margin-bottom 35px
    &__link
      display inline-block
      margin-bottom 15px
      border 1px solid grey
      border-radius 10px
      padding 15px
