@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.guestupload, .guestdownload
  &__card
    &__form
      &__text
        margin 15px
      &__groupepw
        margin-right 5px
        flex-grow 2
        &__question
          background-color transparent
          border none
          color grey
          font-size 18px
          padding 0
          &:focus
            box-shadow 0 0 0 0
            border 0 none
            outline 0
.popover-body
  font-family Quicksand
