.guestupload, .guestdownload
  overflow hidden
  &__card
    &__form
      &__text
        margin 15px
      &__groupepw
        margin-right 5px
        flex-grow 2
        &__question
          margin-bottom 15px
          background-color transparent
          border none
          color grey
          font-size standardFontSize
          padding 0
          cursor pointer
          &:focus
            box-shadow 0 0 0 0
            border 0 none
            outline 0
      &__right
        &__btn
          margin-inline-start auto
          color offWhite!important //INFO - G.B. - 2019-08-13 - override bootstrap rule to <a>

.guestupload
  &__card
    &__form
      &__container
        display flex
        flex-flow row
      &__left, &__right
        flex-grow 1
        flex-basis 50%
      &__right
        display flex
        flex-flow column
        margin-inline-start 20px

.importConfirmation
  width 425px
  min-height 200px
  display flex
  align-items center
  text-align center
  justify-content center
  flex-direction column
  margin auto
  &__icon
    font-size bigIconSize
    margin standardSpacing
    -webkit-text-stroke 1px black
    color transparent

@media (max-width: max-xs)
  .guestupload
    &__card
      &__form
        &__container
          flex-flow column
        &__right
          margin-inline-start 0
          margin-top 20px
