.header
  display flex
  justify-content space-between
  height headerHeight
  align-items center
  padding-inline-start standardSpacing
  padding-inline-end standardSpacing
  background-color lightGrey2
  &__menu
    &__rightside
      display flex
      &__specificBtn:empty
        display none
      & .dropdownlang
        margin-inline-start standardSpacing
