.homepagecard
  margin 100px auto
  width 600px
  &__title
    font-size 35px
    font-weight 600
    text-transform uppercase
    color blue
  &__thanks
    font-size 20px
  &__delimiter
    margin 50px auto
  &__text
    font-size 20px
  &__btn
    margin-left calc(50% - 150px) /* 150px => width: 300px / 2 */
    padding 15px 10px
    width 300px
    cursor pointer
  &__logo
    margin-left calc(50% - 90px) /* 90px => width: 180px / 2 */
    width 180px

// MEDIAQUERIES

@media (min-width: min-sm) and (max-width: max-sm)

  .homepagecard
    width 575px

@media (max-width: max-xs)

  .homepagecard
    width 380px
