.homepage
  display flex
  align-items center
  flex-direction column
  justify-content center
  min-height 100%
  &__usernamePopup
    .cardPopup__container
      width 400px
    &__body
      width 100%
      &__title
        font-weight bold
        text-align center
        margin-bottom standardSpacing
      &__input
        margin textSpacing 0
      &__checkbox
        margin-top standardSpacing
        display flex
        &__input
          margin auto textSpacing
      &__smallmsg
        font-size metadataFontSize
      &__btn
        margin-top standardSpacing
        display flex
        margin-left auto
        align-items center
    &__errorMsg
      font-size metadataFontSize
      margin-right textSpacing
      text-align end
      color errorRed
    &__errorIcon
      margin-right textSpacing
    &__infoMsg
      font-size metadataFontSize
      text-align end
