[dir=rtl] .fa-arrow-left
[dir=rtl] .fa-arrow-right
[dir=rtl] .fa-caret-right
[dir=rtl] .fa-chevron-left
[dir=rtl] .fa-chevron-right
[dir=rtl] .fa-cogs
[dir=rtl] .fa-comment
[dir=rtl] .fa-comments
[dir=rtl] .fa-copy
[dir=rtl] .fa-download
[dir=rtl] .fa-edit
[dir=rtl] .fa-external-link-alt
[dir=rtl] .fa-eye
[dir=rtl] .fa-eye-slash
[dir=rtl] .fa-file
[dir=rtl] .fa-file-alt
[dir=rtl] .fa-file-archive
[dir=rtl] .fa-file-code
[dir=rtl] .fa-file-image
[dir=rtl] .fa-file-pdf
[dir=rtl] .fa-folder
[dir=rtl] .fa-folder-open
[dir=rtl] .fa-gavel
[dir=rtl] .fa-graduation-cap
[dir=rtl] .fa-hand-point-right
[dir=rtl] .fa-hdd
[dir=rtl] .fa-history
[dir=rtl] .fa-home
[dir=rtl] .fa-id-card
[dir=rtl] .fa-image
[dir=rtl] .fa-lightbulb
[dir=rtl] .fa-link
[dir=rtl] .fa-list-ul
[dir=rtl] .fa-magic
[dir=rtl] .fa-newspaper
[dir=rtl] .fa-paper-plane
[dir=rtl] .fa-paperclip
[dir=rtl] .fa-pencil-alt
[dir=rtl] .fa-phone
[dir=rtl] .fa-phone-slash
[dir=rtl] .fa-play
[dir=rtl] .fa-question
[dir=rtl] .fa-question-circle
[dir=rtl] .fa-random
[dir=rtl] .fa-share
[dir=rtl] .fa-share-alt
[dir=rtl] .fa-shield-alt
[dir=rtl] .fa-sign-in-alt
[dir=rtl] .fa-sign-out-alt
[dir=rtl] .fa-sliders-h
[dir=rtl] .fa-stream
[dir=rtl] .fa-tag
[dir=rtl] .fa-upload
[dir=rtl] .fa-user-cog
[dir=rtl] .fa-user-plus
  transform scale(-1,1)
