 // Côme - this comes from node_modules/tracim_lib
@import '~tracim_frontend_lib/src/css/Variable.styl'
@import '~tracim_frontend_lib/src/css/Generic.styl'

@import 'Account.styl'
@import 'AdminUserSpacesConfig.styl'
@import 'AdvancedSearch.styl'

@import 'Conditions.styl'
@import 'ContentItem.styl'
@import 'ContentItemHeader.styl'

@import 'Dashboard.styl'

@import 'Favorites.styl'
@import 'FeedItemWithPreview.styl'
@import 'ForgotPassword.styl'

@import 'Generic.styl'
@import 'GuestPage.styl'

@import 'Header.styl'
@import 'Home.styl'

@import 'JoinWorkspace.styl'

@import 'Login.styl'

@import 'NotificationWall.styl'

@import 'Publications.styl'
@import 'PublicProfile.styl'

@import 'RecentActivities.styl'

@import 'SearchFilterMenu.styl'
@import 'Sidebar.styl'
@import 'SimpleSearch.styl'

@import 'Tracim.styl'

@import 'IconsRtl.styl'

@import 'UnloggedPage.styl'

@import 'Workspace.styl'
