 // Côme - this comes from node_modules/tracim_lib
@import '~tracim_frontend_lib/src/css/Variable.styl'
@import '~tracim_frontend_lib/src/css/Generic.styl'

@import 'Generic.styl'

@import 'Tracim.styl'
@import 'Sidebar.styl'
@import 'NotificationWall.styl'
@import 'Header.styl'
@import 'Footer.styl'

@import 'UnloggedPage.styl'
@import 'GuestPage.styl'
@import 'Login.styl'
@import 'ForgotPassword.styl'
@import 'Workspace.styl'
@import 'Home.styl'

@import 'ContentItem.styl'
@import 'ContentItemHeader.styl'

@import 'Dashboard.styl'
@import 'Account.styl'
@import 'PublicProfile.styl'

@import 'AdvancedSearch.styl'
@import 'SearchFilterMenu.styl'
@import 'SimpleSearch.styl'
