.joinWorkspace
  &__content__workspaceList
    display flex
    flex-direction column
    margin-top standardSpacing
    border-bottom borderStyle

    & > *:first-child
      border none
      background-color transparent

      & > *:last-child
        text-align left

    &__item
      border borderStyle
      border-bottom 0
      display flex
      flex-direction row
      padding-top standardSpacing
      padding-bottom standardSpacing
      align-items center
      line-height 1.5
      height 60px
      width 100%
      background-color offWhite

      &:nth-child(2n):not(:hover)
        background-color lightGrey

      &:hover
        background-color grey-hover

      & > *
        margin-left standardSpacing
        flex auto

      // buttons "column"
      & > *:last-child
        flex 0 0 220px
        margin-right standardSpacing
        text-align center

      // type "column"
      & > *:first-child
        flex 0 0 60px

      &__title_description
        display flex
        flex-direction column
        overflow hidden

        & span
          overflow hidden
          white-space nowrap
          text-overflow ellipsis

      &__description
        font-size metadataFontSize
