.joinWorkspace
  &__content__workspaceList
    display flex
    flex-direction column
    margin-top standardSpacing

    & > *:first-child
      background-color transparent
      padding 0
      height auto
      margin-bottom standardSpacing
      &:hover
        background-color transparent
      & > *:last-child
        flex 17
        padding standardSpacing 0
      & > *
        text-align start

    &__item
      display flex
      flex-direction row
      padding-top standardSpacing
      padding-bottom standardSpacing
      align-items center
      line-height 1.5
      height listItemHeight
      width 100%
      background-color offWhite

      &:nth-child(2n):not(:hover)
        background-color lightGrey2

      &:hover
        background-color lightGrey1

      & > *
        margin-inline-start standardSpacing

      // buttons "column"
      & > *:last-child
        flex 2
        margin-inline-end standardSpacing
        padding standardSpacing

      // type "column"
      & > *:first-child
        flex 1
        padding 0
        text-align start

      &__title_description
        display flex
        flex-direction column
        overflow hidden
        flex 14

        & span
          overflow hidden
          white-space nowrap
          text-overflow ellipsis

      &__description
        font-size metadataFontSize
