.loginpage
  padding-top 85px // 85 = header height
  min-height 100%
  background-image url('../img/tracimLogoAsBg.png')
  background-repeat no-repeat
  background-size contain
  background-position center
  width 100%
  &__logo
    margin 0 auto
    padding 50px 0
    width 170px
  &__connection
    margin-bottom 50px
    border none
    box-shadow shadow-right
    .connection__header
      color off-white
      font-size 25px
  .connection__form
    &__rememberme
      margin-bottom 10px
      font-size 14px
      line-height 23px
      cursor pointer
      label
        margin-right 8px
        top 4px
    &__groupemail
      position relative
      &__icon
        position absolute
        top 6px
        left 10px
        width 20px
      &__input
        padding-left 45px
    &__groupepw
      position relative
      &__icon
        position absolute
        top 5px
        left 8px
        width 20px
        font-size 20px
      &__input
        padding-left 45px
    &__btnsubmit
      display block
      margin-right 15px
      border none
      width 150px
      background-color green
      cursor pointer
      &:hover
        background-color btnCallAction-hover
      &:focus
        box-shadow shadow-all-side-green
    &__pwforgot
      cursor pointer
      font-size 13px
  &__footer
    position fixed
    bottom 2%
    left calc(50% - 155px) // 155px => width of the text / 2
    &__text
      width 310px
      font-size 17px
      color off-white
      & > a
        color off-white
        font-size 19px
        &:hover
          text-decoration underline

@media (min-width: min-lg) and (max-width: max-lg)
  .loginpage
    .connection__form
      width 100%

@media (min-width: min-md) and (max-width: max-md)
  .loginpage
    .connection__form
      width 95%

@media (min-width: min-sm) and (max-width: max-sm)
  .loginpage
    padding-top 69px
    display block
    .connection__form
      width 90%

@media (max-width: max-xs)
  .loginpage
    padding-top 69px
    background-size cover
    display block
    &__connection
      margin-top 90px
    &__logo
      display none
    .connection__form
      width 95%
    .connection__form__pwforgot:hover::after
      content normal
