.notification
  position fixed
  top headerHeight
  right 0
  width 40%
  height "calc(100% - %s)" % headerHeight
  background-color offWhite
  box-shadow shadow-right
  z-index 26
  display flex
  flex-direction column
  max-width 600px
  overflow hidden
  transition 0.5s
  & .iconbutton
    font-size metadataFontSize
  &__list
    flex-grow 2
    overflow auto
    &__item
      flex-direction row
      display flex
      color fontColor
      font-weight normal
      background-color lightBlueOpacity
      padding standardSpacing
      min-height 60px
      align-items center
      &__icon
        font-size bigIconSize
        display inline-block
        width 30px
      &__text
        flex 2
        display flex
        font-size metadataFontSize
        word-break break-word
        align-items center
      &__meta
        padding-right textSpacing
        color lightDarkGrey
        flex 1
        overflow hidden
        font-size metadataFontSize
        white-space nowrap
        text-align right
        &__space
          text-overflow ellipsis
          overflow hidden
          font-weight bold
      &__circle
        &__wrapper
          margin 0
          min-width 1em
          text-align center
        font-size 8px
        transition 300ms font-size color
        color lightBlue
      &.itemRead
        color lightDarkGrey
        background-color offWhite
        opacity 0.8
      &.isMention:not(.itemRead)
        background lightOrange
      &.isMention.itemRead
        background lightOrangeOpacity
      &:hover
        color inherit
  &__wallClose
    height 0
    top 0
  &__footer
    border-top borderStyle
    padding standardSpacing
    position absolute
    bottom 0
    background-color offWhite
    justify-content center
    display flex
  &__header__title
    font-weight normal

.contentTitle
  &__highlight
    font-weight bold
.documentTitle
  &__highlight
    font-weight bold

// INFO - MB - 20210204 - overrides ListItemWrapper styles because .content is used in many places
.notification > .notification__list > .content
  border none

@media (min-width: min-md) and (max-width: max-md)
  .notification
    width 50%

@media (max-width: max-sm)
  .notification
    width 100%

@media (max-width: max-lg)
  .notification .btn
    & > .genericButton__label
      display none
    & > .genericButton__icon
      margin 0px
