@import '~tracim_frontend_lib/src/css/Variable.styl'

.PopupSelectImage
  position fixed
  top 25%
  left 50%
  margin-left -12.5%
  width 25%
  z-index zIndexOverHeader
  .cardPopup__body
    display flex
    flex-direction column
    align-items flex-start
  &__dropZone
    border 1px dashed grey
    height 200px
    width 100%
    display flex
    flex-direction column
    justify-content center
    cursor pointer
  &__cropper
    align-self center
    max-height 400px
  &__errorMessage
    margin-top standardSpacing
    color warningOrange
  &__buttons
    display flex
    flex-direction row
    width 100%
    margin-top standardSpacing
    &__back
      margin-left 0
      margin-inline-end auto
    &__validate
      margin-left auto
      margin-inline-end 0
