@import "~tracim_frontend_lib/src/css/Variable.styl"

.publications
  &__publishArea
    & textarea
      width 100%
      &:focus
        outline-color #661F98
    &__buttons
      display flex
      &__advancedEdition
        margin-inline-end auto
        font-size fontSizeSmall
