@import "~tracim_frontend_lib/src/css/Variable.styl"

.profile
  &__text__loading
    background-color lightGrey
    height 20px
    width 200px
    margin 10px
  &__cover
    height 150px
    width 100%
    display flex
    align-items flex-end
    justify-content center
    background-image url('../img/default_cover_image.png')
    background-repeat repeat
    position relative
    &__changeBtn
      position absolute
      bottom 10px
      right 10px
      background-color offWhite
      &:hover
        background-color lightGrey
    &__loading
      margin 10px
    &__image
      width 100%
      height 100%
      object-position 50% 50%
      object-fit fill

  &__mainBar
    height 70px
    padding-left 30px
    background-color offWhite
    display flex
    &__avatar
      position relative
      &__medium
        display none
      &__big
        position relative
        top -15px
      &__changeBtn
        position absolute
        bottom -15px
        right -5px
        width 25px
        height 25px
    &__info
      margin-left 10px
      font-size fontSizeTitle
      align-self center

  &__content
    display flex
    & > div
      font-size fontSizeMedium
      font-weight bold
      background-color offWhite
      height max-content
      min-height 300px
      border 1px grey solid
      border-radius 5px
      padding 20px
    &__information
      margin 30px 0px 30px 30px
      width 30%
    &__page
      margin 30px
      width 70%
    &__loading
      background-color veryLightGrey
      height 200px
      margin 10px

@media (max-width: max-sm)
  .profile
    &__cover
      height 70px
      &__changeBtn > span
        display none

    &__mainBar
      height 50px
      padding-left 10px
      &__avatar
        &__big
          display none
        &__medium
          display unset
      &__info
        font-size fontSizeMedium
        & .breadcrumbs
          display none
        &__user
          display flex
          flex-direction column
          &__separator
            display none
          &__username
            font-size fontSizeSmall

    &__content
      flex-direction column
      & > div
        font-weight normal
        min-height 150px
        padding 10px
      &__information
        margin 20px 10px
        width calc(100% - 20px)
      &__page
        margin 0px 10px
        width calc(100% - 20px)
