.publications
  overflow auto
  height 100%
  > .ScrollToBottomContents
    height 100%
    display flex
    flex-direction column
    & > .tabBar
      margin-bottom pageSpacing
  &__showMoreButton
    margin-block-start standardSpacing
    margin-inline-start auto
    margin-inline-end auto
  &__empty
    margin 0 pageSpacing
  & .feedItem
    margin-block-end standardSpacing
  &__reorder
    margin auto auto standardSpacing
  &__publishArea
    display flex
    flex-direction column
    margin-top auto
    padding 0 pageSpacing pageSpacing
    & textarea
      border borderStyle
      border-radius standardBorderRadius
      padding textSpacing
      width 100%
      order 2
      &:focus
        outline-color #661F98
    & .mce-container
      order 2
    & .autocomplete
      order 1
    &__buttons
      display flex
      justify-content space-between
      margin-top standardSpacing
      order 3
      > :last-child
        margin-inline-start auto
      &__submit .iconbutton__icon
        margin-inline-end 8px
      &__left
        &__advancedEdition
          margin-inline-end auto
          font-size metadataFontSize
      &__right
        display flex

@media (max-width: max-xs)
  .publications
    > .ScrollToBottomContents > .tabBar
      margin-bottom standardSpacing
    &__publishArea
      padding 0 standardSpacing standardSpacing
      &__buttons__left__advancedEdition
        display none
