.callpopup
  width 300px
  &__text
    margin-bottom standardSpacing
  &__body
    width 100%
    &__btn
      margin textSpacing standardSpacing
      display flex
      justify-content flex-end
      & > .iconbutton
        margin-inline-start standardSpacing

.uploadPopup
  .cardPopup__container
    width 400px

.profile
  &__text__loading
    background-color lightGrey
    height 20px
    width 200px
    margin standardSpacing
  &__imageUploadProgress
    width 400px
  &__popup_select_cover
    width 50%
    margin-left -25%
  &__cover
    height 150px
    width 100%
    display flex
    align-items flex-end
    justify-content center
    background-image url('../img/default_cover_image.png')
    background-repeat repeat
    position relative
    &__changeBtn
      position absolute
      bottom standardSpacing
      right pageSpacing
      background-color offWhite
      &:hover
        background-color lightGrey
    &__loading
      margin standardSpacing
    &__image
      width 100%
      height 100%
      object-position 50% 50%
      object-fit fill
  &__mainBar
    height headerHeight
    padding-left pageSpacing
    background-color offWhite
    display flex
    &__callBtn
      align-self start
      margin standardSpacing pageSpacing standardSpacing
    &__avatar
      position relative
      &__medium
        display none
      &__big
        position relative
        top -20px
      &__changeBtn
        position absolute
        bottom -15px
        right -5px
        width 25px
        height 25px
        & .iconbutton__icon
          margin 0px
    &__info
      margin-left standardSpacing
      font-size titleFontSize
      align-self center
      flex 1
      &__wrapper
        display flex
        flex-grow 1
      &__user
        display flex
        &__name
          max-width 50%
          overflow hidden
          text-overflow ellipsis
          white-space pre
        &__username
          overflow hidden
          text-overflow ellipsis
          &__wrapper
            max-width 50%
            display inline-flex
            font-size standardFontSize
            align-items center
          &__separator
            margin 0px 5px

  &__content
    display flex
    & > div
      overflow-wrap anywhere
      background-color offWhite
      height max-content
      min-height 300px
      border borderStyle
      border-radius standardBorderRadius
      padding standardSpacing
    &__information
      margin pageSpacing 0 pageSpacing pageSpacing
      width 30%
    &__page
      margin pageSpacing pageSpacing pageSpacing standardSpacing
      width 70%
    &__loading
      background-color veryLightGrey
      height 200px
      margin standardSpacing
  &__customForm__submit
    position absolute
    top 0
    right 0

@media (max-width: max-sm)
  .profile
    &__cover
      height 70px
      &__changeBtn > span
        display none

    &__mainBar
      height 50px
      padding-left standardSpacing
      &__avatar
        &__big
          display none
        &__medium
          display unset
      &__info
        font-size titleFontSize
        & .breadcrumbs
          display none
        &__user
          display flex
          flex-direction column
          width 100%
          &__username
            font-size metadataFontSize
            &__separator
              display none

    &__content
      flex-direction column
      & > div
        font-weight normal
        min-height 150px
        padding standardSpacing
      &__information
        margin 20px standardSpacing
        width calc(100% - 20px)
      &__page
        margin 0px standardSpacing
        width calc(100% - 20px)
