@import "~tracim_frontend_lib/src/css/Variable.styl"

.profile
  &__text__loading
    background-color lightGrey
    height 20px
    width 200px
    margin standardSpacing
  &__cover
    height 150px
    width 100%
    display flex
    align-items flex-end
    justify-content center
    background-image url('../img/default_cover_image.png')
    background-repeat repeat
    position relative
    &__changeBtn
      position absolute
      bottom 10px
      right 10px
      background-color offWhite
      &:hover
        background-color lightGrey
    &__loading
      margin standardSpacing
    &__image
      width 100%
      height 100%
      object-position 50% 50%
      object-fit fill

  &__mainBar
    height 70px
    padding-left 30px
    background-color offWhite
    display flex
    &__avatar
      position relative
      &__medium
        display none
      &__big
        position relative
        top -15px
      &__changeBtn
        position absolute
        bottom -15px
        right -5px
        width 25px
        height 25px
        & .iconbutton__icon
          margin 0px
    &__info
      margin-left standardSpacing
      font-size fontSizeTitle
      align-self center
      &__wrapper
        width calc(100% - 130px) // INFO - MB - 2021-05-06 - the total width minus the avatar width (100px) and its margin (30px) on the ProfileMainbar
      &__user
        display flex
        &__name
          max-width 50%
          overflow hidden
          text-overflow ellipsis
          white-space pre
        &__username
          overflow hidden
          text-overflow ellipsis
          &__wrapper
            max-width 50%
            display inline-flex
            font-size 18px
            align-items center
          &__separator
            margin 0px 5px

  &__content
    display flex
    & > div
      overflow-wrap anywhere
      font-weight bold
      background-color offWhite
      height max-content
      min-height 300px
      border 1px grey solid
      border-radius 5px
      padding 20px
      margin-bottom standardSpacing
    &__information
      margin 30px 0 30px 30px
      width 30%
    &__page
      margin 30px
      width 70%
    &__loading
      background-color veryLightGrey
      height 200px
      margin standardSpacing
  &__customForm__submit
    position absolute
    top 0
    right 0
    padding 5px 8px


@media (max-width: max-sm)
  .profile
    &__cover
      height 70px
      &__changeBtn > span
        display none

    &__mainBar
      height 50px
      padding-left standardSpacing
      &__avatar
        &__big
          display none
        &__medium
          display unset
      &__info
        font-size fontSizeMedium
        & .breadcrumbs
          display none
        &__user
          display flex
          flex-direction column
          width 100%
          &__username
            font-size fontSizeSmall
            &__separator
              display none

    &__content
      flex-direction column
      & > div
        font-weight normal
        min-height 150px
        padding standardSpacing
      &__information
        margin 20px standardSpacing
        width calc(100% - 20px)
      &__page
        margin 0px standardSpacing
        width calc(100% - 20px)
