.recentActivities
  background-color lightGrey2
  display flex
  flex-direction column
  align-items center

.personalRecentActivities
  @extend .recentActivities
  width 100%
  overflow auto
  height 100vh

.workspaceRecentActivities
  @extend .recentActivities
