@import "~tracim_frontend_lib/src/css/Variable.styl"

.searchFilterMenu
  margin-top 15px
  width 325px
  background-color offWhite
  border borderStyle
  min-height calc(100% - 15px)
  &__title
    background-color veryLightGrey
    height 40px
    align-items center
    display flex
    padding standardSpacing
    font-weight bold
    border-bottom borderStyle
    & > i
      margin-inline-end standardSpacing
    & > button
      margin-inline-start auto
  &__content
    overflow-y auto
    overflow-x hidden
    height calc(100% - 40px)
    &__item
      &__title
        background-color veryLightGrey
        height 40px
        align-items center
        display flex
        padding standardSpacing
        & > button
          padding 0
          margin-inline-end standardSpacing

@media (max-width: max-md)
  .searchFilterMenu
    width 100%
    height calc(100vh - 130px)
    margin 0px
