@import "~tracim_frontend_lib/src/css/Variable.styl"

.searchFilterMenu
  margin-top 15px
  width 300px
  background-color offWhite
  border 1px solid grey
  &__title
    background-color veryLightGrey
    height 40px
    align-items center
    display flex
    padding 10px
    font-weight bold
    border-bottom 1px solid grey
    & > i
      margin-inline-end 10px
    & > button
      margin-inline-start auto
  &__item
    &__title
      background-color veryLightGrey
      height 40px
      align-items center
      display flex
      padding 10px
      & > button
        padding 0
        padding-inline-end 10px
    &__checkbox
      padding 5px
      & > *
        cursor pointer
      & > input[type='checkbox']
        margin 0px 10px

@media (max-width: max-md)
  .searchFilterMenu
    width 100%
    height calc(100vh - 130px)
    margin 0px
