sidebar-width = 300px
sidebar-animate-speed = 0.5s

sidebarColor = #333
sidebarColorLighten = lighten(sidebarColor, 15%)
sidebarColorDarken = darken(sidebarColor, 15%)

.sidebarSticky
  position sticky
  top 87px
  display flex
  flex-direction column
  justify-content space-between
  height 100%

.sidebar
  display flex
  flex-direction column
  justify-content space-between
  position relative
  transition all sidebar-animate-speed
  width sidebar-width
  min-height 100%
  background-image url('../img/applat.png')
  background-repeat repeat
  z-index 10
  box-shadow 0 0 2px 1px #333
  background-color sidebarColor // #1168
  &.sidebarclose
    width 0
  &__expand
    position fixed
    left sidebar-width
    display flex
    justify-content center
    align-items center
    border 1px solid #333
    border-bottom-right-radius 15px
    padding 8px 15px
    cursor pointer
    color white
    transition all sidebar-animate-speed
    background-color sidebarColor // #1168
    ^[0].sidebarclose > ^[1] // renders .sidebar.sidebarclose > .sidebar__expand
      left 0
  &__scrollup
    position fixed
    bottom 0
    left sidebar-width
    display flex
    justify-content center
    align-items center
    border 1px solid #333
    border-top-right-radius 15px
    padding 8px 12px
    cursor pointer
    color white
    transition all sidebar-animate-speed
    background-color sidebarColor // #1168
    ^[0].sidebarclose > ^[1] // renders .sidebar.sidebarclose > .sidebar__scrollup
      left 0
  &__content
    height 100%
    &__btnnewworkspace
      margin 50px 0
      overflow hidden
      color fontColor
      &__btn
        display block
        margin 0 auto
        padding 10px 20px
        &:hover
          color offWhite
    &__navigation
      padding 0
      width sidebar-width
      transition all sidebar-animate-speed
      overflow hidden
      &.sidebarclose
        width 0
      &__workspace
        padding-left 0
        list-style none
        &__item
          &__wrapper
            display flex
            align-items center
            border-bottom 1px solid
            width 100%
            height 100%
            cursor pointer
            background-color sidebarColor // #1168
            border-color sidebarColor
            &:hover
              background-color sidebarColorDarken // #1168
          &__number
            display flex
            width 50px
            height 100%
            font-size 18px
            padding 12px
            letter-spacing 2px
          &__name
            padding 10px
            width 224px
            font-size 20px
            color offWhite
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
          &__icon
            display flex
            align-items center
            width 26px
            height 50px
            color white
          &__submenu
            margin 0
            padding 0
            width 100%
            overflow hidden
            & > li
              display block
            &__dropdown
              display flex
              align-items center
              border-bottom 1px solid
              cursor pointer
              background-color sidebarColorLighten // #1168
              border-color sidebarColorDarken // #1168
              transition background-color 150ms
              &:hover
                background-color sidebarColor // #1168
                opacity 0.80
              &.activeFilter
                background-color #777
              &__showdropdown
                padding 0 10px
                width 100%
              .dropdown__icon
                padding 10px 15px
                min-width 50px
                height 100%
                font-size 18px
                opacity 0.95
              .dropdown__title
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
                color offWhite
  &__footer
    &__text
      color offWhite
      font-size 14px
      &__link
        & > a
          color offWhite
          font-size 14px
          &:hover
            text-decoration underline
            color fourthColor

// MEDIAQUERIES

@media (min-width: min-lg) and (max-width: max-lg)

  .sidebarpagecontainer
    position relative

  .sidebar
    position absolute
    min-height calc(100% - 88px)

@media (min-width: min-md) and (max-width: max-md)

  .sidebarpagecontainer
    position relative

  .sidebar
    position absolute
    min-height calc(100% - 88px)

@media (min-width: min-sm) and (max-width: max-sm)

  .sidebarpagecontainer
    position relative
    padding-top 69px

  .sidebar
    position absolute
    min-height calc(100% - 69px)

@media (max-width: 575px)

  .sidebarpagecontainer
    position relative
    padding-top 69px

  .sidebar
    position absolute
    min-height calc(100% - 69px)
