sidebar-animate-speed = 0.5s

.sidebar
  &__expand
    left sidebarWidth
    position absolute
    display flex
    z-index 15
    align-items center
    border-bottom-right-radius 15px
    padding-top standardSpacing
    padding-bottom standardSpacing
    padding-right standardSpacing
    cursor pointer
    color offWhite
    transition all sidebar-animate-speed
    background-color var(--sidebarColor)
    &.sidebarclose
      left 0
      padding-left standardSpacing
  &__frame
    transition all sidebar-animate-speed
    width sidebarWidth
    height "calc(100vh - %s)" % headerHeight
    z-index 10
    box-shadow -1px 2px 2px 1px var(--sidebarColor)
    background-color var(--sidebarColor)
    &.sidebarclose
      width 0
      overflow hidden
  &__scrollview
    height 100%
    overflow-y auto
    display flex
    flex-direction column
    -ms-overflow-style none // INFO - GB - 2020-10-23 - Hide scrollbar for IE and Edge
    scrollbar-width none // INFO - GB - 2020-10-23 - Hide scrollbar for Firefox
    &::-webkit-scrollbar // INFO - GB - 2020-10-23 - Hide scrollbar for Chrome, Safari and Opera
      display none
  &__scrollup
    position fixed
    bottom 0
    left sidebarWidth
    display flex
    justify-content center
    align-items center
    border 1px solid var(--sidebarColor)
    border-top-right-radius 15px
    padding 8px 12px
    cursor pointer
    color offWhite
    transition all sidebar-animate-speed
    background-color var(--sidebarColor)
    ^[0].sidebarclose ^[1] // renders .sidebar.sidebarclose .sidebar__scrollup
      left 0
  &__content__navigation
    transition all sidebar-animate-speed
    &.sidebarclose
      width 0
    &__workspace
      padding-left 0
      list-style none
    &__item
      align-items center
      border-left-width 0
      border-left-style solid
      border-bottom 1px solid var(--sidebarColorDarken)
      display flex
      padding-left 5px
      &:hover
        background-color var(--sidebarColorDarken)
      &__withoutChildren
        padding-inline-start 20px
      &__foldChildren
        color offWhite
        &:hover
          color lightGrey
        & .iconbutton__icon
          margin 0
      &__menu.dropdownMenuButton
        color offWhite
        & i
          margin 0
          width auto
        &:hover
          color lightGrey
        &:focus
          outline none
        &::after
          display none
      &__dragNdrop
        margin-left 5px
      &__wrapper
        display flex
        align-items center
        color offWhite
        white-space nowrap
        overflow hidden
        width 100%
        &:hover
          color offWhite
      &__number
        display flex
        width 50px
        height 50px
        padding 12px
        letter-spacing 2px
        & .fas
          font-size bigIconSize
      &__name
        padding standardSpacing
        width 100%
        overflow hidden
        text-overflow ellipsis
      &__current
        padding-left 0
        background-color var(--sidebarColorLighten)
        border-left-width 5px
        font-weight bold
  &__footer
    margin-top auto
    margin-bottom standardSpacing
    display flex
    flex-direction column
    &__buttons
      width 75%
      margin 0 auto
      overflow hidden
      display flex
      flex-direction column
      margin-bottom standardSpacing
      & > *
        margin-top standardSpacing
        width 100%
    &__text
      color offWhite
      font-size metadataFontSize
      margin 0 auto
      display flex
      &__link
        & > a
          color offWhite
          font-size metadataFontSize
          margin-inline-start textSpacing
          &:hover
            text-decoration underline

@media (min-width: min-lg) and (max-width: max-lg)
  .sidebarpagecontainer
    position relative

  .sidebar
    &__frame
      position absolute
      min-height "calc(100% - %s)" % headerHeight

@media (min-width: min-md) and (max-width: max-md)
  .sidebarpagecontainer
    position relative

  .sidebar
    &__frame
      position absolute
      min-height "calc(100% - %s)" % headerHeight

@media (min-width: min-sm) and (max-width: max-sm)
  .sidebarpagecontainer
    position relative

  .sidebar
    &__frame
      position absolute
      min-height "calc(100% - %s)" % headerHeight

@media (max-width: 575px)
  .sidebarpagecontainer
    position relative

  .sidebar
    &__frame
      position absolute
      min-height "calc(100% - %s)" % headerHeight
