sidebar-animate-speed = 0.5s
sidebarFontColor = offWhite
sidebarFontColorHover = grey

.sidebar
  background-color var(--sidebarColor)
  transition all sidebar-animate-speed
  width sidebarWidth
  min-width sidebarWidth
  z-index 10
  display flex
  flex-direction column
  &.sidebarclose
    width 60px
    min-width unset
  &__header
    height headerHeight
    display flex
    justify-content center
    align-items center
    &__expand
      color sidebarFontColor
      padding standardSpacing
      transition all sidebar-animate-speed
      &:hover
        color sidebarFontColorHover
    & .tracimLogo
      flex 1
      text-align center
  &__search
    padding standardSpacing
    & > .search
      padding textSpacing standardSpacing
  &__item
    display flex
    align-items center
    color sidebarFontColor
    white-space nowrap
    overflow hidden
    width 100%
    height 40px
    padding-inline-start 5px
    & *
      color sidebarFontColor
    &__unread
      font-weight bold
    &:hover
      background-color var(--sidebarColorDarken)
      color sidebarFontColor
    &__current
      padding-inline-start 0
      border-inline-start-style solid
      border-inline-start-width 5px
      background-color var(--sidebarColorLighten)
      font-weight bold
      &.sidebar__search
        padding-inline-start textSpacing
    &__name
      align-items center
      display inline-flex
      padding standardSpacing
      width 100%
      & .label
        overflow hidden
        text-overflow ellipsis
        unicode-bidi plaintext
    &__workspace
      display flex
      & > *
        color sidebarFontColor
      &:hover
        background-color var(--sidebarColorDarken)
    &__withoutChildren
      padding-inline-start 20px
    &__foldChildren:hover > .iconbutton__icon
        color sidebarFontColorHover
    &__dragNdrop
      margin-inline-start 5px
    &__menu.dropdownMenuButton
      & i
        width auto
        color sidebarFontColor
      &:hover
        color sidebarFontColorHover
      &:focus
        outline none
      &::after
        display none
  &__footer
    margin-top auto
    margin-bottom standardSpacing
    display flex
    flex-direction column
    &__buttons
      margin standardSpacing
      & > *
        margin-top standardSpacing
        width 100%
    &__text
      color sidebarFontColor
      font-size metadataFontSize
      margin 0 auto
      display flex
      &__link
        & > a
          color sidebarFontColor
          font-size metadataFontSize
          margin-inline-start textSpacing
          &:hover
            text-decoration underline



  &__mention // TODO GIULIA Test
    background-color errorRed
    border-radius 50%
    font-size metadataFontSize
    font-weight bold
    line-height sideBarCircleSize
    margin-inline-start standardSpacing
    min-width sideBarCircleSize
    text-align center


body.tox-fullscreen .sidebar
  display none

@media (min-width: min-lg) and (max-width: max-lg)
  .sidebarpagecontainer
    position relative

  .sidebar
    position absolute
    min-height 100%

@media (min-width: min-md) and (max-width: max-md)
  .sidebarpagecontainer
    position relative

  .sidebar
    position absolute
    min-height 100%

@media (min-width: min-sm) and (max-width: max-sm)
  .sidebarpagecontainer
    position relative

  .sidebar
    position absolute
    min-height 100%

@media (max-width: max-xs)
  .sidebarpagecontainer
    position relative

  .sidebar
    position absolute
    min-height 100%
