.searchResult
  &__btnSeeMore
    text-align center
    padding 25px

.search
  &__searchBar
    border 1px solid lightGrey2
    background-color offWhite
    margin-top standardSpacing
    margin-bottom standardSpacing * 2
    border-radius standardBorderRadius
    padding 0 standardSpacing
  &__searchBar:focus-within
    border 1px solid lightBlue
  &__searchBar .textinput__box:focus-within
    border 0
