.toDo__wrapper
  & .toDo__item
    background-color offWhite

    & .toDoItem
      display flex
      min-height headerHeight
      align-items center
      padding standardSpacing

  & .textinput__box
    flex-grow 1
    margin pageSpacing pageSpacing 0 pageSpacing
