.toDo__item
  background-color offWhite

.toDo__item, .toDo__header
  display flex
  min-height headerHeight
  align-items center
  &__check
    flex 1
  &__text
    flex 4
  &__author
    flex 1
  &__path
    flex 2
  &__created
    flex 1
