.toDo__item
  background-color offWhite

.toDo__item .toDoItem, .toDo__header
  display flex
  min-height headerHeight
  align-items center
  &__checkbox
    flex 1
  &__content
    flex 8
  &__author
    flex 3
  &__path
    flex 4
  &__created
    flex 3
  &__delete
    flex 1
