@import "~tracim_frontend_lib/src/css/Variable.styl"

body
  overflow hidden

.tracim
  height 100vh
  &__content
    height "calc(100vh - %s)" % headerHeight
    overflow hidden
    background-color veryLightGrey
    &-scrollview
      height 100%
      overflow-y auto
#AppFullScreenManager
  display none
