.workspace
  &__content
    &__buttons
      display flex
      justify-content space-between
      & .dropdown
        flex 1
    &__button
      display flex
      justify-content flex-end
      margin 45px 0
      &__btnaddworkspace
        margin-bottom 50px
        padding standardSpacing 55px
    &__fileandfolder
      &__empty
        margin-top 50px
        font-weight bold

// MEDIAQUERIES

@media (min-width: min-md) and (max-width: max-md)
  .workspace
    &__content
      margin 0
      &__button
        margin-inline-end 30px

@media (min-width: min-sm) and (max-width: max-sm)
  .workspace
    &__content
      margin 0
      &__button
        margin-inline-end 30px
    &__header
      &__btnaddworkspace
        display inline-block
        margin-inline-end 0

@media (max-width: max-xs)
  .workspace
    &__header
      display block
      &__title
        margin-top 25px
        margin-inline-end 0
        margin-bottom 20px
        margin-inline-start standardSpacing
    &__content
      margin 0
      &__button
        justify-content flex-start
        margin-inline-start standardSpacing
