# Created by .ignore support plugin (hsz.mobi)
.idea/
.git/
node_modules/
src/debug.js
dist/html-document.app.js
dist/html-document.app.js.map
dist/html-document.app.dev.js
dist/html-document.app.dev.js.map
dist/html-document.app.standalone.js
dist/html-document.app.optimized.js
