@import "../../css/Variable.styl"

.userInfo
  display flex
  align-items center
  flex 1
  &__name
    margin-left standardSpacing
    width calc(100% - 50px)
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
  &__username
    font-size fontSizeSmall
    color mediumDarkGrey
    text-overflow ellipsis
    overflow hidden
