@import '../../../css/Variable.styl'

.currentColor
  color currentColor

.contentItem
  border-bottom 0
  cursor pointer
  font-weight bold
  &.read
    font-weight normal
  &:hover
    background-color grey-hover
    & > .content__name
      color offWhite
    & > .content__status
      color offWhite

.content
  &__item
    width 100%
    display flex
    align-items center

//MEDIAQUERIES

@media (min-width: max-xs) and (max-width: max-lg)
  .contentItem
    border-inline-end borderStyle
