@import '../../../css/Variable.styl'

.currentColor
  color currentColor

.validateColor
  color validateColor

.cancelColor
  color cancelColor

.outdateColor
  color outdateColor

.content
  border-bottom 0
  cursor pointer
  font-weight bold
  &__item
    width 100%
    display flex
    align-items center
  &.read
    font-weight normal
  &:hover
    background-color grey-hover
    & > .content__name
      color offWhite
    & > .content__status
      color offWhite
    & .badgeBackgroundColor
      background-color inherit

//MEDIAQUERIES

@media (min-width: max-xs) and (max-width: max-lg)
  .content
    border-inline-end borderStyle
