@import '../../../css/Variable.styl'

.selectStatus
  &__dropdownbtn
    border 1px solid grey
    &::after
      color fontColor
    &__label
      margin-right 10px
      color #333
    &__icon
      display inline-block
      margin 0 15px
  &__submenu
    width 100%
    &__item
      display flex
      justify-content space-between
      margin 5px 0
      cursor pointer
      &:active
        background-color transparent

@media (min-width: min-xs) and (max-width: max-md)
  .selectStatus
    &__mobileVersion
      display none
      margin 0
    &__dropdownbtn
      &__icon
        margin 0
