@import '../../../css/Variable.styl'

.selectStatus
  &__dropdownbtn
    border 1px solid grey
    &::after
      color fontColor
    &__label
      margin-right 10px
      color fontColor
    &__icon
      display inline-block
      margin 0 10px
  &__submenu
    width 100%
    &__item
      justify-content space-between
      &:active
        color fontColor

@media (min-width: min-xs) and (max-width: max-lg)
  .selectStatus
    &__mobileVersion
      display none
      margin 0
    &__dropdownbtn
      &__icon
        margin-left 5px
        margin-right 0
