@import '~tracim_frontend_lib/src/css/Variable.styl'

.popupCreateContent
  position fixed
  top 0
  left 0
  display flex
  justify-content center
  width 100%
  z-index 5
  .cardPopup__container
    margin-top 120px
    border 0
    border-radius standardBorderRadius
    width 420px
    background lightGrey
    box-shadow shadow-all
  &__header
    border-top-right-radius 10px
    border-top-left-radius 10px
    width 100%
    height 8px
    background-color fileColor
