@import "../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.shareFile
  display flex
  flex-direction column
  margin 10px 0
  border-radius 0 10px 10px 0
  width 100%
  height calc(100% - 10px)
  background-color white
  padding 10px
  &__title
    border-bottom 2px solid lightGrey
    margin 10px 15px
    font-size 20px
  &__email
    padding 5px 0px
    display flex
    &__icon
      background-color transparent
      border none
      cursor pointer
      &:focus
        box-shadow 0 0 0 0
        border 0 none
        outline 0
  &__password
    padding 5px 0px
    display flex
    &__wrapper
      display flex
      flex-grow 2
      border-width 1px
      border-style solid
      border-radius .25rem
      border-color lightgray
      background-color white
      padding-left 5px
      & > i
        margin auto
    &__input
      border none
      padding-left 0
    &__icon
      background-color transparent
      border none
      cursor pointer
      &:focus
        box-shadow 0 0 0 0
        border 0 none
        outline 0

@media (min-width: min-xs) and (max-width: max-lg)
  .shareFile
    margin-top 0px
    border-top-right-radius 0px
    border-bottom-left-radius 10px
