@import "../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.share
  display flex
  flex-direction column
  margin 10px 0
  border-radius 0 10px 10px 0
  width 100%
  height calc(100% - 10px)
  background-color white
  &__title
    border-bottom 2px solid lightGrey
    margin 10px 25px
    width 100%
    font-size 20px

