@import "~tracim_frontend_lib/src/css/Variable.styl"

.folder_advanced
  overflow hidden
  &-content
    padding standardSpacing pageSpacing
    width 50%
  &__content
    &__state
      display flex
      align-items center
      justify-content space-between
      margin-bottom standardSpacing
      padding standardSpacing
      background-color #fee498
      border-radius standardBorderRadius
      &__msg > i
        margin-right textSpacing
      &__btnrestore
        padding textSpacing
        & > i
          margin-right textSpacing
    &__btnupload
      margin auto 0
    &__form
      padding standardSpacing 0
      &__type
        display flex
        align-items center
        padding 0 0 standardSpacing
        cursor pointer
        &__icon
          margin-inline-end textSpacing
