@import "~tracim_frontend_lib/src/css/Variable.styl"

.formBlock
  margin-bottom 15px
  border-radius 10px
  &__title
    padding standardSpacing 0 25px standardSpacing
    border-bottom 1px solid grey
    font-size fontSizeMedium
    font-weight 400
  &__field
    padding standardSpacing
  &__bottom
    padding standardSpacing

.folder_advanced
  height 100%
  overflow-y auto
  overflow-x hidden
  &-content
    padding standardSpacing standardSpacing 0 standardSpacing
  &__content
    &__state
      display flex
      align-items center
      justify-content space-between
      margin-bottom 15px
      padding 5px 15px
      background-color #fee498
      border-radius 10px
      &__msg > i
        margin-right 8px
      &__btnrestore
        cursor pointer
        & > i
          margin-right 8px
    &__btnupload
      margin auto 0
    &__form
      padding standardSpacing 0
      &__type
        display flex
        align-items center
        padding 3px 13px
        cursor pointer
        font-size fontStandard
        &:hover
          background-color lightGrey
        &__icon
          margin 0 5px 0 0
  &__header
    display flex
    &__deleteButton
      margin-left auto

.folder
  &__contentpage
    &__content
      width 100%
      height auto
