import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  ...defaultDebug,
  config: {
    ...defaultDebug.config,
    slug: 'html-document',
    faIcon: 'far fa-file-alt',
    hexcolor: '#00CC00',
    creationLabel: 'Write a note',
    label: 'Note',
    workspace: {
      downloadEnabled: false,
      label: 'test space',
      memberList: []
    }
  },
  content: {
    ...defaultDebug.content,
    content_id: 0,
    content_type: 'html-document',
    workspace_id: 0
  }
}
