@import '../../../css/Variable.styl'

.autocomplete
  width 100%
  left 0
  padding 3px 0
  background-color offWhite
  box-shadow shadow-all
  font-size metadataFontSize
  border-radius standardBorderRadius
  &__delimiter
    height 2px
    margin textSpacing 20px
    background-color grey
  &__item
    display flex
    flex-direction row
    padding 1px 5px
    cursor pointer
    align-items baseline
    &__highlight
      margin-inline-start textSpacing
    &:hover, &__active
      background-color grey-hover
