import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  ...defaultDebug,
  config: {
    ...defaultDebug.config,
    slug: 'share_folder',
    faIcon: 'share-alt',
    hexcolor: '#414548',
    creationLabel: 'Create a share folder',
    label: 'Share Folder'
  },
  content: {
    ...defaultDebug.content,
    content_type: 'folder',
    workspace_id: 0
  }
}
