[class^="icon-g-"], 
[class*=" icon-g-"] {
    background-image: url("../img/glyphicons.png");
}

[class^="icon-g-grey"], 
[class*=" icon-g-grey"] {
    background-image: url("../img/glyphicons-grey.png");
}

[class^="icon-g-white"], 
[class*=" icon-g-white"] {
    background-image: url("../img/glyphicons-white.png");
}

.icon-g-white{}


.icon-g-glass { background-position: 0 0 }
.icon-g-leaf { background-position: -34px 0 }
.icon-g-dog { background-position: -68px 0 }
.icon-g-user { background-position: -102px 0 }
.icon-g-girl { background-position: -136px 0 }
.icon-g-car { background-position: -170px 0 }
.icon-g-user-add { background-position: -204px 0 }
.icon-g-user-remove { background-position: -238px 0 }
.icon-g-film { background-position: -272px 0 }
.icon-g-magic { background-position: -306px 0 }
.icon-g-envelope { background-position: -340px 0 }
.icon-g-camera { background-position: -374px 0 }
.icon-g-heart { background-position: -408px 0 }
.icon-g-beach-umbrella { background-position: -442px 0 }
.icon-g-train { background-position: -476px 0 }
.icon-g-print { background-position: -510px 0 }
.icon-g-bin { background-position: -544px 0 }
.icon-g-music { background-position: -578px 0 }
.icon-g-note { background-position: -612px 0 }
.icon-g-cogwheel { background-position: -646px 0 }
.icon-g-home { background-position: -680px 0 }
.icon-g-snowflake { background-position: -714px 0 }
.icon-g-fire { background-position: -748px 0 }
.icon-g-cogwheels { background-position: -782px 0 }
.icon-g-parents { background-position: -816px 0 }
.icon-g-binoculars { background-position: -850px 0 }
.icon-g-road { background-position: -884px 0 }
.icon-g-search { background-position: -918px 0 }
.icon-g-cars { background-position: -952px 0 }
.icon-g-notes-2 { background-position: -986px 0 }
.icon-g-pencil { background-position: -1020px 0 }
.icon-g-bus { background-position: -1054px 0 }
.icon-g-wifi-alt { background-position: -1088px 0 }
.icon-g-luggage { background-position: -1122px 0 }
.icon-g-old-man { background-position: -1156px 0 }
.icon-g-woman { background-position: -1190px 0 }
.icon-g-file { background-position: -1224px 0 }
.icon-g-credit { background-position: -1258px 0 }
.icon-g-airplane { background-position: -1292px 0 }
.icon-g-notes { background-position: -1326px 0 }
.icon-g-stats { background-position: -1360px 0 }
.icon-g-charts { background-position: -1394px 0 }
.icon-g-pie-chart { background-position: -1428px 0 }
.icon-g-group { background-position: -1462px 0 }
.icon-g-keys { background-position: -1496px 0 }
.icon-g-calendar { background-position: -1530px 0 }
.icon-g-router { background-position: -1564px 0 }
.icon-g-camera-small { background-position: -1598px 0 }
.icon-g-dislikes { background-position: -1632px 0 }
.icon-g-star { background-position: -1666px 0 }
.icon-g-link { background-position: -1700px 0 }
.icon-g-eye-open { background-position: -1734px 0 }
.icon-g-eye-close { background-position: -1768px 0 }
.icon-g-alarm { background-position: -1802px 0 }
.icon-g-clock { background-position: -1836px 0 }
.icon-g-stopwatch { background-position: -1870px 0 }
.icon-g-projector { background-position: -1904px 0 }
.icon-g-history { background-position: -1938px 0 }
.icon-g-truck { background-position: -1972px 0 }
.icon-g-cargo { background-position: 0 -34px }
.icon-g-compass { background-position: -34px -34px }
.icon-g-keynote { background-position: -68px -34px }
.icon-g-attach { background-position: -102px -34px }
.icon-g-power { background-position: -136px -34px }
.icon-g-lightbulb { background-position: -170px -34px }
.icon-g-tag { background-position: -204px -34px }
.icon-g-tags { background-position: -238px -34px }
.icon-g-cleaning { background-position: -272px -34px }
.icon-g-ruller { background-position: -306px -34px }
.icon-g-gift { background-position: -340px -34px }
.icon-g-umbrella { background-position: -374px -34px }
.icon-g-book { background-position: -408px -34px }
.icon-g-bookmark { background-position: -442px -34px }
.icon-g-signal { background-position: -476px -34px }
.icon-g-cup { background-position: -510px -34px }
.icon-g-stroller { background-position: -544px -34px }
.icon-g-headphones { background-position: -578px -34px }
.icon-g-headset { background-position: -612px -34px }
.icon-g-warning-sign { background-position: -646px -34px }
.icon-g-signal { background-position: -680px -34px }
.icon-g-retweet { background-position: -714px -34px }
.icon-g-refresh { background-position: -748px -34px }
.icon-g-roundabout { background-position: -782px -34px }
.icon-g-random { background-position: -816px -34px }
.icon-g-heat { background-position: -850px -34px }
.icon-g-repeat { background-position: -884px -34px }
.icon-g-display { background-position: -918px -34px }
.icon-g-log-book { background-position: -952px -34px }
.icon-g-adress-book { background-position: -986px -34px }
.icon-g-magnet { background-position: -1020px -34px }
.icon-g-table { background-position: -1054px -34px }
.icon-g-adjust { background-position: -1088px -34px }
.icon-g-tint { background-position: -1122px -34px }
.icon-g-crop { background-position: -1156px -34px }
.icon-g-vector-path-square { background-position: -1190px -34px }
.icon-g-vector-path-circle { background-position: -1224px -34px }
.icon-g-vector-path-polygon { background-position: -1258px -34px }
.icon-g-vector-path-line { background-position: -1292px -34px }
.icon-g-vector-path-curve { background-position: -1326px -34px }
.icon-g-vector-path-all { background-position: -1360px -34px }
.icon-g-font { background-position: -1394px -34px }
.icon-g-italic { background-position: -1428px -34px }
.icon-g-bold { background-position: -1462px -34px }
.icon-g-text-underline { background-position: -1496px -34px }
.icon-g-text-strike { background-position: -1530px -34px }
.icon-g-text-height { background-position: -1564px -34px }
.icon-g-text-width { background-position: -1598px -34px }
.icon-g-text-resize { background-position: -1632px -34px }
.icon-g-left-indent { background-position: -1666px -34px }
.icon-g-right-indent { background-position: -1700px -34px }
.icon-g-align-left { background-position: -1734px -34px }
.icon-g-align-center { background-position: -1768px -34px }
.icon-g-align-right { background-position: -1802px -34px }
.icon-g-justify { background-position: -1836px -34px }
.icon-g-list { background-position: -1870px -34px }
.icon-g-text-smaller { background-position: -1904px -34px }
.icon-g-text-bigger { background-position: -1938px -34px }
.icon-g-embed { background-position: -1972px -34px }
.icon-g-embed-close { background-position: 0 -68px }
.icon-g-adjust { background-position: -34px -68px }
.icon-g-message-full { background-position: -68px -68px }
.icon-g-message-empty { background-position: -102px -68px }
.icon-g-message-in { background-position: -136px -68px }
.icon-g-message-out { background-position: -170px -68px }
.icon-g-message-plus { background-position: -204px -68px }
.icon-g-message-minus { background-position: -238px -68px }
.icon-g-message-ban { background-position: -272px -68px }
.icon-g-message-flag { background-position: -306px -68px }
.icon-g-message-lock { background-position: -340px -68px }
.icon-g-message-new { background-position: -374px -68px }
.icon-g-inbox { background-position: -408px -68px }
.icon-g-inbox-plus { background-position: -442px -68px }
.icon-g-inbox-minus { background-position: -476px -68px }
.icon-g-inbox-lock { background-position: -510px -68px }
.icon-g-inbox-in { background-position: -544px -68px }
.icon-g-inbox-out { background-position: -578px -68px }
.icon-g-computer-locked { background-position: -612px -68px }
.icon-g-computer-service { background-position: -646px -68px }
.icon-g-computer-proces { background-position: -680px -68px }
.icon-g-phone { background-position: -714px -68px }
.icon-g-database-lock { background-position: -748px -68px }
.icon-g-database-plus { background-position: -782px -68px }
.icon-g-database-minus { background-position: -816px -68px }
.icon-g-database-ban { background-position: -850px -68px }
.icon-g-folder-open { background-position: -884px -68px }
.icon-g-folder-plus { background-position: -918px -68px }
.icon-g-folder-minus { background-position: -952px -68px }
.icon-g-folder-lock { background-position: -986px -68px }
.icon-g-folder-flag { background-position: -1020px -68px }
.icon-g-folder-new { background-position: -1054px -68px }
.icon-g-check { background-position: -1088px -68px }
.icon-g-edit { background-position: -1122px -68px }
.icon-g-new-window { background-position: -1156px -68px }
.icon-g-more-windows { background-position: -1190px -68px }
.icon-g-show-big-thumbnails { background-position: -1224px -68px }
.icon-g-show-thumbnails { background-position: -1258px -68px }
.icon-g-show-thumbnails-with-lines { background-position: -1292px -68px }
.icon-g-show-lines { background-position: -1326px -68px }
.icon-g-playlist { background-position: -1360px -68px }
.icon-g-picture { background-position: -1394px -68px }
.icon-g-imac { background-position: -1428px -68px }
.icon-g-macbook { background-position: -1462px -68px }
.icon-g-ipad { background-position: -1496px -68px }
.icon-g-iphone { background-position: -1530px -68px }
.icon-g-iphone-transfer { background-position: -1564px -68px }
.icon-g-iphone-exchange { background-position: -1598px -68px }
.icon-g-ipod { background-position: -1632px -68px }
.icon-g-ipod-shuffle { background-position: -1666px -68px }
.icon-g-ear-plugs { background-position: -1700px -68px }
.icon-g-albums { background-position: -1734px -68px }
.icon-g-step-backward { background-position: -1768px -68px }
.icon-g-fast-backward { background-position: -1802px -68px }
.icon-g-rewind { background-position: -1836px -68px }
.icon-g-play { background-position: -1870px -68px }
.icon-g-pause { background-position: -1904px -68px }
.icon-g-stop { background-position: -1938px -68px }
.icon-g-forward { background-position: -1972px -68px }
.icon-g-fast-forward { background-position: 0 -102px }
.icon-g-step-forward { background-position: -34px -102px }
.icon-g-eject { background-position: -68px -102px }
.icon-g-facetime-video { background-position: -102px -102px }
.icon-g-download-alt { background-position: -136px -102px }
.icon-g-mute { background-position: -170px -102px }
.icon-g-volume-down { background-position: -204px -102px }
.icon-g-volume-up { background-position: -238px -102px }
.icon-g-screenshot { background-position: -272px -102px }
.icon-g-move { background-position: -306px -102px }
.icon-g-more { background-position: -340px -102px }
.icon-g-brightness-reduce { background-position: -374px -102px }
.icon-g-brightness-increase { background-position: -408px -102px }
.icon-g-circle-plus { background-position: -442px -102px }
.icon-g-circle-minus { background-position: -476px -102px }
.icon-g-circle-remove { background-position: -510px -102px }
.icon-g-circle-ok { background-position: -544px -102px }
.icon-g-circle-question-mark { background-position: -578px -102px }
.icon-g-circle-info { background-position: -612px -102px }
.icon-g-circle-exclamation-mark { background-position: -646px -102px }
.icon-g-remove { background-position: -680px -102px }
.icon-g-ok { background-position: -714px -102px }
.icon-g-ban { background-position: -748px -102px }
.icon-g-download { background-position: -782px -102px }
.icon-g-upload { background-position: -816px -102px }
.icon-g-shopping-cart { background-position: -850px -102px }
.icon-g-lock { background-position: -884px -102px }
.icon-g-unlock { background-position: -918px -102px }
.icon-g-electricity { background-position: -952px -102px }
.icon-g-ok-2 { background-position: -986px -102px }
.icon-g-remove-2 { background-position: -1020px -102px }
.icon-g-cart-out { background-position: -1054px -102px }
.icon-g-cart-in { background-position: -1088px -102px }
.icon-g-left-arrow { background-position: -1122px -102px }
.icon-g-right-arrow { background-position: -1156px -102px }
.icon-g-down-arrow { background-position: -1190px -102px }
.icon-g-up-arrow { background-position: -1224px -102px }
.icon-g-resize-small { background-position: -1258px -102px }
.icon-g-resize-full { background-position: -1292px -102px }
.icon-g-circle-arrow-left { background-position: -1326px -102px }
.icon-g-circle-arrow-right { background-position: -1360px -102px }
.icon-g-circle-arrow-top { background-position: -1394px -102px }
.icon-g-circle-arrow-down { background-position: -1428px -102px }
.icon-g-play-button { background-position: -1462px -102px }
.icon-g-unshare { background-position: -1496px -102px }
.icon-g-share { background-position: -1530px -102px }
.icon-g-thin-right-arrow { background-position: -1564px -102px }
.icon-g-thin-arrow-left { background-position: -1598px -102px }
.icon-g-bluetooth { background-position: -1632px -102px }
.icon-g-euro { background-position: -1666px -102px }
.icon-g-usd { background-position: -1700px -102px }
.icon-g-bp { background-position: -1734px -102px }
.icon-g-retweet-2 { background-position: -1768px -102px }
.icon-g-moon { background-position: -1802px -102px }
.icon-g-sun { background-position: -1836px -102px }
.icon-g-cloud { background-position: -1870px -102px }
.icon-g-direction { background-position: -1904px -102px }
.icon-g-brush { background-position: -1938px -102px }
.icon-g-pen { background-position: -1972px -102px }
.icon-g-zoom-in { background-position: 0 -136px }
.icon-g-zoom-out { background-position: -34px -136px }
.icon-g-pin { background-position: -68px -136px }
.icon-g-riflescope { background-position: -102px -136px }
.icon-g-rotation-lock { background-position: -136px -136px }
.icon-g-flash { background-position: -170px -136px }
.icon-g-google-maps { background-position: -204px -136px }
.icon-g-anchor { background-position: -238px -136px }
.icon-g-conversation { background-position: -272px -136px }
.icon-g-chat { background-position: -306px -136px }
.icon-g-male { background-position: -340px -136px }
.icon-g-female { background-position: -374px -136px }
.icon-g-asterisk { background-position: -408px -136px }
.icon-g-divide { background-position: -442px -136px }
.icon-g-snorkel-diving { background-position: -476px -136px }
.icon-g-scuba-diving { background-position: -510px -136px }
.icon-g-oxygen-bottle { background-position: -544px -136px }
.icon-g-fins { background-position: -578px -136px }
.icon-g-fishes { background-position: -612px -136px }
.icon-g-boat { background-position: -646px -136px }
.icon-g-delete-point { background-position: -680px -136px }
.icon-g-sheriffs--star { background-position: -714px -136px }
.icon-g-qrcode { background-position: -748px -136px }
.icon-g-barcode { background-position: -782px -136px }
.icon-g-pool { background-position: -816px -136px }
.icon-g-buoy { background-position: -850px -136px }
.icon-g-spade { background-position: -884px -136px }
.icon-g-bank { background-position: -918px -136px }
.icon-g-vcard { background-position: -952px -136px }
.icon-g-electrical-plug { background-position: -986px -136px }
.icon-g-flag { background-position: -1020px -136px }
.icon-g-credit-card { background-position: -1054px -136px }
.icon-g-keyboard-wireless { background-position: -1088px -136px }
.icon-g-keyboard-wired { background-position: -1122px -136px }
.icon-g-shield { background-position: -1156px -136px }
.icon-g-ring { background-position: -1190px -136px }
.icon-g-cake { background-position: -1224px -136px }
.icon-g-drink { background-position: -1258px -136px }
.icon-g-beer { background-position: -1292px -136px }
.icon-g-fast-food { background-position: -1326px -136px }
.icon-g-cutlery { background-position: -1360px -136px }
.icon-g-pizza { background-position: -1394px -136px }
.icon-g-birthday-cake { background-position: -1428px -136px }
.icon-g-tablet { background-position: -1462px -136px }
.icon-g-settings { background-position: -1496px -136px }
.icon-g-bullets { background-position: -1530px -136px }
.icon-g-cardio { background-position: -1564px -136px }
.icon-g-t-shirt { background-position: -1598px -136px }
.icon-g-pants { background-position: -1632px -136px }
.icon-g-sweater { background-position: -1666px -136px }
.icon-g-fabric { background-position: -1700px -136px }
.icon-g-leather { background-position: -1734px -136px }
.icon-g-scissors { background-position: -1768px -136px }
.icon-g-podium { background-position: -1802px -136px }
.icon-g-skull { background-position: -1836px -136px }
.icon-g-celebration { background-position: -1870px -136px }
.icon-g-tea-kettle { background-position: -1904px -136px }
.icon-g-french-press { background-position: -1938px -136px }
.icon-g-coffe-cup { background-position: -1972px -136px }
.icon-g-pot { background-position: 0 -170px }
.icon-g-grater { background-position: -34px -170px }
.icon-g-kettle { background-position: -68px -170px }
.icon-g-hospital { background-position: -102px -170px }
.icon-g-hospital-h { background-position: -136px -170px }
.icon-g-microphone { background-position: -170px -170px }
.icon-g-webcam { background-position: -204px -170px }
.icon-g-temple-christianity-church { background-position: -238px -170px }
.icon-g-temple-islam { background-position: -272px -170px }
.icon-g-temple-hindu { background-position: -306px -170px }
.icon-g-temple-buddhist { background-position: -340px -170px }
.icon-g-electrical-socket-eu { background-position: -374px -170px }
.icon-g-electrical-socket-us { background-position: -408px -170px }
.icon-g-bomb { background-position: -442px -170px }
.icon-g-comments { background-position: -476px -170px }
.icon-g-flower { background-position: -510px -170px }
.icon-g-baseball { background-position: -544px -170px }
.icon-g-rugby { background-position: -578px -170px }
.icon-g-ax { background-position: -612px -170px }
.icon-g-table-tennis { background-position: -646px -170px }
.icon-g-bowling { background-position: -680px -170px }
.icon-g-tree-conifer { background-position: -714px -170px }
.icon-g-tree-deciduous { background-position: -748px -170px }
.icon-g-more-items { background-position: -782px -170px }
.icon-g-sort { background-position: -816px -170px }
.icon-g-filter { background-position: -850px -170px }
.icon-g-gamepad { background-position: -884px -170px }
.icon-g-playing-dices { background-position: -918px -170px }
.icon-g-calculator { background-position: -952px -170px }
.icon-g-tie { background-position: -986px -170px }
.icon-g-wallet { background-position: -1020px -170px }
.icon-g-share { background-position: -1054px -170px }
.icon-g-sampler { background-position: -1088px -170px }
.icon-g-piano { background-position: -1122px -170px }
.icon-g-web-browser { background-position: -1156px -170px }
.icon-g-blog { background-position: -1190px -170px }
.icon-g-dashboard { background-position: -1224px -170px }
.icon-g-certificate { background-position: -1258px -170px }
.icon-g-bell { background-position: -1292px -170px }
.icon-g-candle { background-position: -1326px -170px }
.icon-g-pin-classic { background-position: -1360px -170px }
.icon-g-iphone-shake { background-position: -1394px -170px }
.icon-g-pin-flag { background-position: -1428px -170px }
.icon-g-turtle { background-position: -1462px -170px }
.icon-g-rabbit { background-position: -1496px -170px }
.icon-g-globe { background-position: -1530px -170px }
.icon-g-briefcase { background-position: -1564px -170px }
.icon-g-hdd { background-position: -1598px -170px }
.icon-g-thumbs-up { background-position: -1632px -170px }
.icon-g-thumbs-down { background-position: -1666px -170px }
.icon-g-hand-right { background-position: -1700px -170px }
.icon-g-hand-left { background-position: -1734px -170px }
.icon-g-hand-up { background-position: -1768px -170px }
.icon-g-hand-down { background-position: -1802px -170px }
.icon-g-fullscreen { background-position: -1836px -170px }
.icon-g-shopping-bag { background-position: -1870px -170px }
.icon-g-book-open { background-position: -1904px -170px }
.icon-g-nameplate { background-position: -1938px -170px }
.icon-g-nameplate-alt { background-position: -1972px -170px }
.icon-g-vases { background-position: 0 -204px }
.icon-g-announcement { background-position: -34px -204px }
.icon-g-dumbbell { background-position: -68px -204px }
.icon-g-suitcase { background-position: -102px -204px }
.icon-g-file-import { background-position: -136px -204px }
.icon-g-file-export { background-position: -170px -204px }
.icon-g-pinterest { background-position: -204px -204px }
.icon-g-dropbox { background-position: -238px -204px }
.icon-g-google-alt { background-position: -272px -204px }
.icon-g-jolicloud { background-position: -306px -204px }
.icon-g-yahoo { background-position: -340px -204px }
.icon-g-blogger { background-position: -374px -204px }
.icon-g-picasa { background-position: -408px -204px }
.icon-g-amazon { background-position: -442px -204px }
.icon-g-tumblr { background-position: -476px -204px }
.icon-g-wordpress { background-position: -510px -204px }
.icon-g-instapaper { background-position: -544px -204px }
.icon-g-evernote { background-position: -578px -204px }
.icon-g-xing { background-position: -612px -204px }
.icon-g-zootool { background-position: -646px -204px }
.icon-g-dribbble { background-position: -680px -204px }
.icon-g-deviantart { background-position: -714px -204px }
.icon-g-read-it-later { background-position: -748px -204px }
.icon-g-linked-in { background-position: -782px -204px }
.icon-g-forrst { background-position: -816px -204px }
.icon-g-pinboard { background-position: -850px -204px }
.icon-g-behance { background-position: -884px -204px }
.icon-g-github { background-position: -918px -204px }
.icon-g-youtube { background-position: -952px -204px }
.icon-g-skitch { background-position: -986px -204px }
.icon-g-4square { background-position: -1020px -204px }
.icon-g-quora { background-position: -1054px -204px }
.icon-g-google-plus { background-position: -1088px -204px }
.icon-g-spootify { background-position: -1122px -204px }
.icon-g-stumbleupon { background-position: -1156px -204px }
.icon-g-readability { background-position: -1190px -204px }
.icon-g-facebook { background-position: -1224px -204px }
.icon-g-twitter-t { background-position: -1258px -204px }
.icon-g-twitter { background-position: -1292px -204px }
.icon-g-buzz { background-position: -1326px -204px }
.icon-g-vimeo { background-position: -1360px -204px }
.icon-g-flickr { background-position: -1394px -204px }
.icon-g-last-fm { background-position: -1428px -204px }
.icon-g-rss { background-position: -1462px -204px }
.icon-g-skype { background-position: -1496px -204px }
.icon-g-e-mail { background-position: -1530px -204px }
