@import '../../css/Variable.styl'

.tagList__form
  padding 0px standardSpacing
  &__title
    font-size titleFontSize
    margin-bottom standardSpacing
  &__tag
    height 45px
    display flex
    flex-flow column nowrap
    .name__input
      margin standardSpacing 0 0 0
      box-sizing border-box
      width 100%
      flex none
      font-size standardFontSize
    .autocomplete
      z-index 1
      &__item
        padding textSpacing
  &__submitBtn
    margin-top standardSpacing
    display flex
    justify-content flex-end
