@import '../../css/Variable.styl'

.tagList
  flex-direction column
  width calc(100% - 65px)
  height 100%
  overflow auto
  &__header
    margin 10px 15px
    padding 10px
    font-size fontSizeMedium
  &__list
    margin 0
    padding 0
    list-style none
    text-align center
    &__item
      display inline-flex
      padding 10px 15px
      background-color mediumGrey
      margin 10px 0px
      border-radius 3px
      width 85%
      & i
        padding 5px
        margin-right 5px
      &__info
        text-overflow ellipsis
        overflow hidden
        flex 1
        margin-bottom 0
        position relative
        right 30px
      &__delete
        font-size fontSizeMedium
        color darkGrey
        cursor pointer
      &__last
        border none
      .checkboxCustom
        margin-bottom 0
        align-self center
      &__circle
        width 15px
        height 15px
        background-color veryLightGrey
        border-radius 10px
        align-self center
        margin auto 5px
        position relative
        right 30px
      &__triangle
        font-size 46px
        transform rotate(58deg)
        position relative
        left 16px
        top 14px
        color mediumGrey
  &__btnAdd
    border-bottom 2px solid grey
    padding 15px
    &__button
      display flex
      align-items center
      border-color grey
      color grey
      &__plus
        display flex
        justify-content center
        align-items center
        margin-right 20px
        border-width 2px
        border-style dashed
        border-radius 50%
        width 50px
        height 50px
        cursor pointer
        &__icon
          font-size fontSizeTitle
      &__text
        font-size 18px
        cursor pointer

// MEDIAQUERIES

@media (min-width: min-md) and (max-width: max-md)

  .tagList
    width 100%

@media (min-width: min-sm) and (max-width: max-sm)
  .tagList
    margin 50px 0
    width 100%

@media (max-width: max-xs)
  .tagList
    margin 50px 0
    width 100%
    &__title
      margin-left 10px
    &__wrapper
      height auto
    &__list
      height auto
      overflow-Y visible
      // &__item:nth-last-child(1)
      //   border-bottom 1px solid grey
    &__btnAdd
      border-top 0
