@import '../../css/Variable.styl'

.tagList
  width calc(100% - 65px)
  height 100%
  overflow auto
  &__header
    margin 10px 15px
    padding 10px
    font-size fontSizeMedium
  &__list
    margin 10px
    padding 0
    list-style none
    text-align center
    &__item
      display flex
      padding 12px
      background-color mediumGrey
      border-radius 7px 3px 3px 7px
      flex 1
      overflow hidden
      &__info
        text-overflow ellipsis
        overflow hidden
        flex 1
        position relative
        right 20px
        text-align left
      &__circle
        width 10px
        height 10px
        background-color veryLightGrey
        border-radius 10px
        align-self center
        margin auto 5px
        position relative
        position relative
        right 30px
        display inline-block
      &__triangle
        font-size 46px
        transform rotate(58deg)
        transform-origin top
        margin-right -19px
        position relative
        left 16px
        top 17px
        color mediumGrey
      &__wrapper
        position relative
        display flex
        flex-direction row
        margin-left 12px
        margin-bottom 10px

@media (max-width: max-lg)
  .tagList
    width 100%

@media (max-width: min-sm) and (max-width: max-sm)
  .tagList
    &__list
      &__item
        width 85%

@media (max-width: max-xs)
  .tagList
    &__wrapper
      height auto
    &__list
      height auto
      overflow-Y auto
