@import "../../css/Variable.styl"

.avatar
  display flex
  justify-content center
  align-items center
  text-align center
  font-weight bold
  color offWhite
  border-radius 50% 50%

  &__img
    border-radius 50% 50%
    font-size smallTitle
