@import "../../css/Variable.styl"

.createToDoFromTextPopup
  & .cardPopup__body
    display flex
    flex-direction column
    width 100%

    & span
      align-self flex-start

    & textarea
      width 100%

  &__main
    width 100%

  &__buttons
    align-self flex-end

    & button:last-child
      margin-inline-start standardSpacing
