@import '../../css/Variable.styl'

.createToDoFromTextPopup
  & .cardPopup
    top calc(50% - 250px)
  & .cardPopup__body
    display flex
    flex-direction column
    width 100%

    & span
      align-self flex-start

    & textarea
      width 100%
      border none
      border-radius standardBorderRadius
      padding textSpacing
      &:disabled
        border borderStyle

  &__main
    width 100%

    &__title
      display flex
      justify-content space-between

      &__info
        color grey

  &__buttons
    align-self flex-end
    margin-top textSpacing

    & button:last-child
      margin-inline-start standardSpacing
