@import "../../css/Variable.styl"

.toDo
  display flex
  flex-direction column
  margin standardSpacing
  &__new
    margin standardSpacing
    display flex
    flex-direction column
    &__toDoText
      margin-top standardSpacing
    &__buttons
      display flex
      justify-content flex-end
      margin-top standardSpacing
      & > .iconbutton
        margin-inline-start standardSpacing
    & > textarea
      border-radius standardBorderRadius
      border borderStyle
      padding textSpacing
    &Button
      align-self flex-end
      margin-bottom standardSpacing
  &__progressBar
    height textSpacing
    background-color fontColor
    transition: 0.5s
    &_container
      background-color mediumGrey
      flex 1
      margin 0px pageSpacing
  &__title
    &_container
      display flex
      align-items center
  &Item
    display flex
    background-color offWhite
    min-height headerHeight
    justify-content flex-start
    align-content center
    align-items center
    border-bottom 1px solid mediumGrey
    padding standardSpacing
    &:last-child
      border none
    &__checkbox
      font-size titleFontSize
      &:focus
        outline none
    &__delete:focus
      outline none
    &__content
      flex 1
      align-items baseline
      overflow hidden
      text-overflow ellipsis
      & strong
        margin-right textSpacing
    &Checked
      color lightDarkGrey
      & > button
        color lightDarkGrey
