@import "../../css/Variable.styl"

.toDo
  display flex
  flex-direction column
  margin standardSpacing
  &__new
    margin standardSpacing
    display flex
    flex-direction column
    &__toDoText
      margin-top standardSpacing
    &__buttons
      display flex
      justify-content flex-end
      margin-top standardSpacing
      & > .iconbutton
        margin-inline-start standardSpacing
    & > textarea
      border-radius standardBorderRadius
      border borderStyle
      padding textSpacing
    &Button
      align-self flex-end
      margin-bottom standardSpacing
  &Item
    display flex
    background-color offWhite
    min-height headerHeight
    justify-content flex-start
    align-content center
    align-items center
    border-bottom 1px solid mediumGrey
    padding standardSpacing
    &:last-child
      border none
    &__checkbox
      font-size titleFontSize
      &:focus
        outline none
    &__delete:focus
      outline none
    &__timedEvent
      flex 1
    &__content
      flex 6
      align-items baseline
      overflow hidden
      text-overflow ellipsis
      &__navigation
        display flex
        justify-content space-between
        margin-inline-end standardSpacing
        font-weight bold
        & > *
          color fontColor
          font-size metadataFontSize
          &:hover
            color fontColor
            text-decoration underline
      & strong
        margin-inline-end textSpacing
    &Checked
      color lightDarkGrey
      background repeating-linear-gradient(25deg, lightGrey, lightGrey 5px, white 5px, white 10px)
      & *
        color lightDarkGrey
