@import "../../css/Variable.styl"

.toDoManagement
  &__buttons
    display flex
    margin-inline standardSpacing
    margin-bottom standardSpacing
    &__new
      margin-inline-start auto
      & button
        margin-inline-start standardSpacing
  &__creation
    &__btnSwitch
      margin-inline-end standardSpacing
