@import "../../css/Variable.styl"

.toDoManagement
  &__buttons
    display flex
    justify-content space-between
    margin-bottom standardSpacing
    &__new
      & button
        margin-inline-start standardSpacing
  &__creation
    margin-inline standardSpacing
    &__linkButton
      display flex
      justify-content flex-end
