@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.formBlock
  margin-bottom 15px
  border-radius 10px
  background-color offWhite
  &__title
    padding 10px 0 25px 10px
    border-bottom 1px solid grey
    font-size 20px
    font-weight 400
  &__field
    padding 10px
  &__bottom
    padding 10px

.workspace_advanced
  width 1000px
  height 100%
  overflow-y auto
  &-content
    width 50%
    padding 10px 10px 0 10px
  &__contentpage__content
    // Côme - 2018/09/19 - the rule bellow get override by other apps including frontend_lib, so !important
    height calc(100% - 134px) !important
    overflow-y auto
  &__description
    &__text
      padding 10px
      &__textarea
        width 100%
    &__bottom
      display flex
      justify-content end
  &__userlist
    position relative
    &__list
      margin 0
      padding 0
      //height 300px
      //overflow-y auto
      list-style none
      &__item
        display flex
        justify-content space-between
        align-items center
        border-bottom 1px solid grey
        padding 10px 15px
        &:last-child
          border-bottom none
        &__avatar
          margin-right 25px
        &__namerole
          display flex
          justify-content space-between
          align-items center
          width 100%
          &__name
            margin-right 30px
          &__role
            margin-right 50px
            .btndropdown
              display flex
              align-items center
              border none
              padding 10px
              width 250px
              background-color transparent
              cursor pointer
              &::after
                display flex
                justify-content flex-end
              &.bordered
                border 1px solid grey
                border-radius 10px
            .subdropdown
              width 250px
              padding 0
              &__item
                display flex
                align-items center
                padding 10px
                &__icon
                  margin-right 15px
        &__delete
          width 16px
          font-size 20px
          cursor pointer
    &__adduser
      border-top 1px solid grey
      padding 15px
      &__button
        display flex
        align-items center
        border-color grey
        color grey
        &__avatar
          display flex
          justify-content center
          align-items center
          margin-right 20px
          border-width 2px
          border-style dashed
          border-radius 50%
          width 50px
          height 50px
          cursor pointer
          &__icon
            font-size 25px
        &__text
          font-size 18px
          cursor pointer

.workspace_advanced__popup
  .cardPopup__container
    width 400px
  &__body
    width 100%
    &__btn
      display flex
      justify-content flex-end
      .btn:first-child
        margin-right 15px

@media (min-width: min-lg) and (max-width: max-lg)
  .workspace_advanced-content
    width 100%

@media (min-width: min-md) and (max-width: max-md)
  .workspace_advanced-content
    width 100%

@media (min-width: min-md) and (max-width: max-md)
  .workspace_advanced
    width 100%
    &-content
      width 100%
    &__userlist__list__item__namerole
      flex-direction column
      align-items flex-start

@media (min-width: min-sm) and (max-width: max-sm)
  .workspace_advanced
    width 100%
    &-content
      width 100%
    &__userlist__list__item__namerole
      flex-direction column
      align-items flex-start

@media (max-width: max-xs)
  .workspace_advanced
    width 100%
    &-content
      width 100%
    &__userlist__list__item__namerole
      flex-direction column
      align-items flex-start
