@import "~tracim_frontend_lib/src/css/Variable.styl"

.formBlock
  margin-bottom 15px
  border-radius 10px
  &__title
    padding 10px 0 25px 10px
    border-bottom 1px solid grey
    font-size 20px
    font-weight 400
  &__field
    padding 10px
  &__bottom
    padding 10px

.workspace_advanced
  height 100%
  overflow-y auto
  overflow-x hidden
  &-content
    padding 10px 10px 0 10px
  &__contentpage__content
    height calc(100% - 107px)
    overflow-y hidden
    &__left
      background-color offWhite
      overflow auto
  &__description
    &__text
      padding 10px
      &__textarea
        width 100%
    &__bottom
      display flex
      justify-content end
  &__userlist
    overflow-y auto
    &__list
      margin 0
      padding 0
      list-style none
      &__item
        display flex
        justify-content space-between
        align-items center
        border-bottom 1px solid grey
        padding 0 15px
        height 65px
        &__avatar
          margin-right 25px
        &__name
          flex 1
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
          &__username
            font-size small
            overflow hidden
            text-overflow ellipsis
        &__role
          flex 2
          .btndropdown
            display flex
            align-items center
            max-width 16rem
            width 100%
            &__icon
              width 25px
              margin-right 15px
            &::after
              display flex
              margin-left auto
            &.bordered
              border 1px solid grey
              border-radius 10px
          .subdropdown
            width 250px
            padding 0
            &__item
              display flex
              align-items center
              padding 10px
              &__icon
                margin-right 15px
              &__text
                white-space normal
        &__delete
          width 16px
          font-size 20px
          cursor pointer
    &__adduser
      border-bottom 2px solid grey
      padding 15px
      &__button
        display flex
        align-items center
        border-color grey
        color grey
        &__avatar
          display flex
          justify-content center
          align-items center
          margin-right 20px
          border-width 2px
          border-style dashed
          border-radius 50%
          width 50px
          height 50px
          cursor pointer
          &__icon
            font-size 25px
        &__text
          font-size 18px
          cursor pointer
    &__title
      padding 17px 15px
  &__optionalfunctionalities
    padding-top 10px
    &__title
      padding 7px 15px 17px
    &__content
      padding-left 20px

.workspace_advanced__popup
  .cardPopup__container
    width 400px
  &__body
    width 100%
    &__btn
      display flex
      justify-content flex-end
      .btn:first-child
        margin-right 15px

// MEDIAQUERIES

@media (min-width: min-xl)
  .workspace_advanced__userlist__list__item__avatar
    display none

@media (min-width: min-lg) and (max-width: max-lg)
  .workspace_advanced
    height "calc(100% - %s)" % headerHeight
    &-content
      width 100%
    &__contentpage__content
      height auto
    &__userlist
      width 100%

@media (min-width: min-md) and (max-width: max-md)
  .workspace_advanced
    height "calc(100% - %s)" % headerHeight
    width 100%
    &-content
      width 100%
    &__userlist
      width 100%
    &__contentpage__content
      height auto

@media (min-width: min-sm) and (max-width: max-sm)
  .workspace_advanced
    height "calc(100% - %s)" % headerHeight
    width 100%
    &-content
      width 100%
    &__userlist
      width 100%
    &__contentpage__content
      height auto

@media (max-width: max-xs)
  .workspace_advanced
    height "calc(100% - %s)" % headerHeight
    width 100%
    &-content
      width 100%
    &__userlist
      width 100%
    &__contentpage__content
      height auto
