@import '~tracim_frontend_lib/src/css/Variable.styl'

.tableOfContentButton
  position relative
  &__button
    position relative
    padding 3px 5px
    border none
.tableOfContent
  & ol
    counter-reset item
    padding-inline-start 30px
  & li
    display block
  & li:before
    content counters(item, ".")" "
    counter-increment item
    font-weight bold
  &__toc
    & ol
      padding-left 5px
      margin-bottom 0
      & ol
        padding-left 20px
    & a:link, a:visited, a:hover
      color fontColor
    & a:hover
      text-decoration underline
