@import '~tracim_frontend_lib/src/css/Variable.styl'

.tableOfContentButton
  position relative
  &__button
    position relative
    padding 3px 5px
    border none
    &:hover + .tableOfContent
      display block
.tableOfContent
  display none
  position absolute
  width auto
  padding 5px
  background-color offWhite
  box-shadow shadow-image
  white-space nowrap
  &:hover
    display block
  &.visible
    display block
  & ol
    counter-reset item
    padding-inline-start 30px
  & li
    display block
  & li:before
    content counters(item, ".")" "
    counter-increment item
  &__toc
    & ol
      padding-left 5px
      margin-bottom 0
      & ol
        padding-left 20px
