@import "../../css/Variable.styl"

.emptyListMessage
  align-items center
  display flex
  flex 1
  flex-direction column
  justify-content center
  font-size titleFontSize
  font-weight bold
  color fontColor
  padding 1rem
