@import '~tracim_frontend_lib/src/css/Variable.styl'

.favoriteTable__row
  color fontColor
  &:hover
    color fontColor
  &__link
    z-index 1
    position absolute
    width (100% - listIconWidth)
    height 100%
  &__btn
    padding 0
    display flex
    justify-content center
    align-items: center
  &__btn:focus
    box-shadow none
