import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  ...defaultDebug,
  config: {
    ...defaultDebug.config,
    slug: 'workspace_advanced',
    faIcon: 'fas fa-users',
    hexcolor: '#7d4e24',
    creationLabel: '',
    label: 'Advanced dashboard'
  },
  content: {
    ...defaultDebug.content,
    workspace_id: 1
  }
}
