.FilenameWithBadges
  display flex
  align-items center
  &__label
    overflow hidden
    text-overflow ellipsis
    unicode-bidi plaintext
  & .badge
    direction ltr

.tracimTable__body__row__cell .badge
  overflow visible
