.inputGroupText
  position relative
  display flex
  border-width 1px
  border-style solid
  border-radius .25rem
  border-color lightgray
  background-color white
  &__icon
    margin auto 0px auto standardSpacing
  &__input
    border none
