@import '~tracim_frontend_lib/src/css/Variable.styl'

.inputGroupText
  position relative
  display flex
  border-width 1px
  border-style solid
  border-radius standardBorderRadius
  border-color lightgray
  background-color white
  &__icon
    margin auto 0px auto standardSpacing
  &__input
    border none
