iconrules()
  display inline-block
  margin-right 10px
  font-size 20px

.file
  display flex
  border-bottom 0
  cursor pointer
  &:hover
    background-color files-hover
  &__type
    font-size 30px
    text-align center
  &__name
    display flex
    justify-content space-between
    padding 15px 5px
    &__text
      font-size 17px
    &__icons
      &__download
        iconrules()
        &:hover, &:focus
          color blue
      &__archive
        iconrules()
        &:hover, &:focus
          color blue
      &__delete
        iconrules()
        &:hover, &:focus
          color blue
  &__status
    font-size 30px
    text-align center

@media (min-width: max-xs) and (max-width: max-lg)
  .file
    border-right 1px solid grey
    &__name__icons
        margin-top 5px
