.fileitemheader
  display flex
  &__type
    padding 15px 0
    text-align center
    font-size 17px
  &__name
    padding 15px 5px
    width 100%
    font-size 17px
  &__status
    padding 15px 0
    width 100%
    text-align center
    font-size 17px
