.filecontent
  &__close
    cursor pointer
  &__contentname
    &__icon
      font-size 30px
      color fileColor
    &__title
      font-size 20px
      color fileColor
  &__text
    margin-bottom 15px
    font-size 20px
  &__form
    border 1px dashed grey
    padding 10px 15px
    &__icon
      margin-top 15px
      font-size 30px
      color fileColor
      & > label
        cursor pointer
    &__instruction
      font-size 20px
      color fileColor
    &__text
      margin-bottom 20px
  &__button
    margin 15px 0
    & > button
      border-color fileColor
      color fileColor
      cursor pointer
      &:focus, &:hover
        border-color grey
        background-color fileColor
        color off-white
