.fileitem__header
  display flex
  font-size 17px
  &__type
    padding 15px 0
    text-align center
  &__name
    padding 15px 5px
    width 100%
  &__status
    padding 15px 0
    width 100%
    text-align center
