.sidebarpagecontainer
  display flex
  min-height calc(100% - 50px)
  padding-top 85px

.pageWrapperGeneric
  width 100%
  &__header
    display flex
  &__content
    margin 10px 10px 120px 10px
@media (min-width: min-md) and (max-width: max-md)
  .pageWrapperGeneric
    display block
    padding-top 87px
    &__header
      margin 95px 0 5px 30px
    &__content
      margin 0
@media (min-width: min-sm) and (max-width: max-sm)
  .pageWrapperGeneric
    display block
    padding-top 87px
    &__header
      margin 95px 0 35px 0
      &__title
        display inline-block
        margin-left 0
    &__content
      margin 0
@media (max-width: max-xs)
  .pageWrapperGeneric
    display block
    padding-top 87px
    &__header
      display block
      margin-top 60px
    &__content
      margin 0


.pageTitleGeneric
  display flex
  margin 45px 0
  &__title
    margin-left 10px
    font-size 30px
    color dark-grey
@media (max-width: max-xs)
  .pageTitleGeneric
    display block


.pageContentGeneric
  margin 10px 10px 120px 10px


.dropdownCreateBtn
  &__label
    padding 10px 65px
    background-color green
    cursor pointer
    &__text
      display inline-block
      color white
    &::after //bootstrap override
      display inline-block
      margin-left 30px
      color white
  &__setting
    padding 0
    cursor pointer
    .setting__link
      padding 5px 65px 5px 10px


.wsFileGeneric
  position fixed
  top 85px
  right 0
  border 1px solid grey
  height 100%
  background-color light-grey
  box-shadow shadow-page
  visibility hidden
  &.visible
    visibility visible
  &__header
    display flex
    align-items center
    padding 15px
    height 64px
    &__icon
      margin-right 15px
      font-size 22px
      color white
    &__title
      margin-right 15px
      color white
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
    &__edittitle
      margin 0 15px
      color white
      font-size 20px
      cursor pointer
    &__close
      border 1px solid white
      border-radius 5px
      padding 2px 5px
      cursor pointer
      & > i
        color white
        font-size 20px
  &__option
    border-bottom 1px solid grey
    padding 15px
    height 58px
    text-align right
    background-color off-white
    & > i
      vertical-align middle
      margin-right 15px
      font-size 25px
      cursor pointer
    &__menu
      display inline-block
      vertical-align middle
      &__action
        display inline-block
        margin-right 10px
        font-size 18px
        cursor pointer
  &__wrapper
    display flex
    flex-direction column

