body
  font-family 'Quicksand', sans-serif
html, body, #content, #content > div
  height 100%

@import 'Variable.styl'
@import 'Generic.styl'

@import 'Sidebar.styl'
@import 'Header.styl'
@import 'Footer.styl'

@import 'Login.styl'
@import 'Workspace.styl'

@import 'FileItem.styl'
@import 'FileItemHeader.styl'
@import 'Folder.styl'

@import '../plugin/ContentType/Thread/Thread.styl'
@import '../plugin/ContentType/PageHtml/PageHtml.styl'
@import 'Timeline.styl'
@import 'File.styl'

@import 'Dashboard.styl'
@import 'AccountPage.styl'
@import 'btnSwtich.styl'

// @import 'UploadPopup'
// @import 'ProgressBar'
