@import "../../node_modules/tracim_lib/src/css/Variable.styl"

btncolor()
  background-color htmlColor
  color off-white

btnState()
  background-color darkHtmlColor
  color off-white

.html-documents
  width 70%
  &__header
    background-color htmlColor
    &__editionmode
      display none
    &__icon
      .fa-file-text-o
        color white
  .newversionbtn
    border-color htmlColor
    color fontColor
    &:hover, &:focus, &:visited, &:active
      btnState()
      border-color darkHtmlColor
      box-shadow none
  &__lastversionbtn
    & > i
      font-size 20px
  .optionicon
    &:hover, &:focus, &:active
      color htmlColor
  .selectStatus
    margin-right 15px
    .dropdown-item
      &:hover, &:focus, &:active, &visited, &:focus-within
        background-color htmlColor
        color off-white!important // @FIXME 04/07/2018 AC - we must use a plugin for this
  &__editionmode
    &__cancel
      border-color htmlColor
      color htmlColor
      &:hover, &:focus, &:active, &:visited, &focus-within
        border-color htmlColor
        btncolor()
    &__submit
      border-color htmlColor
      color htmlColor
      &:hover, &:focus, &:active, &:visited, &focus-within
        border-color htmlColor
        btncolor()
  &__contentpage
    &__textnote
      margin 10px 5px 10px 10px
      border-radius 10px
      padding 25px
      height 100%
      overflow-y auto
      background-color off-white
      &__version
        display flex
        justify-content flex-end
        align-items center
        text-align right
        opacity 0.7
      &__lastversion
        margin-left 15px
        font-weight bold
      &__text
        font-size 14px
      &__edition
        display none
    &__messagelist
      min-height 70px
      &__item
        &__avatar
          border 1px solid darkHtmlColor
          background-color off-white
        &__content
          color darkGrey
      &__version
        background-color grey-hover
        &__btn
          padding 5px 25px
          border-radius 5px
          width 145px
          color white
          font-size 17px
          background-color htmlColor
          & > i
            margin-right 10px
            color darkGrey
            font-size 20px
          &:hover, &:focus
            btnState()
        &__date
          color fontColor
          font-size 17px
    &__texteditor
      &__advancedtext
        &__btn
          color fontColor
          border-color htmlColor
          &:hover ,&:focus, &:visited, &:active
            btnState()
            border-color darkHtmlColor
            box-shadow none
      &__submit
        &__btn
          background-color htmlColor
          color white
          &:hover, &:focus, &:visited, &:active
            background-color darkHtmlColor

.messagelistOpen
  .timeline__messagelist
    flex 0
    min-height 0

.received
  .timeline__messagelist__item__content
    background-color htmlColor

.popupCreateContent
  .cardPopup
    &__header
      background-color htmlColor
  .createcontent
    &__contentname
      color htmlColor
    &__form
      &__button
        & > button
          border-color htmlColor
          background-color htmlColor
          &:hover, &:active, &:visited &:focus
            background-color darkHtmlColor
            box-shadow none


@media (min-width: min-sm) and (max-width: max-lg)
  .html-documents
    &__contentpage
      &__content
        margin 10px
      &__textnote
        margin 0

@media (min-width: min-md) and (max-width: max-md)

  .html-documents
    top 68px

@media (min-width: min-sm) and (max-width: max-sm)

  .html-documents
    top 68px
    width 100%

@media (max-width: max-xs)

  .html-documents
    top 68px
    width 100%
    &__contentpage
      &__content
        margin 10px
      &__textnote
        margin 0
