titlerules()
  margin 0 0 20px 10px
  border-bottom 1px solid blue
  padding-bottom 2px

.extandedaction
  position absolute
  right 170px
  z-index 1
  &__content
    &__close
      cursor pointer
    &__type
      &__title
        titlerules()
        width 215px
    &__advancedfolder
      &__title
        titlerules()
        width 205px
