.sidebar-expandbar
  position absolute
  left 0
  display none
  border 1px solid dark-blue
  border-top-width 2px
  padding 11px 15px
  background-color blue
  z-index 2
  &__icon
    font-size 18px
    text-align center
    cursor pointer
    &:hover
      color white

.sidebar
  display none
  height 100%
  background-color dark-blue
  z-index 1

sidebar-width = 300px
.sidebar-visible
  .sidebar-expandbar
    left sidebar-width
  .sidebar
    display table-cell
    vertical-align top
  .containerdocument
    display table-cell
    vertical-align top

.sidebar
  padding-top 85px
  &__btnnewworkspace
    margin-top 40px
    padding 10px
    width 100%
    &__btn
      display block
      margin 0 auto
      padding 15px 30px
  &__navigation
    padding 0
    &__workspace
      flex-direction column
      &__item
        position relative
        margin-top 2px
        width sidebar-width
        background-color blue
        cursor pointer
        &__number
          display inline-block
          padding 5px 0 5px 0
          width 50px
          font-size 20px
          letter-spacing 2px
          text-align center
          background-color light-blue
        &__name
          display inline-block
          vertical-align top
          padding 5px 5px
          width 220px
          font-size 20px
          color white
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
        &__icon
          display inline-block
          color white
        &__submenu
          margin-bottom 0
          padding-left 0
          height 0 // height is handled is js
          list-style none
          background-color opacity-blue
          overflow hidden
          transition height 0.5s
          &__dropdown
            border-top 1px solid dark-blue
            &:hover
              background-color light-blue
            &__showdropdown
              padding 10px 0
            .dropdown__icon
              display inline-block
              margin 0 35px 0 15px
              font-size 20px
            .dropdown__title
              position relative
              display inline-block
              font-size 18px
              font-weight 400
              color dark-grey
              cursor pointer
              &::after //bootstrap override
                position absolute
                top 10px
                left 100%
              &__text
                display inline-block
                width 200px
            .dropdown__subdropdown
              border-radius 0
              padding 0
              .alignname
                display inline-block
                font-size 18px
              &__item
                cursor pointer
                border-top 1px solid dark-blue
                padding 13px 0
                &__iconfile
                  padding-left 18px
                &__textfile
                  margin-left 38px
