.wsFileThread
  width 550px
  &__header
    color white
    background-color threadColor
    &__editionmode
      display none
    &__icon
      .fa-comments-o
        color white
  &__wrapper
    height calc(100% - 209px) /* height of chat__header + height of option + top of chat */
  &__messagelist
    padding 15px 35px
    &__item
      &__content
        color darkBlue
  &__texteditor
    &__simpletext
      &__input
        &:focus
          color darkBlue
          border-color darkBlue
    &__submit
      &__btn
        color darkBlue

.received
  .wsFileThread__messagelist__item__content
      background-color darkBlue
      color white

.activeEditionTitle
  .wsFileThread
    &__header
      &__editionmode
        display block
      &__title
        display none

@media (min-width: max-xs) and (max-width: max-lg)
  .wsFileThread
    &__texteditor
      padding 7px
      &__simpletext
        display inline-flex
      &__submit
        display inline-flex
        width 80px

@media (min-width: min-sm) and (max-width: max-sm)
  .wsFileThread
    top 69px

@media (max-width: max-xs)
  .wsFileThread
    top 69px
    width 100%
    box-shadow none
    z-index 1
    &__texteditor
      padding 7px
      &__simpletext
        display inline-flex
        margin-right 15px
        width 62%
      &__submit
        display inline-flex
        width 80px
