/**** VARIABLES ****/
/*** COULEURS ****/

mainColor = #fdfdfd // Bg header
secondColor = #215e8e // bg sidebar
thirdColor = #2571fe // bg workspace name
fourthColor = #82b2cc // bg filter sidebar

fontColor = #252525

darkGrey = #252525
grey = #ababab
lightGrey = #f0f0f0
grey-hover = #e0e0e0

folder-hover = #9BC1eb
files-hover = rgba(155,193,235,0.2)

off-white = #fdfdfd

darkBlue = #215e8e
blue = #2571fe
lightBlue = #569EDE

// c2a btn color in general context ; meaning every context but specific one related to file type (file, pageHtml, issues, threads ...)
btnCallAction = #28a745
btnCallAction-hover = darken(btnCallAction, 15%)

threadColor = #2674d3

htmlColor = #65c7f2
darkHtmlColor = darken(htmlColor, 15%)

markdownColor = #e0082b

fileColor = #263462
lightFileColor = lighten(fileColor, 15%)

taskColor = #2d5a88

issueColor = #a4835e

// calendarColor =
// dashboard =

/*************************/
/**** BOX SHADOW ****/
shadow-bottom = 0px 0px 5px 1px #606060
shadow-right = 2px 2px 5px 0px #404040
shadow-all = 1px 1px 5px 2px #ababab
shadow-all-side-blue = 0px 0px 1px 1px lightBlue
shadow-all-side-green = 0 0 1px 2px green
shadow-all-btn = 0 0 3px 3px lightBlue

/***********************/
/**** MEDIA QUERIES ****/
min-xs = 0px
max-xs = 575px

min-sm = 576px
max-sm = 767px

min-md = 768px
max-md = 991px

min-lg = 992px
max-lg = 1199px

min-xl = 1200px

