/**** VARIABLES ****/
/*** COULEURS ****/
dark-blue = #215E8E // #215E8E dark-blue
hover-blue = #205AED // #205AED color blue use in hover rules
blue = #2571FE // #2571FE blue
light-blue = #569EDE // #569EDE light-blue
opacity-blue = #82B2CC // #82B2CC  blue with light opacity
off-white = #FDFDFD // #FDFDFD off-white
dark-grey = #252525 // #252525 dark-grey
hover = #9BC1EB // #9BC1EB hover on folder
hover-files = rgba(155,193,235,0.2) // hover on files
grey = #ABABAB // #ABABAB grey
light-grey = #f0f0f0 // #f0f0f0 light grey
hover-grey = #E0E0E0 // #E0E0E0 color for hover files
green = #28a745 // #28a745 green
dark-green = #65A833 // #65A833 dark-green
purple = #7E36A0 // color icon on the sidebar menu workspace
orange = #D95620 // color icon on the sidebar menu workspace
red = #D9352B // color icon on the sidebar menu workspace

/*************************/
/**** BOX SHADOW ****/
shadow-bottom = 0px 0px 5px 1px #606060
shadow-right = 2px 2px 5px 0px #404040
shadow-all = 1px 1px 5px 2px #ABABAB
shadow-all-side-blue = 0px 0px 1px 1px light-blue
shadow-all-side-green = 0 0 1px 2px green

/***********************/
/**** MEDIA QUERIES ****/
min-xs = 0px
max-xs = 575px

min-sm = 576px
max-sm = 767px

min-md = 768px
max-md = 991px

min-lg = 992px
max-lg = 1199px

min-xl = 1200px
/***********************/

.dashboard-color
  color purple
.task-color
  color green
.docandfile-color
  color orange
.talk-color
  color blue
.calendar-color
  color red
.current-color
  color blue
.nouse-color
  color dark-grey
.check-color
  color green
