.workspace
  &__header
    display flex
    flex-wrap wrap
    margin-right 15px
  &__content
    margin 0 15px
    &__button
      display flex
      justify-content flex-end
      margin 50px 10px 0 10px
      &__btnaddworkspace
        margin-bottom 50px
        padding 10px 55px
@media (min-width: min-sm) and (max-width: max-sm)
  .workspace
    &__header
      &__btnaddworkspace
        display inline-block
        margin-right 0

@media (max-width: max-xs)
  .workspace
    &__header
      &__title
        margin 25px 0 20px 10px
    &__content
        margin 0
