@import "../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.progressMultipleFiles
  display flex
  margin 5px 0 15px
  width 425px
  &__icon
    font-size 25px
    align-self center
    margin 5px
  &__status
    align-self center
    margin-left auto
  &__bar
    width 350px
    height 5px
    margin 5px
    border-radius 10px
    background-color grey-hover

// .progressMultipleFiles > span
//   width 50%
//   height 100%
//   overflow hidden
//   position absolute
//   top 0
//   z-index 1

// .progressMultipleFiles .progressMultipleFiles-left
//   left 0

// .progressMultipleFiles .progressMultipleFiles-bar
//   width 100%
//   height 100%
//   background none
//   border-width 12px
//   border-style solid
//   position absolute
//   top 0

// .progressMultipleFiles .progressMultipleFiles-left .progressMultipleFiles-bar
//   left 100%
//   border-top-right-radius 80px
//   border-bottom-right-radius 80px
//   border-left 0
//   -webkit-transform-origin center left
//   transform-origin center left

// .progressMultipleFiles .progressMultipleFiles-right
//   right 0

// .progressMultipleFiles .progressMultipleFiles-value
//   display flex
//   justify-content center
//   align-items center
//   width 90%
//   height 90%
//   border 10px solid offWhite
//   border-radius 50%
//   font-size 24px
//   color offWhite
//   line-height 135px
//   text-align center
//   position absolute
//   top 5%
//   left 5%

// .progressMultipleFiles.blue .progressMultipleFiles-bar
//   border-color blue

// .progressMultipleFiles .progressMultipleFiles-right .progressMultipleFiles-bar
//   left -100%
//   border-top-left-radius 80px
//   border-bottom-left-radius 80px
//   border-right 0
//   -webkit-transform-origin center right
//   transform-origin center right
