@import '../../../css/Variable.styl'

.editiontitle
  width 100%

.editionmode
  display flex
  flex-direction column
  align-items center
  width 100%
  height "calc(100% - %s)" % headerHeight
  &__text
    margin-bottom standardSpacing
    width 100%
    height calc(100% - 50px) // 50px => buttons size with margin
  &__button
    margin-top standardSpacing
    width 100%
    text-align right
    &__cancel
      cursor pointer
      margin-inline-end standardSpacing
    &__submit
      cursor pointer
