.agendaInfo
  padding 30px
  &__header
    height 45px
    margin-bottom 20px
  &__content
    display flex
    align-items center
    &__link
      margin-left 15px
      padding 5px 15px
      border-radius 5px
      border 1px solid #ccc
      box-shadow inset 1px 1px 1px
