@import "~tracim_frontend_lib/src/css/Variable.styl"

.agendaInfo
  &__header
    font-weight bold
    margin-bottom standardSpacing
    margin-top standardSpacing
  &__content
    &__text
      margin-bottom standardSpacing
      &__help
        margin-left 5px
    &__link
      display flex
      align-items center
      &__icon
        padding standardSpacing
        border-start-start-radius standardBorderRadius
        border-end-start-radius standardBorderRadius
        border-width 1px
        border-style solid
        border-inline-end-width 0
        background-color offWhite
      &__url
        padding standardSpacing
        border-start-end-radius standardBorderRadius
        border-end-end-radius standardBorderRadius
        border-width 1px
        border-style solid
        background-color offWhite
        width 100%
        word-break break-word

@media (max-width: max-xs)
  .agendaInfo__content
    font-size metadataFontSize
