.contentTypeBtn
  display flex
  flex-direction column
  justify-content center
  margin 0 15px
  border-radius 10px
  padding 15px
  width 230px
  height 200px
  box-shadow shadow-all
  text-align center
  cursor pointer
  &:nth-child(1)
    margin-left 0
  &:nth-last-child
    margin-right 0
