@import "~tracim_frontend_lib/src/css/Variable.styl"

.contentTypeBtn
  display flex
  justify-content center
  margin standardSpacing 30px 0 0
  padding standardSpacing
  border-radius standardBorderRadius
  width 150px
  height 150px
  box-shadow shadow-half
  text-align center
  cursor pointer

@media (max-width: max-sm)
  .contentTypeBtn
    align-items center
    justify-content center
    margin 20px
