@import '~tracim_frontend_lib/src/css/Variable.styl'

.moreinfo
  display flex
  justify-content space-between
  flex-wrap wrap
  &__webdav
    margin 0 standardSpacing 40px 0
    &__btn
      width 300px
    &__information
      width 300px
  &__calendar
    display none
    margin-bottom 100px
    &__wrapperBtn
      margin-inline-end 290px
    &__btn
      width 300px
    &__information
      width 300px

@media (min-width: min-sm) and (max-width: max-sm)

  .moreinfo
    &__webdav__information
      width 500px

@media (max-width: max-xs)

  .moreinfo
    margin-left standardSpacing
    &__webdav
      margin-left standardSpacing
      &__information
        width 350px
