@import "~tracim_frontend_lib/src/css/Variable.styl"

.recentactivity
  width 60%
  &__header
    display flex
    justify-content space-between
    align-items center
    margin-bottom 20px
    height 45px
    &__allread
      font-size 18px
  &__list
    border 1px solid grey
    min-height 480px
    background-color offWhite
    &__item
      display flex
      align-items center
      border-bottom 1px solid grey
      padding 15px
      cursor pointer
      font-weight bold
      &.nolink
        cursor auto
        font-weight normal
      &.read
        font-weight normal
      &:hover
        background-color grey-hover
        & .badgeBackgroundColor
          background-color inherit
      &:nth-child(even):not(:hover)
        background-color lightGrey
      &__icon
        margin 0 25px
        font-size 25px
      &__name
        overflow-x hidden
        text-overflow ellipsis
        white-space nowrap
        font-size 18px
        color fontColor
  &__more
    display flex
    justify-content flex-end
    &__btn
      margin 15px
  &__empty
    text-align center
    padding 25px
    font-size 20px

//MEDIAQUERIES

@media (min-width: min-md) and (max-width: max-md)
  .recentactivity
    margin 25px 0 25px 0
    width 100%

@media (min-width: min-sm) and (max-width: max-sm)
  .recentactivity
    margin 25px 0 25px 0
    width 100%

@media (max-width: max-xs)
  .recentactivity
    margin 25px 0
    width 100%
    &__header
      display block
      height auto
      margin 0 15px 20px 15px
      &__title
        margin-bottom 20px
    &__list
      margin-top 45px
    &__more__btn
      margin-top 40px
