@import "../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.activity
  margin 0 35px 50px 0
  width 60%
  &__wrapper
    border 1px solid grey
    min-height 480px
  &__header
    display flex
    justify-content space-between
    align-items center
    margin-bottom 20px
    height 44px
    &__allread
      font-size 18px
  &__workspace
    display flex
    align-items center
    border-bottom 1px solid grey
    padding 15px
    cursor pointer
    font-weight bold
    &.read
      font-weight normal
    &:hover
      color offWhite
    &:nth-child(even):not(:hover)
      background-color lightGrey
      // &:hover
      //   background-color fourthColor
    &__icon
      margin 0 25px
      font-size 25px
    &__name
      font-size 18px
  &__more
    &__btn
      margin 15px



/**** MEDIAQUERIES ****/

/**** MEDIA 992px and 1199px ****/

@media (min-width min-lg) and (max-width: max-lg)
  .activity
    margin-right 0
    width 100%

/**** MEDIA 768px and 991px ****/

@media (min-width: min-md) and (max-width: max-md)
  .activity
    margin 25px 0 25px 0
    width 100%

/**** MEDIA 576px and 767px ****/

@media (min-width: min-sm) and (max-width: max-sm)
  .activity
    margin 25px 0 25px 0
    width 100%

/**** MEDIA 575px ****/

@media (max-width: max-xs)
  .activity
    margin 25px 0
    width 100%
    &__wrapper
      margin-top 45px
    &__header
      display block
      height auto
      margin 0 15px 20px 15px
      &__title
        margin-bottom 20px
