@import "~tracim_frontend_lib/src/css/Variable.styl"

.userstatus
  &__role
    display flex
    align-items center
    justify-content center
    &__icon
      margin 0 textSpacing
    &__text
      font-weight bold
  &__informations
    display flex
    text-align center
    font-size metadataFontSize
    width 100%
    &__notification
      margin textSpacing auto 0
      cursor pointer
      & .btnswitch
        justify-content center
    &__requests
      margin auto

@media (max-width: max-md)
  .userstatus
    &__role
      font-size metadataFontSize

@media (max-width: max-sm)
  .userstatus
    &__role
      justify-content flex-start
    &__informations
      &__notification
        display flex
        margin-inline-start standardSpacing
        margin-top 0
      &__requests
        display none
