@import "../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.userstatus
  width 35%
  &__role
    margin 20px 0
    font-size 18px
    &__msg
      margin-right 15px
    &__definition
      display flex
      &__icon
        margin-right 5px
  &__notification
    font-size 18px
    &__btn
      margin 20px 0
      border-width 1px
      border-style solid
    &__subscribe
      &__btn
        margin 20px 0
        border-width 1px
        border-style solid
        &:focus
          box-shadow none
      &__submenu
        padding 0
        &__item
          padding 10px
          cursor pointer
          &:hover
            color offWhite

// MEDIAQUERIES

@media (min-width: min-lg) and (max-width: max-lg)

  .userstatus
    width 100%
    &__role
      display flex

@media (min-width: min-md) and (max-width: max-md)

  .userstatus
    width 100%
    &__role
      display flex

@media (min-width: min-sm) and (max-width: max-sm)

  .userstatus
    width 100%

@media (max-width: max-xs)

  .userstatus
    width 100%

