@import "~tracim_frontend_lib/src/css/Variable.styl"

.userstatus
  &__item
    display flex
    align-items center
    flex-wrap wrap
    &.role, &.emailNotification
      margin-bottom 8px
    &__label
      width 45%
      margin-right 2%
      text-align right
      text-wrap nowrap
    &__value
      display flex
      align-items center
      & .role__icon
        margin 0 textSpacing 0 0
      & .spaceAccessRequest__link
        display flex
        align-items center
        color fontColor
        &__icon
          margin 0 textSpacing 0 10px
      &.emailNotification__value
        flex-grow 1

@media (max-width: max-md)
  .userstatus
    &__role
      font-size metadataFontSize

@media (max-width: max-sm)
  .userstatus
    &__role
      justify-content flex-start
    &__informations
      &__notification
        display flex
        margin-inline-start standardSpacing
        margin-top 0
      &__requests
        display none
