@import "~tracim_frontend_lib/src/css/Variable.styl"

.webdavInfo
  &__header
    height 45px
    margin-bottom 20px
  &__content
    &__text
      margin-bottom 15px
      &__help
        margin-left 5px
    &__link
      display flex
      align-items center
      &__icon
        padding 5px 15px
        border-top-left-radius 5px
        border-bottom-left-radius 5px
        border-width 1px
        border-style solid
        border-right-width 0
        background-color offWhite
      &__url
        padding 5px 15px
        border-top-right-radius 5px
        border-bottom-right-radius 5px
        border-width 1px
        border-style solid
        background-color offWhite

@media (max-width: max-xs)
  .webdavInfo__content
    font-size 14px
