@import "~tracim_frontend_lib/src/css/Variable.styl"

.webdavInfo
  &__header
    font-weight bold
    margin-bottom standardSpacing
    margin-top standardSpacing
  &__content
    &__text
      margin-bottom standardSpacing
      &__help
        margin-left 5px
    &__link
      display flex
      align-items center
      &__icon
        padding 5px standardSpacing
        border-top-left-radius 5px
        border-bottom-left-radius 5px
        border-width 1px
        border-style solid
        border-right-width 0
        background-color offWhite
      &__url
        padding 5px standardSpacing
        border-top-right-radius 5px
        border-bottom-right-radius 5px
        border-width 1px
        border-style solid
        background-color offWhite
        width 100%

@media (max-width: max-xs)
  .webdavInfo__content
    font-size metadataFontSize
