@import "~tracim_frontend_lib/src/css/Variable.styl"

.webdavInfo
  &__header
    font-weight bold
    margin-bottom standardSpacing
    margin-top standardSpacing
  &__content
    &__text
      margin-bottom standardSpacing
    &__link
      display flex
      align-items center
      &__icon
        padding standardSpacing
        border-start-start-radius standardBorderRadius
        border-end-start-radius standardBorderRadius
        border-width 1px
        border-style solid
        border-inline-end-width 0
        background-color offWhite
      &__url
        padding standardSpacing
        border-start-end-radius standardBorderRadius
        border-end-end-radius standardBorderRadius
        border-width 1px
        border-style solid
        background-color offWhite
        width 100%
        word-break break-word

@media (max-width: max-xs)
  .webdavInfo__content
    font-size metadataFontSize

// INFO - GB - 2022-01-27 - The commands below are fallbacks because border-start-end-radius, border-end-start-radius
// border-start-start-radius and border-end-end-radius are new and have a global usage below 90% according to
// https://caniuse.com/. When the global usage is higher, we can delete the fallbacks.
[dir=ltr] .webdavInfo__content__link
  &__icon
    border-top-left-radius standardBorderRadius
    border-bottom-left-radius standardBorderRadius
  &__url
    border-top-right-radius standardBorderRadius
    border-bottom-right-radius standardBorderRadius
[dir=rtl] .webdavInfo__content__link
  &__icon
    border-top-right-radius standardBorderRadius
    border-bottom-right-radius standardBorderRadius
  &__url
    border-top-left-radius standardBorderRadius
    border-bottom-left-radius standardBorderRadius
