@import '../../css/Variable.styl'

.refreshWarningMessage
  color darkGrey
  display flex
  justify-content flex-end
  margin 10px 30px 0px
  white-space nowrap
  .fa
    margin auto 5px
  &__button
    border none
    background-color transparent
    color darkGrey
    font-weight bold
    cursor pointer
