@import '../../css/Variable.styl'

.refreshWarningMessage
  background-color lightyellow
  border 1px solid warningOrange
  margin-inline-end standardSpacing
  font-weight bold
  .fas
    color warningOrange
