@import '../../css/Variable.styl'

// NOTE - SGD - 2023-01-31 - 'important' is needed as we want to override
// the default tinymce styles
.tinymce
  &-public-name, &-role-description
    margin-left textSpacing !important
  &-username, &-role-name
    color darkGrey1 !important
    margin-left textSpacing !important
  &-content-id
    color darkGrey1 !important
  &-avatar
    border-radius mentionBorderRadius
    height 25px !important
    width 25px !important

div.tox.tox-hugerte
  border-radius standardBorderRadius

.tox
  & .tox-collection--grid .tox-collection__group
    font-size 24px
// NOTE - FS - 2023-05-23 - 'important' is required as we want to override the default tinymce styles
  & .tox-dialog__body-nav-item
    font-size standardFontSize !important

  & .tox-label, & .tox-toolbar-label
    font-size standardFontSize !important

  &:not(.tox-hugerte-inline) .tox-editor-header
    box-shadow none !important
    padding 0 4px !important

.tox.tox-hugerte-aux .tox-toolbar__overflow
  padding-left 5px !important
  padding-right 5px !important

@media (max-width: max-sm)
  ul, ol
    padding-inline-start 20px
@media (max-width: max-xs)
  ul, ol
    padding-inline-start 10px
