@import '../../css/Variable.styl'

.tinymce-username
  // NOTE - SGD - 2023-01-31 - 'important' is needed as we want to override
  // the default tinymce styles
  margin-left textSpacing !important
  color darkGrey1 !important

.tinymce-avatar
  max-width 25px
  max-height 25px
  // NOTE - SGD - 2023-01-31 - 'important' is needed as we want to override
  // the default tinymce styles
  margin-right textSpacing !important

.tox-autocompleter
  max-width unset
  width max-content

.tox-collection__item-label
  line-height unset

div.tox.tox-tinymce
  border-radius standardBorderRadius
