@import "~tracim_frontend_lib/src/css/Variable.styl"

.CustomFormManager
  position relative
  &__title
    margin-bottom 15px
    max-width calc(100% - 100px) // CH - INFO - 20200126 - 100px is the validate button width in english
    font-size fontSizeMedium

.DisplayTitle
  margin 15px 0 0
  &:first-child
    margin-top 0

.DisplaySchemaPropertyString
  font-weight normal
  &__label
    margin-right 10px
    &::after
      content ':'
      margin-left 3px
    &.noLabel
      margin-right 0
      &::after
        content ''
        margin-left 0

.DisplaySchemaArray
  margin 0 0 14px 0
