// .CustomFormManager

.SchemaAsView
  margin 20px 0

.DisplaySchemaProperty
  font-weight normal
  &__label
    margin-right 10px
    &.noLabel
      margin-right 0
      & ::after
        content ':'
        margin-left 3px
