@import "~tracim_frontend_lib/src/css/Variable.styl"

.CustomFormManager
  position relative
  &__title
    margin-bottom standardSpacing
    max-width calc(100% - 100px) // CH - INFO - 2020-01-26 - 100px is the validate button width in english
    font-size titleFontSize

.DisplayTitle
  margin standardSpacing 0 0
  &:first-child
    margin-top 0

.DisplaySchemaPropertyString
  display flex
  white-space pre-wrap
  font-weight normal
  & img 
    max-width 100%
    margin-top standardSpacing

  &__label
    font-weight bold

  &:not(:last-child)
    margin-bottom 0.75ex

.DisplaySchemaArray
  margin 0 0 14px 0
