@import '~tracim_frontend_lib/src/css/Variable.styl'

.Information
  &__staticData
    margin-top 15px
    &__registrationDate
      &__label
        display inline-block
        margin-right standardSpacing
      &__value
        display inline-block
