@import "~tracim_frontend_lib/src/css/Variable.styl"

.profile__mainBar__info
  &__wrapper
    width 90%
  &__user
    overflow hidden
    text-overflow ellipsis
    &__name
      overflow hidden
      text-overflow ellipsis
    &__username
      overflow hidden
      text-overflow ellipsis

@media (max-width: max-xs)
  .profile__mainBar__info__wrapper
    max-width 80%

