@import '../../css/Variable.styl'

.badge
  display inline-block
  margin 0 textSpacing
  padding 3px
  border 1px solid mediumGrey
  border-radius standardBorderRadius
  background-color grey-hover
  font-family monospace
  font-size metadataFontSize
  color lightDarkGrey
