@import '../../css/Variable.styl'

.badge
  background-color lightGrey2
  border-radius standardBorderRadius
  color darkGrey2
  display inline-block
  font-family monospace
  font-size metadataFontSize
  margin 0 textSpacing
  padding textSpacing
