@import '../../css/Variable.styl'

// MEDIAQUERIES

@media (min-width: min-md) and (max-width: max-md)
  .newVersionBtn
    & > .genericButton__icon
      margin 0
    & > .genericButton__label
      display none

@media (min-width: min-sm) and (max-width: max-sm)
  .newVersionBtn
    & > .genericButton__icon
      margin 0
    & > .genericButton__label
      display none

@media (max-width: max-xs)
  .newVersionBtn
    & > .genericButton__icon
      margin 0
    & > .genericButton__label
      display none
