@import "../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.html-document
  height calc(100% - 61px)
  &__header
    &__editionmode
      display none
    &__icon
      .fa-file-text-o
        color white
  &__lastversionbtn
    & > i
      font-size 20px
  &__contentpage
    width 100%
    &__left
      &__wrapper
        height 100%
        overflow-y auto
    &__content
      height calc(100% - 120px)
      &__left
        background-color offWhite
    &__textnote
      padding 25px
      height 100%
      overflow-y auto
      background-color offWhite
      &__state
        display flex
        align-items center
        justify-content space-between
        margin-bottom 15px
        padding 5px 15px
        background-color #fee498
        border-radius 10px
        &__msg > i
          margin-right 8px
        &__btnrestore
          cursor pointer
          & > i
            margin-right 8px
          &.link
            color #453d9b
            &:hover
              color #1a0dab
              text-decoration underline
      &__version
        display flex
        justify-content flex-end
        align-items center
        text-align right
        opacity 0.7
      &__lastversion
        margin-left 15px
        font-weight bold
      &__text
        font-size 14px
      &__edition
        display none
    &__messagelist
      min-height 70px
      padding 0 20px 10px
      &__item
        &__content
          color darkGrey
      &__version
        &__btn
          padding 5px 25px
          border-radius 5px
          width 145px
          color white
          font-size 17px
          & > i
            margin-right 10px
            color darkGrey
            font-size 20px
        &__date
          color fontColor
          font-size 17px

.messagelistOpen
  .timeline__messagelist
    flex 0
    min-height 0

.received
  .timeline__messagelist__item__content
    background-color htmlColor

// MEDIAQUERIES

@media (min-width: min-sm) and (max-width: max-lg)
  .html-document
    &__contentpage
      &__left
        &__wrapper
          padding 0
      &__textnote
        margin 0

@media (max-width: max-xs)
  .html-document
    &__contentpage
      &__left
        &__wrapper
          padding 0
      &__textnote
        margin 0
