
@import "~tracim_frontend_lib/src/css/Variable.styl"

.html-document
  height "calc(100% - %s)" % headerHeight
  &__header
    &__editionmode
      display none
    &__icon
      .fa-file-alt
        color white
  &__editionmode
    &__container
      position relative
      height 100%
      min-height 400px
  &__lastversionbtn
    cursor pointer
    margin-right standardSpacing
    & > i
      font-size 20px
  &__contentpage, &__contentpage__edition
    width 100%
    &__option
      display flex
      justify-content flex-end
    &__left
      &__wrapper
        height "calc(100% - %s)" % (2 * headerHeight) // INFO - G.B. - 20210623 - app header + tracim header
        overflow-y auto
        display flex
        flex-direction column
    &__content
      &__left
        background-color offWhite
    &__textnote
      padding 5px
      flex 1
      overflow-y auto
      background-color offWhite
      &__text
        margin 5px 5px 5px 25px
      &__mentions
        font-weight bold
        margin standardSpacing 0
      &__state
        display flex
        align-items center
        justify-content space-between
        margin-bottom 15px
        padding 5px 15px
        background-color #fee498
        border-radius 10px
        &__msg > i
          margin-right 8px
        &__btnrestore
          cursor pointer
          & > i
            margin-right 8px
          &.link
            color #453d9b
            &:hover
              color #1a0dab
              text-decoration underline
      &__top
        margin-bottom standardSpacing
        margin-inline-start 25px
        display flex
        &__translation
          font-size fontSizeSmall
      &__edition
        display none
      &__text_translated
        border-left-width 2px
        border-left-style solid
        padding-left 5px
        color lightDarkGrey
    &__messagelist
      min-height 70px
      padding 0 20px standardSpacing
      &__item
        &__content
          color darkGrey
      &__version
      // MB - 2021-05-21 - FIXME (#4671 - https://github.com/tracim/tracim/issues/4671)
      // This bit of code doesn't seem to be used anywhere
        &__btn
          padding 5px 25px
          border-radius 5px
          width 145px
          color white
          font-size 17px
          & > i
            margin-right standardSpacing
            color darkGrey
            font-size 20px
        &__date
          color fontColor
          font-size 17px

.messagelistOpen
  .timeline__messagelist
    flex 0
    min-height 0

.received
  .timeline__messagelist__item__content
    background-color htmlColor

.buttonLink
  border none
  background-color transparent
  text-decoration underline
  padding 0 5px
  cursor pointer
  &:hover
    text-decoration underline

// MEDIAQUERIES

@media (min-width: min-sm) and (max-width: max-lg)
  .html-document
    &__contentpage
      &, &__contentpage__edition
        &__left
          &__wrapper
            padding 0
        &__textnote
          margin 0
      &__edition__content
        &__left
          height 100%

@media (max-width: max-xs)
  .html-document
    &__lastversionbtn
      > span
        display none
      > i
        margin 0
    &__contentpage
      &, &__contentpage__edition
        &__left
          &__wrapper
            padding 0
        &__textnote
          margin 0
      &__edition__content
        &__left
          height 100%
