# Created by .ignore support plugin (hsz.mobi)
.idea/
.git/
node_modules/
src/debug.js
dist/workspace_advanced.app.js
dist/workspace_advanced.app.standalone.js
dist/workspace_advanced.app.optimized.js
