import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  ...defaultDebug,
  config: {
    ...defaultDebug.config,
    slug: 'folder',
    faIcon: 'folder',
    hexcolor: '#414548',
    creationLabel: 'Create a folder',
    label: 'Folder'
  },
  content: {
    ...defaultDebug.content,
    content_id: 0,
    content_type: 'folder',
    workspace_id: 0
  }
}
