@import '~tracim_frontend_lib/src/css/Variable.styl'

.logbook
    &__timeline__entries__entry__data__description
        &__overflow
            max-height 220px // M.L - 2024/06/26 - 10 times the value for original value for a line (44px)
            overflow hidden
        &__overflow__button
            align-self flex-start
            font-size metadataFontSize
            font-weight bold
            margin-top textSpacing
            color darkGrey1
