@import '../../../css/Variable.styl'

.singleChoiceList
  margin 0
  padding 0
  list-style none
  &__item
    display flex
    margin 10px 25px 0px 0
    cursor pointer
    &__radioButton
      cursor pointer
      margin-right 0.5rem
      & > input
        cursor pointer
    &__text
      display flex
      &__icon
        margin-right 0.25rem
      &__content
        &__description
          font-size fontSizeSmall
        &__name
          font-weight bold
