@import '../../../css/Variable.styl'

.singleChoiceList
  margin 0
  padding 0
  list-style none
  &__item
    display flex
    margin 10px 25px 0px 0
    cursor pointer
    &__radiobtn
      cursor pointer
      & > input
        cursor pointer
    &__text
      display flex
      &__content
        &__description
          font-size 14px
        &__name
          font-weight bold
