@import '../../../css/Variable.styl'

.singleChoiceList
  margin 0
  padding 0
  list-style none
  &__item
    display flex
    margin-top standardSpacing
    margin-inline-end 25px
    margin-bottom 0px
    margin-inline-start 0px
    cursor pointer
    &__radioButton
      cursor pointer
      margin-inline-end 0.5rem
      & > input
        cursor pointer
    &__text
      display flex
      &__icon
        margin-inline-end 0.25rem
      &__content
        &__description
          font-size metadataFontSize
        &__name
          font-weight bold
