@import "../../css/Variable.styl"

.breadcrumbs
  display flex
  margin 0
  padding 0
  list-style none
  font-size metadataFontSize
  unicode-bidi plaintext
  &.hidden
    display none
  &__item
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    border 1px solid yellow
    unicode-bidi plaintext
    &:not(:first-child)::before
      content '>'
      margin 0 textSpacing
      color fontColor
    [dir=rtl] &:not(:first-child)::before
      border 1px solid blue
      content '<'
    & > a
      color inherit !important
      &:hover
        border-bottom 1px solid
    & i
        margin-inline-end textSpacing
    &.root
      white-space nowrap
    &__text
      border 1px solid red

@media (max-width: max-md)
  .breadcrumbs__item
    &.root
      & > .breadcrumbs__item__text
        display none
      & i
        margin 0

@media (max-width: max-xs)
  .breadcrumbs
    position static
