@import "../../css/Variable.styl"

.breadcrumbs
  display flex
  margin 0
  padding 0
  list-style none
  font-size fontSizeSmall
  &__item
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    &:not(:first-child)::before
      content '>'
      margin 0 5px
      color fontColor
    & > a
      color inherit !important
      &:hover
        border-bottom 1px solid
    & i
        margin-inline-end 5px
        color lightDarkGrey

@media (max-width: max-xs)
  .breadcrumbs
    position static

@media (max-width: max-md)
  .breadcrumbs__item
    &__home
      display none
    & i
      margin 0
