@import "../../css/Variable.styl"

.shareDownload
  padding 0 standardSpacing
  &__management
    &__header
      display flex
      justify-content flex-end
      margin-bottom standardSpacing
  &__btn
    margin auto 0
  &__email
    padding standardSpacing 0px
    display flex
    &__input
      font-size standardFontSize
    &__icon
      background-color transparent
      border none
      cursor pointer
      margin auto
      color mediumDarkGrey
      padding-inline-start standardSpacing
      padding-inline-end 0
      &:focus
        box-shadow 0 0 0 0
        border 0 none
        outline 0
  &__password
    display flex
    flex-direction column
    &__active
      display flex
      margin-bottom standardSpacing
    &__wrapper
      display flex
      flex-grow 2
      border-width 1px
      border-style solid
      border-radius standardBorderRadius
      border-color lightgray
      background-color white
      padding-inline-start standardSpacing
      & > i
        margin auto
        color grey
    &__input
      border none
      font-size standardFontSize
    &__icon
      background-color transparent
      border none
      cursor pointer
      padding-inline-end standardSpacing
      padding-inline-start textSpacing
      &__random
        padding-inline-end 0
        padding-inline-start standardSpacing
      &:focus
        border 0 none
        outline 0
    &__link
      color mediumDarkGrey
      margin-left auto
      cursor pointer
      &:hover
        color fontColor
        text-decoration underline
  &__buttons
    display flex
    margin-top standardSpacing
    &__cancel
      margin-right standardSpacing
      margin-left auto
  &__emailWarning
    margin-top standardSpacing

@media (min-width: min-xs) and (max-width: max-lg)
  .shareDownload
    margin-top 0px
    height calc(100% - 65px)  // 65px is the width of the rightPart header
    width 100%
