@import '../../../css/Variable.styl'

.titleListHeader
  &__icon
    padding-inline-start textSpacing
    color darkGrey1
  &__notSelected > span
    margin-inline-end bigIconSize
  &:hover
    & .titleListHeader__icon
      color fontColor
