@import '../../css/Variable.styl'

.timeline
  display flex
  flex-direction column
  margin 10px 10px 10px 5px
  border-radius 10px
  height calc(100% - 10px) // 10px => margin
  &__header
    flex 0 1 auto
    border-radius 10px 10px 0 0
    padding 15px
    text-align center
    font-size 20px
    color darkGrey
    background-color grey-hover
  &__messagelist
    flex 1 1 auto
    margin-bottom 0
    padding-left 0
    border-bottom 1px solid grey
    background-color off-white
    overflow-Y auto
    list-style none
    &__item
      padding 0 25px 0 35px
      &__avatar
        position relative
        top 40px
        left -20px
        border-radius 50%
        width 50px
        height 50px
        & > img
          width 45px
          height 45px
          border-radius 25px
      &__createhour
        margin-left 35px
        opacity 0.7
        font-size 14px
      &__content
        display inline-block
        border 1px solid grey
        border-radius 5px
        padding 15px
        background-color off-white
        font-size 15px
    &__version
      display flex
      justify-content space-between
      margin 40px 0 20px 0
      padding 10px 15px
      width 100%
      background-color lightGrey
      &__btn
        display flex
        justify-content center
        padding 5px 20px
        border-radius 5px
        width 145px
        color white
        font-size 17px
        cursor pointer
        & > i
          margin-right 10px
          color off-white
          font-size 22px
      &__date
        color fontColor
        font-size 17px
        margin auto 0
  &__texteditor
    flex 0 1 auto
    border-top 1px solid grey
    padding 45px 10px
    &__textinput
      width 70%
      & > textarea
        border-radius 5px
        border 1.5px solid grey
        padding 5px
        height 80px
        width 100%
    &__wrapper
      display flex
      flex-direction column
      justify-content center
    &__submit
      margin 10px 0
      &__btn
        display inline-block
        cursor pointer
        &__icon
          display inline-block
          margin-left 20px

.received
  text-align right
  .timeline__messagelist__item
    &__avatar
      left 93%
    &__createhour
      margin-left 0
      margin-right 35px
    &__content
      color white

.activeAdvancedText
  .timeline
    &__texteditor
      padding 10px
      height 1500px
      &__textinput
        width 100%
      &__wrapper
        flex-direction row
        align-items center
        width 100%
      &__advancedtext
        margin-right 20px


/**** MEDIA 576px & 1199px ****/

@media (min-width: min-sm) and (max-width: max-lg)

  .timeline
    &__messagelist
      min-height 350px
      max-height 700px
      &__item
        margin-right 55px

/**** MEDIA 576px & 767px ****/

@media (min-width: min-sm) and (max-width: max-sm)

  .timeline
    &__messagelist__item
      margin-right 35px
    &__texteditor
      display flex
      align-items center
      &__wysiwyg
        width 70%
        & > textarea
          border-radius 5px
          height 40px
      &__submit
        width 30%
        margin-left 10px

/**** MEDIA 575px ****/

@media (max-width: max-xs)

  .timeline
    &__texteditor
      display flex
      align-items center
      &__wysiwyg
        width 70%
        & > textarea
          border-radius 5px
          height 40px
      &__submit
        width 30%
        margin-left 10px
