# Created by .ignore support plugin (hsz.mobi)
.idea/
.git/
node_modules/
dist/share_folder.app.js
dist/share_folder.app.standalone.js
dist/share_folder.app.optimized.js
src/debug.js
test/fixture/defaultProps.js
