@import "~tracim_frontend_lib/src/css/Variable.styl"

.card
  border none
  box-shadow shadow-right
  border-radius 7px 7px 5px 5px
  &-header
    color offWhite
    font-size fontSizeTitle
    border-radius 5px 5px 0 0
  .btnSubmit
    display block
    border none
    width 150px
    background-color green
    color offWhite
    cursor pointer
