@import '../../css/Variable.styl'

.dropdown
  color fontColor
  &.transparentButton
    padding 0

.dropdownMenu
  padding 0
  &__image
    margin-right standardSpacing
    width 20px
    height 15px
    vertical-align middle

.dropdownMenuItem
  padding 0
  cursor pointer
  font-size standardFontSize
  & > *
    padding standardSpacing
    width 100%
    height 100%
    display flex
    align-items baseline
    color fontColor
    &:hover
      color fontColor
      text-decoration none
  & i
    margin-right standardSpacing
  &:hover:not(:active)
    background-color grey-hover

.dropdownMenuButton.btn
  display flex
  align-items center
