@import '../../css/Variable.styl'

.dropdown
  color fontColor
  height 100%
  &.transparentButton
    padding 0

.dropdownMenu
  padding 0
  &__image
    margin-inline-end standardSpacing
    width 20px
    height 15px
    vertical-align middle

.dropdownMenuItem
  padding 0
  cursor pointer
  font-size standardFontSize
  & > *
    padding standardSpacing
    width 100%
    height 100%
    display flex
    align-items baseline
    color fontColor
    &:hover
      color fontColor
      text-decoration none
  & i
    margin-inline-end textSpacing
  &:hover:not(:active)
    background-color grey-hover
  & .collapseNavbar
    height 100%
    width 100%

.dropdownMenuButton.btn
  display flex
  align-items center
  padding standardSpacing
  height 100%
  & i
    margin-inline-end textSpacing
  &::after
    margin-inline-end textSpacing
    margin-inline-start textSpacing
