@import "~tracim_frontend_lib/src/css/Variable.styl"

// NOTE - S.G. - 2021-04-01 - The positioning properties (flex/sizes) of the "columns"
// should be kept in sync with Favorites.styl
// Or a better solution (flex-grid?) be implemented.
.contentListItem
  display flex
  justify-content space-between
  color fontColor
  height 65px
  align-items center
  &:hover
    color fontColor
  &__link
    z-index 1
    position absolute
    width 100%
    height 100%
  &__type
    font-size fontSizeTitle
    display flex
    flex-direction column
    align-items center
    width 90px
    place-content center
    & > span
      font-size fontSizeSmall
  &__name_path
    flex 2
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
  &__modification
    flex 1
    &.timedEvent
      overflow hidden
  &__information
    flex 1
    color fontColor
    width 160px
    display flex
    align-items center
    &__comments
      display inline-block
      min-width 5em // RJ - 2020-02-23 - needed for alignment. should allow hundreds of comments
      padding-right 10px
    & > *
      font-size fontSizeSmall
    & > i
      margin-inline-end 5px
      margin-inline-start 2px

@media (max-width: max-lg)
  .contentListItem
    &__type
      &__header
        margin 15px 10px
      &__content
        width 50px
        & > span
          display none
    &__modification
      overflow hidden
      text-overflow ellipsis
    &__name_path
      padding-inline-start 10px
  .timedEvent.contentListItem__modification
    & .timedEvent__operation
      display none

@media (max-width: max-md)
  .contentListItem
    &__information
      display none

@media (max-width: max-sm)
  .contentListItem
    & .contentListItem
      &__type__content
        width 50px
      &__title
        padding 0 5px
    &__modification
      display none
    &__typeAndTitle
      display unset
      padding 15px 5px
      flex 2
  .content__header
    & .contentListItem
      &__title
        display none
  .advancedSearch__content .content .breadcrumbs
      display none
