@import "~tracim_frontend_lib/src/css/Variable.styl"

.contentType
  font-size mainTitle
  display flex
  flex-direction column
  align-items center
  width 90px
  place-content center
  & > span
    font-size smallTitle

@media (max-width: max-lg)
  .contentType
    & > span
      display none
