@import "~tracim_frontend_lib/src/css/Variable.styl"

.EmailNotificationTypeButton
  display flex
  flex-direction row
  justify-content space-evenly
  align-items center
  &__title
    margin-right 15px
  &__form
    display flex
    flex-direction row
    justify-content space-evenly
    align-items center
    &__label
      display flex
      margin 0 15px 0 0
      cursor pointer
      border-width 0 0 4px 0
      border-style solid
      &:not(.checked) // INFO - 20230228 - used this trick to have .primaryBorderColor overrides the transparent
        border-color transparent
      &__input
        margin-right 10px
  &__popover
    display flex
    flex-direction column
    font-size metadataFontSize
    &__type
      display flex
      flex-direction column
      padding-bottom standardSpacing
      border-bottom 1px solid darkGrey1
      margin-bottom standardSpacing
      &:last-child
        padding-bottom 0
        border-bottom none
        margin-bottom 0
      &__label
        font-weight bold

@media (max-width: max-lg)
  .EmailNotificationTypeButton
    flex-direction column

