@import "~tracim_frontend_lib/src/css/Variable.styl"

.flashmessage
  position fixed
  display flex
  justify-content center
  margin-left calc(50% - 400px)
  z-index 60
  &__container
    margin-top 50px
    border 0
    border-radius standardBorderRadius
    width 800px
    background lightGrey
    box-shadow shadow-all
    overflow hidden
    &__header
      border-top-right-radius 10px
      border-top-left-radius 10px
      width 100%
      height 8px
    &__close
      float right
      margin 5px 0 0 0
      &__icon
        padding-right standardSpacing
        cursor pointer
    &__content
      display flex
      align-items center
      margin standardSpacing 0
      &__icon
        padding 0 25px
        font-size bigIconSize
      &__text
        &__title
          font-weight bold
        &__paragraph
          padding-right 20px

.connection_error
  z-index 2000

@media (max-width: max-sm)
  .flashmessage
    margin-left 0px
    width 100%
    &__container
      width 100%
