@import '~tracim_frontend_lib/src/css/Variable.styl'

.timedEvent
  font-size smallTitle
  white-space nowrap
  display flex
  flex-direction column
  &__top
    padding 0
    margin 0
    font-size smallTitle
    &::after
      display none
    &:hover
      text-decoration underline
    &Contents
      text-overflow ellipsis
      overflow hidden
  &__bottom
    overflow hidden
    display flex
    flex-direction row
  &__author
    overflow hidden
    font-weight bold
    text-overflow ellipsis
  & .dropdownMenuItem
    cursor auto
    border-bottom 1px solid mediumGrey
    padding-right 5px
    font-size fontStandard
    &:hover
      background-color offWhite

@media (max-width max-sm)
  .rootTimedEvent__operation
      display none
