@import "../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.homepagecard
  margin 100px auto
  padding 25px 35px
  width 600px
  box-shadow 2px 2px 5px 0 #454545
  text-align center
  &__title
    margin-bottom 35px
    font-size 35px
    font-weight 600
    text-transform uppercase
    &.hasworkspace
      font-size 22px
  &__user
    margin-bottom 25px
    &__avatar
      display inline-block
      margin 0 auto 15px auto
  &__thanks
    margin-bottom 35px
    font-size 20px
  &__delimiter
    margin 0 auto 35px auto
  &__text
    margin-bottom 35px
    font-size 20px
    font-weight bold
    &__user__top
      font-weight bold
      margin-bottom 25px
  &__btn
    margin 20px 0
    padding 15px 10px
    width 300px
    cursor pointer
  &__endtext
    margin 35px auto 0 auto
    font-size 20px

// MEDIAQUERIES

@media (min-width: min-sm) and (max-width: max-sm)

  .homepagecard
    width 500px

@media (max-width: max-xs)

  .homepagecard
    width 100%
