@import "~tracim_frontend_lib/src/css/Variable.styl"

.homepagecard
  margin 0 auto
  padding 25px 35px
  width 600px
  box-shadow 2px 2px 5px 0 #454545
  text-align center
  &__title
    margin-bottom 35px
    font-size titleFontSize
    font-weight 600
    text-transform uppercase
    &.hasworkspace
      font-size titleFontSize
  &__user
    margin-bottom 25px
    &__avatar
      display inline-block
      margin 0 auto 15px auto
  &__thanks
    margin-bottom 35px
    font-size titleFontSize
  &__delimiter
    margin 0 auto 35px auto
  &__buttons
    display flex
    & > *
      margin-inline-start 5px
      margin-inline-end 5px
  &__text
    margin-bottom 35px
    font-size titleFontSize
    font-weight bold
    &__user__top
      font-weight bold
      margin-bottom 25px

  &__endtext
    margin 35px auto 0 auto
    font-size titleFontSize
  &__body
    display flex
    align-items center
    flex-direction column
    justify-content center

// MEDIAQUERIES

@media (min-width: min-sm) and (max-width: max-sm)

  .homepagecard
    width 500px

@media (max-width: max-xs)

  .homepagecard
    width 100%
    height 100%
    box-shadow none
    border-radius 0px
