@import "../../css/Variable.styl"

.file__upload
  &__list
    flex 1
    max-height 260px
    overflow-y auto
    &__item
      display flex
      align-items center
      &__label
        width 100%
        line-break anywhere
      &__error
        margin auto 0
        color errorRed
