.favoriteTable__row
  color fontColor
  &:hover
    color fontColor
  &__link
    z-index 1
    position absolute
    // NOTE - 2022-11-30 - 75px is the 'listIconWidth' variable, variables are not working in calc
    width calc(100% - 75px)
    height 100%
  &__btn
    padding 0
