0 * * * * root /etc/tracim/send_summary_mails.sh hourly >> /var/tracim/logs/cron_task_tracim_send_summary_mails.log 2>&1
0 0 * * * root /etc/tracim/send_summary_mails.sh daily >> /var/tracim/logs/cron_task_tracim_send_summary_mails.log 2>&1
0 0 * * 0 root /etc/tracim/send_summary_mails.sh weekly >> /var/tracim/logs/cron_task_tracim_send_summary_mails.log 2>&1
