@import "../../../node_modules/tracim_frontend_lib/src/css/Variable.styl"

.research
  display flex
  padding .5rem .75rem
  line-height 1.25
  background-color white
  border-width 1px
  border-style solid
  border-radius .25rem
  &__text
    border none
    background-color transparent
    &:focus
      box-shadow 0 0 0 0
      border 0 none
      outline 0
  &__btn
    color grey
    border none
    background-color transparent
    &:focus
      box-shadow 0 0 0 0
      border 0 none
      outline 0
