@import '../../css/Variable.styl'

.textinput__box
  position relative
  display flex
  border-width 1px
  border-style solid
  border-radius standardBorderRadius
  padding textSpacing
  background-color offWhite
  &:focus-within
    border 1px solid lightBlue

.textinput__icon
  color grey
  margin-top auto
  margin-bottom auto
  top 0
  bottom 0
  right standardSpacing
  height 1em

.textinput__text
  border none
  flex 1
  &:focus
    box-shadow 0 0 0 0
    border 0 none
    outline 0
