@import '../../css/Variable.styl'

.textinput__box
  position relative
  display flex
  border-width 1px
  border-style solid
  border-radius standardBorderRadius
  padding textSpacing

.textinput__icon
  color grey
  right 0
  margin-top auto
  margin-bottom auto
  top 0
  bottom 0
  right standardSpacing
  height 1em

.textinput__text
  border none
  flex 1
