@import '../../css/Variable.styl'

.textinput__box
  position: relative

.textinput__icon
  color: grey
  position: absolute
  margin-top: auto
  margin-bottom: auto
  top: 0
  bottom: 0
  right: standardSpacing
  height: 1em
