import { defaultDebug } from 'tracim_frontend_lib'

export const debug = {
  ...defaultDebug,
  config: {
    ...defaultDebug.config,
    slug: 'file',
    faIcon: 'fas fa-paperclip',
    hexcolor: '#ffa500',
    creationLabel: 'Upload files',
    label: 'File',
    workspace: {
      downloadEnabled: true
    }
  },
  content: {
    ...defaultDebug.content,
    content_id: 0,
    content_type: 'file',
    workspace_id: 0
  }
}
